openapi: 3.0.1
info:
  title: BTG Pactual Banking as a Service (OpenFinance)
  version: 2.0.0
  description: "Digital plataform developed by BTG Pactual engineers as an on demand banking service provider.\r\n\r\n[**Documentation Hub**](https://developer.btgpactual.com/dochub)  \r\n    - [Commom Methods](https://developer.btgpactual.com/doccm)  \r\n    - [Onboarding](https://developer.btgpactual.com/docob)  \r\n    - [Transactions](https://developer.btgpactual.com/doctr)  \r\n    - [Openfinance](https://developer.btgpactual.com/docbk)  \r\n    - [PIX Commom Funcionalities](https://developer.btgpactual.com/docpc)  \r\n    - [PIX Indirect Participant](https://developer.btgpactual.com/docpi)  \r\n    - [PIX Merchant Clients](https://developer.btgpactual.com/docpm)  \r\n\r\n|BaaS Commom Methods API| |\r\n|------------------------|-------------------------------|\r\n|Sandbox |https://api.sandbox.developer.btgpactual.com/bk|\r\n|Sandbox (with mTLS) |https://sandbox.developer.api.btgpactual.com/bk|\r\n|Production |https://api.developer.btgpactual.com/bk|\r\n|Production (with mTLS) |https://developer.api.btgpactual.com/bk|\r\n\r\n\r\n## Response Envelopes\r\n\r\nAll our responses follow the same pattern. They are sent respecting a default response envelope as shown bellow.\r\n```\r\n# Default Envelope\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 204\r\n}\r\n\r\n# Envelope with response body\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 201,\r\n    \"body\": {\r\n        \"exampleValue\": \"30306294\"\r\n    }\r\n}\r\n\r\n```\r\n\r\n## Error Messages\r\n\r\nAll errors returned from one of ours APIs will follow the same pattern as shown bellow. They will be always contained in an invelope as the example. \r\n\r\n\r\n```\r\n# Default Envelope\r\n{\r\n    \"status\": 404,\r\n    \"version\": \"1.0.0\"\r\n}\r\n\r\n# Envelope with optional error codes\r\n{\r\n    \"version\": \"1.0.0\",\r\n    \"status\": 400,\r\n    \"errors\": [\r\n        {\r\n            \"errorCode\": \"PCE001\",\r\n            \"message\": \"The field 'name' is mandatory.\"\r\n        }\r\n    ]\r\n}\r\n```\r\n"
  contact:
    name: BTG Pactual Team
    url: https://developer.btgpactual.com
    email: baas@btgpactual.com
servers:
  - url: https://api.sandbox.developer.btgpactual.com/bk
    description: BaaS API (Sandbox)
  - url: https://sandbox.developer.api.btgpactual.com/bk
    description: BaaS API (Sandbox with mTLS)
  - url: https://api.developer.btgpactual.com/bk
    description: BaaS API (Production)
  - url: https://developer.api.btgpactual.com/bk
    description: BaaS API (Production with mTLS)
paths:
  /organization/pisp:
    get:
      tags:
        - Organizations
      parameters:
        - name: clearingCodeOrName
          description: Filter organizations by ClearingCode or Name
          schema:
            type: string
          in: query
        - name: clearingCode
          description: Filter organizations by ClearingCode
          schema:
            type: string
          in: query
        - name: name
          description: Filter organizations by Name
          schema:
            type: string
          in: query
        - name: ispb
          description: Filter organizations by Ispb
          schema:
            type: string
          in: query
        - name: cnpj
          description: Filter organizations by Cnpj
          schema:
            type: string
          in: query
        - name: organizationId
          description: Filter by organizationId
          schema:
            type: string
          in: query
        - name: parentOrganizationReference
          description: Filter by parentOrganizationReference
          schema:
            type: string
          in: query
        - name: parentAuthorizationServerId
          description: Filter by parentAuthorizationServerId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkOrgLstResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-organization-pisp
      summary: List of PISP organizations (Payment initiantion service provider - RoleClaim PAGTO)
      description: This method is called to search organizations enabled as PISP (Payment initiantion service provider - RoleClaim PAGTO)
  /organization/data:
    get:
      tags:
        - Organizations
      parameters:
        - name: clearingCodeOrName
          description: Filter organizations by ClearingCode or Name
          schema:
            type: string
          in: query
        - name: clearingCode
          description: Filter organizations by ClearingCode
          schema:
            type: string
          in: query
        - name: name
          description: Filter organizations by Name
          schema:
            type: string
          in: query
        - name: ispb
          description: Filter organizations by Ispb
          schema:
            type: string
          in: query
        - name: cnpj
          description: Filter organizations by Cnpj
          schema:
            type: string
          in: query
        - name: organizationId
          description: Filter by organizationId
          schema:
            type: string
          in: query
        - name: parentOrganizationReference
          description: Filter by parentOrganizationReference
          schema:
            type: string
          in: query
        - name: parentAuthorizationServerId
          description: Filter by parentAuthorizationServerId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkOrgLstResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-organization-data
      summary: List of data provider/receiver organizations (Data transmitting/receiving institution - RoleClaim DADOS)
      description: This method is called to search organizations enabled as Data provider/receiver (Data transmitting/receiving institution - RoleClaim DADOS)
  /organization/account:
    get:
      tags:
        - Organizations
      parameters:
        - name: clearingCodeOrName
          description: Filter organizations by ClearingCode or Name
          schema:
            type: string
          in: query
        - name: clearingCode
          description: Filter organizations by ClearingCode
          schema:
            type: string
          in: query
        - name: name
          description: Filter organizations by Name
          schema:
            type: string
          in: query
        - name: ispb
          description: Filter organizations by Ispb
          schema:
            type: string
          in: query
        - name: cnpj
          description: Filter organizations by Cnpj
          schema:
            type: string
          in: query
        - name: organizationId
          description: Filter by organizationId
          schema:
            type: string
          in: query
        - name: parentOrganizationReference
          description: Filter by parentOrganizationReference
          schema:
            type: string
          in: query
        - name: parentAuthorizationServerId
          description: Filter by parentAuthorizationServerId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkOrgLstResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-organization-account
      summary: List of account holding organizations (Account holding institution - RoleClaim CONTA)
      description: This method is called to search account holding organizations (Account holding institution - RoleClaim CONTA)
  /organization/credit:
    get:
      tags:
        - Organizations
      parameters:
        - name: clearingCodeOrName
          description: Filter organizations by ClearingCode or Name
          schema:
            type: string
          in: query
        - name: clearingCode
          description: Filter organizations by ClearingCode
          schema:
            type: string
          in: query
        - name: name
          description: Filter organizations by Name
          schema:
            type: string
          in: query
        - name: ispb
          description: Filter organizations by Ispb
          schema:
            type: string
          in: query
        - name: cnpj
          description: Filter organizations by Cnpj
          schema:
            type: string
          in: query
        - name: organizationId
          description: Filter by organizationId
          schema:
            type: string
          in: query
        - name: parentOrganizationReference
          description: Filter by parentOrganizationReference
          schema:
            type: string
          in: query
        - name: parentAuthorizationServerId
          description: Filter by parentAuthorizationServerId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkOrgLstResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-organization-credit
      summary: List of credit correspondent organizations (Credit correspondent - RoleClaim CCORR)
      description: This method is called to search credit correspondent organizations (Credit correspondent - RoleClaim CCORR)
  /organization/{authorizationServerId}:
    get:
      tags:
        - Organizations
      parameters:
        - name: authorizationServerId
          description: Id of organization authorization server
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkOrganization'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-organization-id
      summary: Get a organization by authorizationServerId
      description: This method is called to get a organization by authorizationServerId
  /provider/payment/consent/{pactualId}:
    get:
      tags:
        - Provider - Payment Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-consent
      summary: Get a Payment Consent
      description: Get a Payment Consent
  /provider/payment/consent/redirect:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedirectPaymentConsentRequest'
        required: true
      tags:
        - Provider - Payment Consent
      responses:
        '200':
          $ref: '#/components/responses/RedirectPaymentConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: redirect-payment-consent
      summary: Redirect a Payment Consent
      description: 'This endpoint is used in app-to-app authorization flow, where the URL used by the Authorization Server as the authorization_endpoint will be provided by our client. This URL will have query parameters that should be sent to this endpoint. Example of authorization URL:  https://dapi.of.baas.btgpactual.com/authorize?client_id=b2e56453-cf9b-452a-b3c0-8eae2026ef77&request_uri=urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0.  After the user is redirected to the URL (which should redirect the user to the APP), this endpoint should be called passing clientId ''b2e56453-cf9b-452a-b3c0-8eae2026ef77'' and requestUri  ''urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0''. You can decode the parameters or not, both will work. The endpoint response will be a status (OK or ERROR) and, in case of OK, the consent information or, in case of ERROR, an URL for which the user should be immediately redirected to (this can happen if there is an error in the authorization URL, or if it was reused, for example).'
  /provider/payment/consent/validate/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePaymentConsentRequest'
        required: true
      tags:
        - Provider - Payment Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/ValidatePaymentConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: validate-payment-consent
      summary: Validate a Payment Consent
      description: Validate a Payment Consent
  /provider/payment/consent/authorize/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConsentAuthorizeRequest'
        required: true
      tags:
        - Provider - Payment Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/AuthorizePaymentConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: authorize-payment-consent
      summary: Authorize a Payment Consent
      description: Authorize a Payment Consent. The client must validate the Debtor Account (if it was received on the Payment Consent), if not, the client must provide the Debtor Account
  /provider/payment/consent/reject/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRejectConsentRequest'
      tags:
        - Provider - Payment Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/RejectPaymentConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: reject-payment-consent
      summary: Reject a Payment Consent
      description: Reject a Payment Consent
  /provider/payment/initiation/{pactualId}:
    get:
      tags:
        - Provider - Payment Initiation
      parameters:
        - name: pactualId
          description: BaaS unique id for the Payment
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentInitiationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-initiation-get
      summary: Get Payment Initiation
      description: Endpoint to get a Payment Initiation from BaaS.
  /provider/payment/initiation/webhook/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentInitiationWebhookRequest'
        required: true
      tags:
        - Provider - Payment Initiation Webhook
      parameters:
        - name: pactualId
          description: BaaS unique id for the Payment
          schema:
            type: string
          in: path
          required: true
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-initiation-webhook
      summary: Payment Initiation Webhook
      description: Endpoint to send a Payment Initiation Webhook from BaaS.
  /provider/recurring-payment/consent/{pactualId}:
    get:
      tags:
        - Provider - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-recurring-consent
      summary: Get a Recurring Consent
      description: Get a Recurring Consent
  /provider/recurring-payment/consent/redirect:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedirectPaymentConsentRequest'
        required: true
      tags:
        - Provider - Recurring Consent
      responses:
        '200':
          $ref: '#/components/responses/RedirectRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: redirect-recurring-consent
      summary: Redirect a Recurring Consent
      description: 'This endpoint is used in app-to-app authorization flow, where the URL used by the Authorization Server as the authorization_endpoint will be provided by our client. This URL will have query parameters that should be sent to this endpoint. Example of authorization URL:  https://dapi.of.baas.btgpactual.com/authorize?client_id=b2e56453-cf9b-452a-b3c0-8eae2026ef77&request_uri=urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0.  After the user is redirected to the URL (which should redirect the user to the APP), this endpoint should be called passing clientId ''b2e56453-cf9b-452a-b3c0-8eae2026ef77'' and requestUri  ''urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0''. You can decode the parameters or not, both will work. The endpoint response will be a status (OK or ERROR) and, in case of OK, the consent information or, in case of ERROR, an URL for which the user should be immediately redirected to (this can happen if there is an error in the authorization URL, or if it was reused, for example).'
  /provider/recurring-payment/consent/validate/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePaymentConsentRequest'
        required: true
      tags:
        - Provider - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/ValidateRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: validate-recurring-consent
      summary: Validate a Recurring Consent
      description: Validate a Recurring Consent
  /provider/recurring-payment/consent/authorize/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringConsentAuthorizeRequest'
        required: true
      tags:
        - Provider - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/AuthorizeRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: authorize-recurring-consent
      summary: Authorize a Recurring Consent
      description: Authorize a Recurring Consent. The client must validate the Debtor Account (if it was received on the Recurring Consent), if not, the client must provide the Debtor Account
  /provider/recurring-payment/consent/reject/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRejectRecurringConsentRequest'
      tags:
        - Provider - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/RejectRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: reject-recurring-consent
      summary: Reject a Recurring Consent
      description: Reject a Recurring Consent
  /provider/recurring-payment/consent/revoke/{pactualId}:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRevokeConsentRequest'
      tags:
        - Provider - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Payment Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetRecurringConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: revoke-recurring-consent
      summary: Revoke a Recurring Consent
      description: Revoke a Recurring Consent
  /provider/recurring-payment/payment/{pactualId}:
    get:
      tags:
        - Provider - Recurring Payment
      parameters:
        - name: pactualId
          description: BaaS unique id for the Payment
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetRecurringPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: recurring-payment-get
      summary: Get Recurring Payment
      description: Endpoint to get a Recurring Payment from BaaS.
  /provider/recurring-payment/payment/webhook/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecurringPaymentWebhookRequest'
        required: true
      tags:
        - Provider - Recurring Payment Webhook
      parameters:
        - name: pactualId
          description: BaaS unique id for the Payment
          schema:
            type: string
          in: path
          required: true
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: recurring-payment-webhook
      summary: Recurring Payment Webhook
      description: Endpoint to send a Recurring Payment Webhook from BaaS.
  /client-implementation/pix/payments/v4/initiate/{consentPactualId}:
    post:
      requestBody:
        description: Payment Initiation request that will be sent by BaaS to the Client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationRequestV4'
        required: true
      tags:
        - '[Client Implementation] Provider - Payment Initiation V4'
      parameters:
        - $ref: '#/components/parameters/consentPactualId'
      responses:
        '201':
          $ref: '#/components/responses/PaymentInitiationV4Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PaymentInitiationUnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-initiate-payment-initiation-v4
      summary: '[CLIENT IMPLEMENTATION] Create Payment Initiation'
      description: '[CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Payment Initiations, this endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/239337826/Informa+es+T+cnicas+-+SV+Pagamentos+-+v4.0.0-beta.4), regarding the request, that must be implemented as specified on this Documentation. The path can be parametrized by the client, it is just a suggestion'
  /client-implementation/pix/payments/v4/{paymentId}:
    get:
      tags:
        - '[Client Implementation] Provider - Payment Initiation V4'
      parameters:
        - name: paymentId
          description: Provider (ASPSP) unique identifier for the Payment
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/PaymentInitiationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-get-payment-initiation-v4
      summary: '[CLIENT IMPLEMENTATION] Get Payment Initiation'
      description: |-
        [CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Payment Initiations. This endpoint will be used by the Receiver (PISP) to poll for the status of the Payment Initiation. This endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/239337826/Informa+es+T+cnicas+-+SV+Pagamentos+-+v4.0.0-beta.4), except by the Authentication type, it must implement a mTLS or a SecretKey (the same mechanics used by our Webhooks). 
        The path can be parametrized by the client, it is just a suggestion, except by the fact that it must receive the PaymentId as a route or query parameter.
  /client-implementation/pix/payments/v4/cancel/{paymentId}:
    patch:
      requestBody:
        description: Payment Initiation Cancellation request that will be sent by BaaS to the Client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationCancellationRequest'
        required: true
      tags:
        - '[Client Implementation] Provider - Payment Initiation V4'
      parameters:
        - $ref: '#/components/parameters/paymentId'
      responses:
        '200':
          $ref: '#/components/responses/PaymentInitiationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PaymentInitiationUnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-cancel-payment-initiation-v4
      summary: '[CLIENT IMPLEMENTATION] Cancel Payment Initiation'
      description: '[CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Payment Initiations Cancellations, this endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/239337826/Informa+es+T+cnicas+-+SV+Pagamentos+-+v4.0.0-beta.4), regarding the request, that must be implemented as specified on this Documentation. The path can be parametrized by the client, it is just a suggestion, the client endpoint must accept the paymentId variable, it can be either on the path or as query parameter.'
  /client-implementation/pix/payments/v4/cancel/consent/{consentPactualId}:
    patch:
      requestBody:
        description: Payment Initiation Cancellation request that will be sent by BaaS to the Client, to cancel all payments of a consent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationCancellationRequest'
        required: true
      tags:
        - '[Client Implementation] Provider - Payment Initiation V4'
      parameters:
        - $ref: '#/components/parameters/consentPactualId'
      responses:
        '200':
          $ref: '#/components/responses/PaymentsCancellationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PaymentInitiationUnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-cancel-payments-initiation-v4
      summary: '[CLIENT IMPLEMENTATION] Cancel Payment Initiations by ConsentPactualId'
      description: '[CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Payment Initiations Cancellations by consentPactualId, this endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/239337826/Informa+es+T+cnicas+-+SV+Pagamentos+-+v4.0.0-beta.4), regarding the request, that must be implemented as specified on this Documentation. The path can be parametrized by the client, it is just a suggestion, the client endpoint must accept the paymentId variable, it can be either on the path or as query parameter.'
  /client-implementation/pix/payments/consent/{consentPactualId}/enrichment:
    get:
      tags:
        - '[Client Implementation] Provider - Payment Initiation V4'
      parameters:
        - $ref: '#/components/parameters/consentPactualId'
      responses:
        '200':
          $ref: '#/components/responses/ConsentEnrichmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-get-payment-consent-enrichment
      summary: '[CLIENT IMPLEMENTATION] Get consent information'
      description: |-
        [CLIENT IMPLEMENTATION] The client has to implement this endpoint to provide us with some information we might need for the consent. For example: the dropReason sent to PCM says if the provider has the loggedUser in its client database. We will call this endpoint if we need to send this information to PCM.
        For more information, access the [Open Banking Brazil Official Documentation] (https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/37912663/Documenta+o+da+API).
        The path can be parametrized by the client, it is just a suggestion, except by the fact that it must receive the ConsentPactualId as a route or query parameter.
  /client-implementation/pix/recurring-payments/v2/initiate/{recurringConsentPactualId}/{recurringPaymentPactualId}:
    post:
      requestBody:
        description: Recurring Payment request that will be sent by BaaS to the Client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringPaymentRequest'
        required: true
      tags:
        - '[Client Implementation] Provider - Recurring Payment V2'
      parameters:
        - $ref: '#/components/parameters/recurringConsentPactualId'
        - $ref: '#/components/parameters/recurringPaymentPactualId'
      responses:
        '201':
          $ref: '#/components/responses/RecurringPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PaymentInitiationUnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-initiate-recurring-payment-v2
      summary: '[CLIENT IMPLEMENTATION] Create Recurring Payment'
      description: '[CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Recurring Payment creations, this endpoint must behave exactly as the specified on the [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/718406041/Informa+es+T+cnicas+-+SV+Pagamentos+Autom+ticos+-+v2.0.0-beta.2), regarding the request, that must be implemented as specified on this Documentation. The path can be parametrized by the client, this just a suggestion.'
  /client-implementation/pix/recurring-payments/v2/cancel/{recurringPaymentId}:
    patch:
      requestBody:
        description: Recurring Payment Cancellation request that will be sent by BaaS to the Client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationCancellationRequest'
        required: true
      tags:
        - '[Client Implementation] Provider - Recurring Payment V2'
      parameters:
        - $ref: '#/components/parameters/recurringPaymentId'
      responses:
        '200':
          $ref: '#/components/responses/RecurringPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PaymentInitiationUnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-cancel-recurring-payment-v2
      summary: '[CLIENT IMPLEMENTATION] Cancel Recurring Payment'
      description: '[CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Recurring Payments Cancellations, this endpoint must behave exactly as the specified on the [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/718406041/Informa+es+T+cnicas+-+SV+Pagamentos+Autom+ticos+-+v2.0.0-beta.2), regarding the request, that must be implemented as specified on this Documentation. The path can be parametrized by the client, this just a suggestion. The client endpoint must accept the recurringPaymentId variable, it can be either on the path or as query parameter.'
  /client-implementation/pix/recurring-payments/v2/{recurringPaymentId}:
    get:
      tags:
        - '[Client Implementation] Provider - Recurring Payment V2'
      parameters:
        - $ref: '#/components/parameters/recurringPaymentId'
      responses:
        '200':
          $ref: '#/components/responses/RecurringPaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-get-recurring-payment-v2
      summary: '[CLIENT IMPLEMENTATION] Get Recurring Payment'
      description: |-
        [CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Recurring Payment consultations. This endpoint will be used by the Receiver (PISP) to poll for the status of the Recurring Payment. This endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/718406041/Informa+es+T+cnicas+-+SV+Pagamentos+Autom+ticos+-+v2.0.0-beta.2), except by the Authentication type, it must implement a mTLS or a SecretKey (the same mechanics used by our Webhooks). 
        The path can be parametrized by the client, it is just a suggestion, except by the fact that it must receive the RecurringPaymentId as a route or query parameter.
  /client-implementation/pix/recurring-payments/v2/consent/{recurringConsentPactualId}:
    get:
      tags:
        - '[Client Implementation] Provider - Recurring Payment V2'
      parameters:
        - $ref: '#/components/parameters/recurringConsentPactualId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/originalRecurringPaymentId'
      responses:
        '200':
          $ref: '#/components/responses/RecurringPaymentsSimpleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-get-recurring-payments-v2
      summary: '[CLIENT IMPLEMENTATION] Get Recurring Payments by RecurringConsentPactualId'
      description: |-
        [CLIENT IMPLEMENTATION] Endpoint that our client must implement to receive Recurring Payment consultations. This endpoint will be used by the Receiver (PISP) to poll for the status of all Recurring Payments. This endpoint must behave exactly as the specified on the  [Open Banking Brazil Oficial Documentation](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/718406041/Informa+es+T+cnicas+-+SV+Pagamentos+Autom+ticos+-+v2.0.0-beta.2), except by the Authentication type, it must implement a mTLS or a SecretKey (the same mechanics used by our Webhooks). 
        The path can be parametrized by the client, it is just a suggestion, except by the fact that it must receive the PaymentId as a route or query parameter.
  /client-implementation/pix/recurring-payments/consent/{recurringConsentPactualId}/enrichment:
    get:
      tags:
        - '[Client Implementation] Provider - Recurring Payment V2'
      parameters:
        - $ref: '#/components/parameters/recurringConsentPactualId'
      responses:
        '200':
          $ref: '#/components/responses/ConsentEnrichmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      operationId: client-get-recurring-consent-enrichment
      summary: '[CLIENT IMPLEMENTATION] Get consent information'
      description: |-
        [CLIENT IMPLEMENTATION] The client has to implement this endpoint to provide us with some information we might need for the consent. For example: the dropReason sent to PCM says if the provider has the loggedUser in its client database. We will call this endpoint if we need to send this information to PCM.
        For more information, access the [Open Banking Brazil Official Documentation] (https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/37912663/Documenta+o+da+API).
        The path can be parametrized by the client, it is just a suggestion, except by the fact that it must receive the ConsentPactualId as a route or query parameter.
  /provider/report/payment/consent/funnel:
    get:
      tags:
        - Provider - Reports Payment
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: true
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: true
        - name: organizationId
          description: Filter organizations by organizationId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentPaymentFunnelResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-payment-consent-funnel
      summary: Funnel of provider payment consents
      description: |-
        Endpoint to get funnel of provider payment consents, for a given period. To fill the BACEN 'Interoperabilidade da Fase 3' sheet data, use the following fields:

        | Sheet Tab | Sheet Field | Endpoint Field |
        |----------|:-------------|:-------------|
        | Funil API Pagam | POST Consentimento solicitados | totalConsentRequests |
        | Funil API Pagam | Geração do consent ID (não Clientes) | nonClientConsentsCreated |
        | Funil API Pagam | POST Consentimento solicitados desconsiderando não clientes (C-D) | totalConsentRequests - nonClientConsentsCreated |
        | Funil API Pagam | Geração do consent ID (Clientes) | clientConsentsCreated |
        | Funil API Pagam | Início da autenticação (Qtd) | events.REDIRECTED |
        | Funil API Pagam | Conclusão da autenticação (Qtd) | events.LOGGED |
        | Funil API Pagam | Autorização do Cliente | events.CODE_GENERATED |
        | Funil API Pagam | Authorisation code emitido (Qtd) | events.CODE_GENERATED |
        | Funil API Pagam | Redirect para ITP | events.CODE_GENERATED |
        | Funil API Pagam | Access token gerado (Qtd) | events.TOKEN_GENERATED |
        | Funil API Pagam | POST Pagamentos recebidos (Qtd) | events.PAYMENT_REQUEST_RECEIVED |
        | Funil API Pagam | Payment ID gerado (Qtd) | events.PAYMENT_ID_GENERATED |
        | Funil API Pagam | Pagamentos realizados com sucesso (Qtd) | events.PAYMENT_FINISHED |
        | Funil API Pagam | Pagamentos agendados (Qtd) | events.PAYMENT_SCHEDULED |

        For the 'Validações síncronas' and 'Validações assíncronas' tabs, use the endpoints:

        [Summary of Provider Payments Synchronous Validations](https://developer.btgpactual.com/docbk#operation/provider-report-payment-consent-summary-synchronous)

        [Summary of Provider Payments Asynchronous Validations](https://developer.btgpactual.com/docbk#operation/provider-report-payment-consent-summary-asynchronous)
  /provider/report/recurring-payment/consent/funnel:
    get:
      tags:
        - Provider - Reports Recurring Payment
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: true
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: true
        - name: organizationId
          description: Filter organizations by organizationId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentPaymentFunnelResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-recurring-payment-consent-funnel
      summary: Funnel of provider recurring payment consents
      description: |-
        Endpoint to get funnel of provider recurring payment consents, for a given period. To fill the BACEN 'Interoperabilidade da Fase 3' sheet data, use the following fields:

        | Sheet Tab | Sheet Field | Endpoint Field |
        |----------|:-------------|:-------------|
        | Funil 1 API Pagam Automáticos | POST Consentimento solicitados | totalConsentRequests |
        | Funil 1 API Pagam Automáticos | Geração do consent ID (não Clientes) | nonClientConsentsCreated |
        | Funil 1 API Pagam Automáticos | POST Consentimento solicitados desconsiderando não clientes (C-D) | totalConsentRequests - nonClientConsentsCreated |
        | Funil 1 API Pagam Automáticos | Geração do consent ID (Clientes) | clientConsentsCreated |
        | Funil 1 API Pagam Automáticos | Início da autenticação (Qtd) | events.REDIRECTED |
        | Funil 1 API Pagam Automáticos | Conclusão da autenticação (Qtd) | events.LOGGED |
        | Funil 1 API Pagam Automáticos | Autorização do Cliente | events.CODE_GENERATED |
        | Funil 1 API Pagam Automáticos | Authorisation code emitido (Qtd) | events.CODE_GENERATED |
        | Funil 1 API Pagam Automáticos | Redirect para ITP | events.CODE_GENERATED |
        | Funil 1 API Pagam Automáticos | Access token gerado (Qtd) | events.TOKEN_GENERATED |
        | Funil 2 API Pagam Automáticos | POST Pagamentos recebidos (Qtd) | events.PAYMENT_REQUEST_RECEIVED |
        | Funil 2 API Pagam Automáticos | Payment ID gerado (Qtd) | events.PAYMENT_ID_GENERATED |
        | Funil 2 API Pagam Automáticos | Pagamentos realizados com sucesso (Qtd) | events.PAYMENT_FINISHED |
        | Funil 2 API Pagam Automáticos | Pagamentos com agendamentos a realizar (Qtd) | events.PAYMENT_SCHEDULED |
  /receiver/report/payment/consent/funnel:
    get:
      deprecated: true
      tags:
        - Receiver - Reports Payment
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: false
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: false
        - name: organizationId
          description: Filter organizations by organizationId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentPaymentFunnelResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: receiver-report-payment-consent-funnel
      summary: BACEN Funnel of the Receiver Payments Consents.
      description: Endpoint to get BACEN Funnel of the Receiver Payments Consents.
  /provider/report/payment/consent/summary/synchronous-validations:
    get:
      tags:
        - Provider - Reports Payment
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: true
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentPaymentSynchronousValidationsResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-payment-consent-summary-synchronous
      summary: Summary of Provider Payments Synchronous Validations
      description: Endpoint to get Summary of Provider Payments Synchronous Validations.
  /provider/report/payment/consent/summary/asynchronous-validations:
    get:
      tags:
        - Provider - Reports Payment
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: true
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentPaymentAsynchronousValidationsResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-payment-consent-summary-asynchronous
      summary: Summary of Provider Payments Asynchronous Validations
      description: Endpoint to get Summary of Provider Payments Asynchronous Validations.
  /receiver/payment/report/logs:
    post:
      tags:
        - Payment Reports
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: receiver-payment-report-error-logs
      summary: Error Log Report
      description: |-
        Endpoint to generate a report containing an error log for payment initiation endpoints. The log will return all information about what provider endpoint returned an error, along with request and response information, everything needed to open a ticket in the open finance service desk.

        This endpoint receives a Payment Consent PactualId or a Payment Initiation PactualId. After calling it, a report will be generated asynchronously, and a download link will be sent via webhook  ([OBK Report Webhook](https://developer.btgpactual.com/docbk#operation/receiver-payment-webhook)). To download it, do a GET request to the download link, using a token. The download link has a 60 seconds expiration,  after that time another report must be generated.

        Obs: this endpoint is exclusive for customers using their own Open Finance license. 
  /provider/data/consent/{pactualId}:
    get:
      tags:
        - Provider - Data Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Data Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/GetDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-data-consent
      summary: Get a Data Consent
      description: Get a Data Consent
  /provider/data/consent/redirect:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedirectPaymentConsentRequest'
        required: true
      tags:
        - Provider - Data Consent
      responses:
        '200':
          $ref: '#/components/responses/RedirectDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: redirect-data-consent
      summary: Redirect a Data Consent
      description: 'This endpoint is used in app-to-app authorization flow, where the URL used by the Authorization Server as the authorization_endpoint will be provided by our client. This URL will have query parameters that should be sent to this endpoint. Example of authorization URL:  https://dapi.of.baas.btgpactual.com/authorize?client_id=b2e56453-cf9b-452a-b3c0-8eae2026ef77&request_uri=urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0.  After the user is redirected to the URL (which should redirect the user to the APP), this endpoint should be called passing clientId ''b2e56453-cf9b-452a-b3c0-8eae2026ef77'' and requestUri  ''urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3Ab9ad715e-f980-4bb6-aa0e-20f1d70159c0''. You can decode the parameters or not, both will work. The endpoint response will be a status (OK or ERROR) and, in case of OK, the consent information or, in case of ERROR, an URL for which the user should be immediately redirected to (this can happen if there is an error in the authorization URL, or if it was reused, for example).'
  /provider/data/consent/validate/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateDataConsentRequest'
        required: true
      tags:
        - Provider - Data Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Data Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/ValidateDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: validate-data-consent
      summary: Validate a Data Consent
      description: Validate a Data Consent
  /provider/data/consent/authorize/{pactualId}:
    post:
      tags:
        - Provider - Data Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Data Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/AuthorizeDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: authorize-data-consent
      summary: Authorize a Data Consent
      description: Authorize a Data Consent. The client must validate the Debtor Account (if it was received on the Data Consent), if not, the client must provide the Debtor Account
  /provider/data/consent/reject/{pactualId}:
    post:
      tags:
        - Provider - Data Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Data Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDataConsentRejectRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RejectDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: reject-data-consent
      summary: Reject a Data Consent
      description: With this endpoint you can reject a consent, only if it is awaiting authorisation.
  /provider/data/consent/cancel/{pactualId}:
    post:
      tags:
        - Provider - Data Consent
      parameters:
        - name: pactualId
          description: BTG Pactual BaaS Data Consent Pactual ID
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDataConsentCancelRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RevokeDataConsentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: cancel-data-consent
      summary: Cancel a Data Consent
      description: With this endpoint you can cancel a consent, whether authorised or not
  /provider/report/data/consent/funnel:
    get:
      tags:
        - Provider - Data Reports
      parameters:
        - name: dateFrom
          description: 'Filter transactions created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '1970-01-01T00:00:00-03:00'
            type: string
          in: query
          required: true
        - name: dateTo
          description: 'Filter transactions created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ssZ. All date and times are save in UTC.'
          schema:
            default: '9999-12-31T23:59:59-03:00'
            type: string
          in: query
          required: true
        - name: organizationId
          description: Filter organizations by organizationId
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentDataFunnelResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-data-consent-funnel
      summary: Funnel of provider data consents
      description: Endpoint to get funnel of provider data consents, for a given period.
  /provider/report/data/consent/stock/consolidated:
    get:
      tags:
        - Provider - Data Reports
      parameters:
        - name: status
          description: Filter for consent status
          schema:
            type: string
            enum:
              - AWAITING_AUTHORISATION
              - AUTHORISED
              - REJECTED
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentDataStockConsolidatedResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-data-consent-stock-consolidated
      summary: Stock of provider data consents - Consolidated
      description: Endpoint to get stock numbers of provider data consents, in a consolidated view.
  /provider/report/data/consent/stock/segregated:
    get:
      tags:
        - Provider - Data Reports
      parameters:
        - name: status
          description: Filter for consent status
          schema:
            type: string
            enum:
              - AWAITING_AUTHORISATION
              - AUTHORISED
              - REJECTED
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkReportConsentDataStockSegregatedResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: provider-report-data-consent-stock-segregated
      summary: Stock of provider data consents - Segregated
      description: Endpoint to get stock numbers of provider data consents, in an organization segregated view.
  /receiver/payment/consent/pix/creditor-account:
    post:
      requestBody:
        description: Payload for Payment Consent with creditor account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentConsentCreditorAccountRequest'
        required: true
      tags:
        - Payment Consent
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-creditor-account
      summary: Create payment consent by Creditor Account
      description: Creates a Payment Consent, using the creditor's bank account information.
  /receiver/payment/consent/pix/internal-account/{accountId}:
    post:
      requestBody:
        description: Payload for Payment Consent with BTG accountId.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentConsentInternalAccountRequest'
        required: true
      tags:
        - Payment Consent
      parameters:
        - name: accountId
          description: BaaS Account Id
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-internal-account
      summary: Create payment consent by BTG Account
      description: Creates a Payment Consent, using the BTG's accountId.
  /receiver/payment/consent/pix/key:
    post:
      requestBody:
        description: Payload for Payment Consent with Pix key.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentConsentPixKeyRequest'
        required: true
      tags:
        - Payment Consent
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-pix-key
      summary: Create payment consent by Pix Key
      description: Creates a Payment Consent, using a Pix key.
  /receiver/payment/consent/pix/qr-code:
    post:
      requestBody:
        description: Payload for Payment Consent with QR Code.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentConsentQrCodeRequest'
        required: true
      tags:
        - Payment Consent
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-qr-code
      summary: Create payment consent by QR Code
      description: Creates a Payment Consent, using a QR Code.
  /receiver/payment/consent/pix/{pactualId}:
    get:
      tags:
        - Payment Consent
      parameters:
        - name: pactualId
          description: BTG's unique ID for the consent to be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-consent-by-pactual-id
      summary: Get payment consent by PactualId
      description: Get a Payment Consent, using its PactualId.
  /receiver/payment/consent/pix/clientRequestId/{clientRequestId}:
    get:
      tags:
        - Payment Consent
      parameters:
        - name: clientRequestId
          description: Client's unique ID for the consent to be retrieved.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-consent-by-client-request-id
      summary: Get payment consent by ClientRequestId
      description: Get a Payment Consent, using its ClientRequestId.
  /receiver/payment/consent/pix/callback:
    post:
      requestBody:
        description: Payload for Payment Consent Callback.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkCallbackRequest'
        required: true
      tags:
        - Payment Consent
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-callback
      summary: Payment consent callback
      description: This method must be called to finish the consent flow. The client implementing this logic must have a callback page in his app/site which must be able to read 5 parameters  (code, id_token, state, error, error_description) that can be passed to the callback  page either through query parameters (?code=...&id_token=....) or by fragment (#code=...&id_token=...). Please be advised that the fragment is a client side only feature, it will not be sent to  any backend so it must have a special treatment to capture it from the url and send to this endpoint.
  /receiver/payment/initiation/pix/{pactualId}:
    get:
      tags:
        - Payment Initiation
      parameters:
        - name: pactualId
          description: BTG's unique ID for the payment to be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
        - $ref: '#/components/parameters/forceProviderUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentInitiationResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-initiation-by-pactual-id
      summary: Get payment initiation by PactualId
      description: Get a Payment Initiation, using its PactualId.
    patch:
      tags:
        - Payment Initiation
      parameters:
        - name: pactualId
          description: BTG's unique ID for the payment to be canceled.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Payment Initiation Cancel.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentInitiationPatchCancel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentInitiationResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: patch-payment-initiation-by-pactual-id
      summary: Cancel a payment by PactualId
      description: Cancel one of a Payment Initiation's payments, using its PactualId.
  /receiver/payment/initiation/pix/consent/{pactualId}:
    get:
      tags:
        - Payment Initiation
      parameters:
        - name: pactualId
          description: BTG's unique ID for the consent, for which all payments will be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentInitiationArrayResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-initiation-by-consent-pactual-id
      summary: Get all payments by their consent's PactualId
      description: Get a list of payments, using the consent's PactualId.
    patch:
      tags:
        - Payment Initiation
      parameters:
        - name: pactualId
          description: BTG's unique ID for the consent, for which all payments will be canceled.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Payment Initiation Cancel.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPaymentInitiationPatchCancel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecPaymentInitiationArrayResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: patch-payment-initiation-by-consent-pactual-id
      summary: Cancel all payments by their consent's PactualId
      description: Cancel all of a Payment Initiation's payments, using its consent PactualId.
  /receiver/payment/consent/callback-url:
    post:
      requestBody:
        description: Payload for Payment Consent Redirect Callback URL creation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkPayInitiationRedirectCallbackUrlRequest'
        required: true
      tags:
        - Redirect Callback Url
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkPayInitiationRedirectUrlCreationResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-consent-callback-url
      summary: Create a redirect callback URL
      description: This method is called to create a redirect callback URL. This URL will be used in the 'redirectUrl'  field in the Payment Consent creation endpoints. This will be the URL that the user will be  redirected to, after the approval/rejection of the consent in the ASPSP's app.
    get:
      tags:
        - Redirect Callback Url
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkPayInitiationRedirectUrlMultipleGetResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-multiple-payment-consent-callback-urls
      summary: Get all redirect callback URLs
      description: This method is called to get all registered redirect callback URLs.
  /receiver/payment/consent/callback-url/{pactualId}:
    delete:
      parameters:
        - name: pactualId
          description: BTG's unique ID for the redirect callback URL.
          schema:
            type: string
          in: path
          required: true
      tags:
        - Redirect Callback Url
      responses:
        '204':
          description: NoContent
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: delete-payment-consent-callback-url
      summary: Delete a redirect callback URL
      description: This method is called to delete a redirect callback URL.
    get:
      parameters:
        - name: pactualId
          description: BTG's unique ID for the redirect callback URL.
          schema:
            type: string
          in: path
          required: true
      tags:
        - Redirect Callback Url
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkPayInitiationRedirectUrlGetResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-consent-callback-url
      summary: Get a redirect callback URL by PactualId
      description: This method is called to get a redirect callback URL by its PactualId.
  /receiver/recurring/consent:
    post:
      requestBody:
        description: Payload for Recurring Consent.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringConsentRequest'
        required: true
      tags:
        - Recurring Consent
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-receiver-recurring-consent
      summary: Create recurring consent
      description: Creates a Recurring Consent.
  /receiver/recurring/consent/{pactualId}:
    get:
      tags:
        - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG's unique ID for the consent to be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-receiver-recurring-consent-by-pactual-id
      summary: Get recurring consent by PactualId
      description: Get a Recurring Consent, using its PactualId.
  /receiver/recurring/consent/clientRequestId/{clientRequestId}:
    get:
      tags:
        - Recurring Consent
      parameters:
        - name: clientRequestId
          description: Client's unique ID for the consent to be retrieved.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-receiver-recurring-consent-by-client-request-id
      summary: Get recurring consent by ClientRequestId
      description: Get a Recurring Consent, using its ClientRequestId.
  /receiver/recurring/consent/{pactualId}/revoke:
    patch:
      tags:
        - Recurring Consent
      parameters:
        - name: pactualId
          description: BTG's unique ID for the consent to be revoked.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Payment Initiation revoking.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringConsentRevokeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: revoke-receiver-recurring-consent-by-pactual-id
      summary: Revoke a recurring consent by PactualId
      description: Revoke a Recurring Consent, using its PactualId.
  /receiver/recurring/consent/clientRequestId/{clientRequestId}/revoke:
    patch:
      tags:
        - Recurring Consent
      parameters:
        - name: clientRequestId
          description: Client's unique ID for the consent to be retrieved.
          schema:
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Payment Initiation revoking.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringConsentRevokeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: revoke-receiver-recurring-consent-by-client-request-id
      summary: Revoke a recurring consent by ClientRequestId
      description: Revoke a Recurring Consent, using its ClientRequestId.
  /receiver/recurring/consent/callback:
    post:
      requestBody:
        description: Payload for Payment Consent Callback.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkCallbackRequest'
        required: true
      tags:
        - Recurring Consent
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringConsentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-recurring-consent-callback
      summary: Recurring consent callback
      description: This method must be called to finish the consent flow. The client implementing this logic must have a callback page in his app/site which must be able to read 5 parameters  (code, id_token, state, error, error_description) that can be passed to the callback  page either through query parameters (?code=...&id_token=....) or by fragment (#code=...&id_token=...). Please be advised that the fragment is a client side only feature, it will not be sent to  any backend so it must have a special treatment to capture it from the url and send to this endpoint.
  /receiver/recurring/payment/pix/creditor-account:
    post:
      requestBody:
        description: Payload for Recurring Payment with creditor account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringPaymentCreditorAccountRequest'
        required: true
      tags:
        - Recurring Payment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-recurring-payment-creditor-account
      summary: Create recurring payment by Creditor Account
      description: Creates a Recurring Payment, using the creditor's bank account information.
  /receiver/recurring/payment/pix/internal-account/{accountId}:
    post:
      requestBody:
        description: Payload for Recurring Payment with BTG accountId.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringPaymentInternalAccountRequest'
        required: true
      tags:
        - Recurring Payment
      parameters:
        - name: accountId
          description: BaaS Account Id
          schema:
            format: uuid
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-recurring-payment-internal-account
      summary: Create recurring payment by BTG Account
      description: Creates a Recurring Payment, using the BTG's accountId.
  /receiver/recurring/payment/pix/key:
    post:
      requestBody:
        description: Payload for Recurring Payment with Pix key.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkRecRecurringPaymentPixKeyRequest'
        required: true
      tags:
        - Recurring Payment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-recurring-payment-pix-key
      summary: Create recurring payment by Pix Key
      description: Creates a Recurring Payment, using a Pix key.
  /receiver/recurring/payment/pix/{pactualId}:
    get:
      tags:
        - Recurring Payment
      parameters:
        - name: pactualId
          description: BTG's unique ID for the payment to be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
        - $ref: '#/components/parameters/forceProviderUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-recurring-payment-by-pactual-id
      summary: Get recurring payment by PactualId
      description: Get a Recurring Payment, using its PactualId.
    patch:
      tags:
        - Recurring Payment
      parameters:
        - name: pactualId
          description: BTG's unique ID for the payment to be canceled.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Recurring Payment Cancel.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkLoggedUserDocument'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: patch-recurring-payment-initiation-by-pactual-id
      summary: Cancel a recurring payment by PactualId
      description: Cancel a Recurring Payment, using its PactualId.
  /receiver/recurring/payment/pix/clientRequestId/{clientRequestId}:
    get:
      tags:
        - Recurring Payment
      parameters:
        - name: clientRequestId
          description: Client's unique ID for the payment to be retrieved.
          schema:
            format: uuid
            type: string
          in: path
          required: true
        - $ref: '#/components/parameters/forceProviderUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-recurring-payment-by-client-request-id
      summary: Get recurring payment by ClientRequestId
      description: Get a Recurring Payment, using its ClientRequestId.
    patch:
      tags:
        - Recurring Payment
      parameters:
        - name: clientRequestId
          description: Client's unique ID for the payment to be canceled.
          schema:
            format: uuid
            type: string
          in: path
          required: true
      requestBody:
        description: Payload for Recurring Payment Cancel.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObkLoggedUserDocument'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObkRecRecurringPaymentResponse'
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: patch-recurring-payment-initiation-by-client-request-id
      summary: Cancel a recurring payment by ClientRequestId
[...]
