openapi: 3.0.1
info:
  title: BTG Pactual Banking as a Service (PIX Indirect Participant)
  version: 2.0.0
  description: "Digital plataform developed by BTG Pactual engineers as an on demand banking service provider.\r\n\r\n[**Documentation Hub**](https://developer.btgpactual.com/portal/dochub)  \r\n    - [Commom Methods](https://developer.btgpactual.com/portal/doccm)  \r\n    - [Onboarding](https://developer.btgpactual.com/portal/docob)  \r\n    - [Transactions](https://developer.btgpactual.com/portal/doctr)  \r\n    - [PIX Commom Funcionalities](https://developer.btgpactual.com/portal/docpc)  \r\n    - [PIX Indirect Participant](https://developer.btgpactual.com/portal/docpi)  \r\n    - [PIX Merchant Clients](https://developer.btgpactual.com/portal/docpm)  \r\n\r\n|BaaS PIX Indirect Participant API| |\r\n|------------------------|-------------------------------|\r\n|Sandbox |https://api.sandbox.developer.btgpactual.com/pi|\r\n|Sandbox (with mTLS) |https://sandbox.developer.api.btgpactual.com/pi|\r\n|Production |https://api.developer.btgpactual.com/pi|\r\n|Production (with mTLS) |https://developer.api.btgpactual.com/pi|\r\n\r\n\r\n## Response Envelopes\r\n\r\nAll our responses follow the same pattern. They are sent respecting a default response envelope as shown bellow.\r\n```\r\n# Default Envelope\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 204\r\n}\r\n\r\n# Envelope with response body\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 201,\r\n    \"body\": {\r\n        \"exampleValue\": \"30306294\"\r\n    }\r\n}\r\n\r\n```\r\n\r\n## Error Messages\r\n\r\nAll errors returned from one of ours APIs will follow the same pattern as shown bellow. They will be always contained in an invelope as the example. \r\n\r\n\r\n```\r\n# Default Envelope\r\n{\r\n    \"status\": 404,\r\n    \"version\": \"1.0.0\"\r\n}\r\n\r\n# Envelope with optional error codes\r\n{\r\n    \"version\": \"1.0.0\",\r\n    \"status\": 400,\r\n    \"errors\": [\r\n        {\r\n            \"errorCode\": \"PCE001\",\r\n            \"message\": \"The field 'name' is mandatory.\"\r\n        }\r\n    ]\r\n}\r\n```\r\n"
  contact:
    name: BTG Pactual Team
    url: https://developer.btgpactual.com
    email: baas@btgpactual.com
servers:
  - url: https://api.sandbox.developer.btgpactual.com/pi
    description: BaaS API (Sandbox)
  - url: https://sandbox.developer.api.btgpactual.com/pi
    description: BaaS API (Sandbox with mTLS)
  - url: https://api.developer.btgpactual.com/pi
    description: BaaS API (Production)
  - url: https://developer.api.btgpactual.com/pi
    description: BaaS API (Production with mTLS)
paths:
  /pix/brcode/accepted-certificates:
    get:
      tags:
        - DynamicBRCode
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRCodeCertificateResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-accepted-certificates
      summary: Retrieve all accepted certificates
      description: Retrieve all accepted certificates.
  /pix/brcode/accepted-certificates/{commonName}:
    get:
      tags:
        - DynamicBRCode
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRCodeCertificateResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-accepted-certificates-common-name
      summary: Retrieve all accepted certificates by CommonName
      description: Endpoint to list all accepted certificates by a common name.
    parameters:
      - name: commonName
        description: Certificate common name.
        schema:
          type: string
        in: path
        required: true
  /pix/brcode/parse:
    post:
      requestBody:
        description: The QRCode string representation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QRCodeParseRequest'
            examples:
              StaticBRCode:
                value:
                  emv: 00020126580014br.gov.bcb.pix0136e9df7396-21cc-4e39-b154-77109689646b520400005303986540510.255802BR5913Fulano de Tal6014Rio de Janeiro62130509churrasco6304A5CA
        required: true
      tags:
        - BRCodeParse
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixStaticBRCodeEnvelope'
              examples:
                PixStaticBRCode:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      payloadFormatIndicator: '01'
                      merchantAccountInformation:
                        gui: br.gov.bcb.pix
                        key: fulano@gmail.com
                        additionalInformation: Obrigado por comprar
                      merchantCategoryCode: 5842
                      transactionCurrency: 986
                      transactionAmount: 10.55
                      countryCode: BR
                      merchantName: Pipocas RJ
                      merchantCity: Rio de Janeiro
                      postalCode: '20770000'
                      transactionIdentification: YUbBYsRdtUyD2HG4AlZzHQ
                      emvqrcps: 00020126620014br.gov.bcb.pix0116fulano@gmail.com0220Obrigado por comprar520458425303986540510.555802BR5910Pipocas RJ6014Rio de Janeiro61082077000062260522YUbBYsRdtUyD2HG4AlZzHQ6304D8F1
                PixDynamicBRCode:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pointOfInitiationMethod: '12'
                      merchantAccountInformation:
                        url: https://api.sandbox.developer.btgpactual.com/v1/p/d/7fdf644e57a048ce8383f65115535c68
                        gui: br.gov.bcb.pix
                      payloadFormatIndicator: '01'
                      merchantCategoryCode: 10
                      transactionCurrency: 986
                      transactionAmount: 10.25
                      countryCode: BR
                      merchantName: Ecommerce S.A.
                      merchantCity: Rio de Janeiro
                      transactionIdentification: 7fdf644e57a048ce8383f65115535c68
                      emvqrcps: 00020101021226980014br.gov.bcb.pix2576api.sandbox.developer.btgpactual.com/v1/p/d/7fdf644e57a048ce8383f65115535c68520400105303986540510.255802BR5914Ecommerce S.A.6014Rio de Janeiro623605327fdf644e57a048ce8383f65115535c686304C2CA
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-parse
      summary: Open the BR code information using the emv string.
      description: This endpoint returns the PIX static or dynamic BR code information parsed from the emv string.
  /pix/brcode/static:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixStaticBRCodeCreateRequest'
            examples:
              Complete:
                value:
                  clientRequestId: bc0bc832-ca05-425e-95d4-a1bf48ada1cc
                  transactionIdentification: churrasco
                  key: e9df7396-21cc-4e39-b154-77109689646b
                  amount: '50.55'
                  additionalInformation: Obrigado pela presença.
                  merchant:
                    name: Fulano de Tal
                    city: Rio de Janeiro
                    postalCode: '20100200'
                    merchantCategoryCode: 5812
              Complete without value:
                value:
                  clientRequestId: bc0bc832-ca05-425e-95d4-a1bf48ada1cc
                  transactionIdentification: churrasco
                  key: e9df7396-21cc-4e39-b154-77109689646b
                  additionalInformation: Obrigado pela presença.
                  merchant:
                    name: Fulano de Tal
                    city: Rio de Janeiro
                    postalCode: '20100200'
                    merchantCategoryCode: 5812
              Short without value:
                value:
                  clientRequestId: bc0bc832-ca05-425e-95d4-a1bf48ada1cc
                  key: e9df7396-21cc-4e39-b154-77109689646b
                  merchant:
                    name: Fulano de Tal
                    city: Rio de Janeiro
              Short with value:
                value:
                  clientRequestId: bc0bc832-ca05-425e-95d4-a1bf48ada1cc
                  key: e9df7396-21cc-4e39-b154-77109689646b
                  amount: '50.55'
                  merchant:
                    name: Fulano de Tal
                    city: Rio de Janeiro
        required: true
      tags:
        - StaticBRCode
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixStaticBRCodeResponse'
              examples:
                PixStaticBRCodeResponseExample:
                  value:
                    version: 1.0.0
                    status: 201
                    body:
                      pactualId: e329d16c-7104-493c-a698-de08da574bae
                      clientRequestId: bc0bc832-ca05-425e-95d4-a1bf48ada1cc
                      createTimestamp: '2020-10-16T21:24:11.2917507+00:00'
                      lastUpdateTimestamp: '2020-10-16T21:24:11.2917507+00:00'
                      entity: StaticBRCode
                      status: CREATED
                      body:
                        payloadFormatIndicator: '01'
                        merchantAccountInformation:
                          key: e9df7396-21cc-4e39-b154-77109689646b
                          additionalInformation: Obrigado pela presença.
                          withdrawalServiceProvider: '12345678'
                        merchantCategoryCode: 5812
                        transactionCurrency: 986
                        transactionAmount: 50.55
                        countryCode: BR
                        merchantName: Fulano de Tal
                        merchantCity: Rio de Janeiro
                        postalCode: '20100200'
                        transactionIdentification: churrasco
                        emvqrcps: 00020126850014br.gov.bcb.pix0136e9df7396-21cc-4e39-b154-77109689646b0223Obrigado pela presença.520458125303986540550.555802BR5913Fulano de Tal6014Rio de Janeiro61082010020062130509churrasco6304CDA5
                      tags: []
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static
      summary: Create a new Static BR code
      description: Create a new Static BR code.
  /pix/brcode/static/{pactualId}:
    get:
      tags:
        - StaticBRCode
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixStaticBRCodeResponse'
              examples:
                PixStaticBRCode:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      payloadFormatIndicator: '01'
                      merchantAccountInformation:
                        gui: br.gov.bcb.pix
                        key: fulano@gmail.com
                        additionalInformation: Obrigado por comprar
                        withdrawalServiceProvider: '12345678'
                      merchantCategoryCode: 5842
                      transactionCurrency: 986
                      transactionAmount: 10.55
                      countryCode: BR
                      merchantName: Pipocas RJ
                      merchantCity: Rio de Janeiro
                      postalCode: '20770000'
                      transactionIdentification: YUbBYsRdtUyD2HG4AlZzHQ
                      emvqrcps: 00020126620014br.gov.bcb.pix0116fulano@gmail.com0220Obrigado por comprar520458425303986540510.555802BR5910Pipocas RJ6014Rio de Janeiro61082077000062260522YUbBYsRdtUyD2HG4AlZzHQ6304D8F1
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static-pactualId
      summary: Get PIX static BR code information
      description: This endpoint returns the PIX static BR code information of the given pactualId passed as a parameter.
  /pix/brcode/static/{pactualId}/emv:
    get:
      tags:
        - StaticBRCode
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
              examples:
                EMVQRCPS:
                  value: 00020126620014br.gov.bcb.pix0116fulano@gmail.com0220Obrigado por comprar520458425303986540510.505802BR5910Pipocas RJ6014Rio de Janeiro61082077000062260522LZmIC7IyvUChxJhe5y/jDw6304A4DF
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static-pactualId-emv
      summary: Get PIX static BR code EMVQRCPS content
      description: This endpoint returns the static BR code instance EMVQRCPS contents.
  /pix/brcode/static/{pactualId}/svg:
    get:
      tags:
        - StaticBRCode
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
        - examples:
            pixelsPerModule:
              value: '20'
          name: pixelsPerModule
          description: |-
            The number of pixels to use per QRCode module.
            Default: 20
          schema:
            type: integer
          in: query
          required: false
      responses:
        '200':
          content:
            image/svg+xml:
              schema:
                type: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static-pactualId-svg
      summary: Get PIX static BR code svg image
      description: This endpoint returns the static BR code svg image.
  /pix/brcode/static/{pactualId}/base64:
    get:
      tags:
        - StaticBRCode
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
        - examples:
            pixelsPerModule:
              value: '20'
          name: pixelsPerModule
          description: |-
            The number of pixels to use per QRCode module.
            Default: 20
          schema:
            type: integer
          in: query
          required: false
        - name: imageType
          description: 'The image type: Gif, Jpeg or Png. Default: Png'
          schema:
            enum:
              - Gif
              - Jpeg
              - Png
            type: string
          in: query
          required: false
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static-pactualId-base64
      summary: Get PIX static BR code image base64 contents
      description: This endpoint returns the static BR code image base64 contents.
  /pix/brcode/static/search:
    get:
      tags:
        - StaticBRCode
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tags
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixStaticBRCodeSearchResponse'
              examples:
                PixStaticBRCodeSearchResponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      totalFound: 1
                      totalReturned: 1
                      startingFrom: 0
                      items:
                        - pactualId: 2363ceb3-926e-4129-a561-a464b9124fe2
                          clientRequestId: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
                          createTimestamp: '2020-07-20T15:07:46.461Z'
                          lastUpdateTimestamp: '2020-07-20T15:07:46.461Z'
                          entity: StaticBRCode
                          status: CREATED
                          body:
                            payloadFormatIndicator: '01'
                            merchantAccountInformation:
                              key: mvleandro@gmail.com
                              additionalInformation: Obrigado por comprar
                              withdrawalServiceProvider: '12345678'
                            merchantCategoryCode: 5499
                            transactionCurrency: 986
                            transactionAmount: 10.25
                            countryCode: BR
                            merchantName: Capas BR
                            merchantCity: Rio de Janeiro
                            postalCode: '20200300'
                            transactionIdentification: s85jI26SKUGlYaRkuRJP4g
                            emvqrcps: 00020126650014br.gov.bcb.pix0119mvleandro@gmail.com0220Obrigado por comprar520454995303986540510.255802BR5908Capas BR6014Rio de Janeiro61082020030062260522s85jI26SKUGlYaRkuRJP4g63044A32
                          tags:
                            - capaiphone7
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-static-search
      summary: Static BRCode search
      description: Use to search your generated Static BRCodes.
  /pix/brcode/dynamic/payload/{url}:
    get:
      tags:
        - DynamicBRCode
      parameters:
        - examples:
            BtgPactualPayloadUrl:
              value: api.sandbox.developer.btgpactual.com/v1/p/d/c0afe38fe41d4778b9e08d1c815baf83
          name: url
          description: |-
            The json payload url without the 'https://' prefix.

            > The URL value must be URLEncoded.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRPayloadJsonResponse'
              examples:
                BRPayloadJson:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      calendario:
                        criacao: '2020-09-15T19:39:54.013Z'
                        apresentacao: '2020-04-01T18:00:00Z'
                        expiracao: 3600
                      txid: fc9a4366ff3d4964b5dbc6c91a8722d3
                      revisao: 3
                      status: ATIVA
                      valor:
                        original: '500.00'
                      chave: 7407c9c8-f78b-11ea-adc1-0242ac120002
                      solicitacaoPagador: Informar cartao fidelidade
                      infoAdicionais:
                        - nome: quantidade
                          valor: '2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-parse-json
      summary: Load, validate and parse the json payload
      description: |-
        Load the DynamicBRCode payload, do all security validations and parses the contents to the json format.
        > The URL value must be URLEncoded.
  /pix/brcode/dynamic/payload/cobv/{url}:
    get:
      tags:
        - DynamicBRCode
      parameters:
        - examples:
            BtgPactualPayloadUrl:
              value: api.sandbox.developer.btgpactual.com/v1/p/d/c0afe38fe41d4778b9e08d1c815baf83
          name: url
          description: |-
            The json payload url without the 'https://' prefix.

            > The URL value must be URLEncoded.
          schema:
            type: string
          in: path
          required: true
        - examples:
            CodMun:
              value: '3550308'
          name: CodMun
          description: Code based on the IBGE Municipal Code Table that presents the list of Brazilian cities associated with 7 digits code, the first two referring to the code of the Federation Unit.
          schema:
            type: string
          in: query
        - examples:
            DPP Example:
              value: '2021-01-01'
          name: DPP
          description: Desired payment date. In a format yyyy-mm-dd, according to ISO 8601.
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRPayloadJsonCobvResponse'
              examples:
                BRPayloadJson:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      calendario:
                        criacao: '2021-03-01T10:13:58.013Z'
                        apresentacao: '2021-03-01T10:15:01.015Z'
                        dataDeVencimento: '2021-02-19'
                        validadeAposVencimento: 30
                      txid: d4c38871c8354f0fbe91b3c9c7d5b929
                      revisao: 0
                      devedor:
                        nome: Fulano de Tal
                        cpf: '42761202686'
                      recebedor:
                        nome: Banco Central do Brasil
                        cnpj: '00038166000105'
                        logradouro: Setor Bancario Sul SBS Quadra 3 Bloco B Ed Sede
                        cidade: Brasilia
                        uf: DF
                        cep: '70074900'
                      status: ATIVA
                      chave: 4004901d-bd85-4769-8e52-cb4c42c506dc
                      valor:
                        original: '863.04'
                        multa: '5.00'
                        juros: '20.00'
                        final: '888.04'
                      infoAdicionais:
                        - nome: Multa por valor fixo
                          valor: '5.00'
                        - nome: Juros absolutos por dias corridos
                          valor: '2.00'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-brcode-parse-cobv-json
      summary: Load, validate and parse the COBV json payload
      description: |-
        Load the COBV DynamicBRCode payload, do all security validations and parses the contents to the json format.
        > The URL value must be URLEncoded.
  /pix/collection-due-date:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCollectionDueDateCreateRequest'
            examples:
              pix-collection-due-date-request:
                value:
                  tags:
                    - Collection
                  clientRequestId: '000000000000000000000000000000081'
                  calendar:
                    dueDate: '2021-12-25'
                    expirationAfterPayment: 10
                  loc:
                    pactualId: 5d000ece-b3f0-47b3-8bdd-c183e8875862
                  debtor:
                    cpf: '12345678901'
                    name: jose da silva
                    email: user@example.com
                    publicArea: Rua Bela Cintra
                    city: Sao Paulo
                    state: SP
                    postalCode: '12345678'
                  receiver:
                    cnpj: '12345678909876'
                    name: Nome Comerciante
                    fantasyName: Nome Fantasia
                    publicArea: Rua Agua verde
                    city: Curitiba
                    state: PR
                    postalCode: '88888333'
                  amount:
                    original: '100.00'
                    fine:
                      modality: FIXED_VALUE
                      amountPerc: '10.00'
                    interest:
                      modality: VALUE_WORKING_DAYS
                      amountPerc: '1.00'
                    abatement:
                      modality: FIXED_VALUE
                      amountPerc: '2.00'
                    discount:
                      modality: AMOUNT_ADVANCE_BUSINESS_DAY
                      amountPerc: '1.00'
                  key: '+552197993512412'
                  payerQuestion: string
                  additionalInformation:
                    - key: string
                      value: string
              pix-collection-due-date-request-discount:
                value:
                  tags:
                    - Collection
                  clientRequestId: 82
                  calendar:
                    dueDate: '2021-12-25'
                    expirationAfterPayment: 10
                  loc:
                    pactualId: a3286bd5-9e08-428a-9d05-8aa53e0e6799
                  debtor:
                    cpf: '12345678901'
                    name: jose da silva
                    email: user@example.com
                    publicArea: Rua Bela Cintra
                    city: Sao Paulo
                    state: SP
                    postalCode: '12345678'
                  receiver:
                    cnpj: '12345678909876'
                    name: Nome Comerciante
                    fantasyName: Nome Fantasia
                    publicArea: Rua Agua verde
                    city: Curitiba
                    state: PR
                    postalCode: '88888333'
                  amount:
                    original: '100.00'
                    fine:
                      modality: FIXED_VALUE
                      amountPerc: '10.00'
                    interest:
                      modality: VALUE_WORKING_DAYS
                      amountPerc: '1.00'
                    abatement:
                      modality: FIXED_VALUE
                      amountPerc: '2.00'
                    discount:
                      modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                      discountDateFixed:
                        - date: '2021-06-26'
                          amountPerc: '10.00'
                  key: '+552197993512412'
                  payerQuestion: string
                  additionalInformation:
                    - key: string
                      value: string
        required: true
      tags:
        - PixCollectionDueDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                pix-collection-due-date-put:
                  value:
                    version: 0.1.0
                    status: 201
                    body:
                      pactualId: e3c818b2-fbdd-4568-b60d-6e2f0ce08506
                      clientRequestId: '000000000000000000000000000000081'
                      createTimestamp: '2021-02-26T23:10:29.3088162+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:10:29.3088162+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:10:29Z'
                          dueDate: '2021-12-25'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000081'
                        revision: 0
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: Rua Bela Cintra
                          city: Sao Paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        loc:
                          pactualId: 5d000ece-b3f0-47b3-8bdd-c183e8875862
                          clientRequestId: 06462860-d28f-46e0-b600-000000000000
                          createTimestamp: '2021-02-26T23:09:20.5930912+00:00'
                          lastUpdateTimestamp: '2021-02-26T23:09:20.5930912+00:00'
                          entity: QrCodeLocation
                          status: CREATED
                          body:
                            merchant:
                              postalCode: '12345678'
                              city: Sao Paulo
                              name: Moveis Usados SA
                              merchantCategoryCode: '1234'
                            url: api.d.developer.btgpactual.com/v1/p/v2/cobv/5d000eceb3f047b38bddc183e8875862
                            emv: 00020101021226980014br.gov.bcb.pix2576api.d.developer.btgpactual.com/v1/p/v2/cobv/5d000eceb3f047b38bddc183e88758625204123453039865802BR5916Moveis Usados SA6009Sao Paulo610812345678623605325d000eceb3f047b38bddc183e88758626304E5DE
                            type: COBV
                            id: '1073561733518713960'
                          tags:
                            - promocao
                            - tag
                        amount:
                          original: 100..00
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: AMOUNT_ADVANCE_BUSINESS_DAY
                            amountPerc: '1.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
                pix-collection-due-date-response-discount:
                  value:
                    version: 1.0.3-fix-uat.1+2
                    status: 201
                    body:
                      pactualId: 0eb8623e-418f-4159-a3cb-2b6cbc4dcf4c
                      clientRequestId: 82
                      createTimestamp: '2021-02-26T23:15:44.9338096+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:15:44.9338096+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:15:44Z'
                          dueDate: '2021-12-25'
                          expirationAfterPayment: 10
                        txid: 82
                        revision: 0
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: Rua Bela Cintra
                          city: Sao Paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        location:
                          pactualId: a3286bd5-9e08-428a-9d05-8aa53e0e6799
                          clientRequestId: 06462860-d28f-46e0-b000-000000000000
                          createTimestamp: '2021-02-26T23:15:28.7694318+00:00'
                          lastUpdateTimestamp: '2021-02-26T23:15:28.7694318+00:00'
                          entity: QrCodeLocation
                          status: CREATED
                          body:
                            merchant:
                              postalCode: '12345678'
                              city: Sao Paulo
                              name: Moveis Usados SA
                              merchantCategoryCode: '1234'
                            url: api.d.developer.btgpactual.com/v1/p/v2/cobv/a3286bd59e08428a9d058aa53e0e6799
                            emv: 00020101021226980014br.gov.bcb.pix2576api.d.developer.btgpactual.com/v1/p/v2/cobv/a3286bd59e08428a9d058aa53e0e67995204123453039865802BR5916Moveis Usados SA6009Sao Paulo61081234567862360532a3286bd59e08428a9d058aa53e0e67996304DC9F
                            type: COBV
                            id: '5936838246984271452'
                          tags:
                            - promocao
                            - tag
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-06-26'
                                amountPerc: '10.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Debt collection due date created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: 01-pix-collection-api-cobv-txid
      summary: Create a collection due date
      description: Endpoint to create a collection due date.
  /pix/collection-due-date/txid/{txid}:
    get:
      tags:
        - PixCollectionDueDate
      parameters:
        - examples:
            txid-due-date:
              value: 92ef3f6e8d5a4545a81415c80601a9d8
          name: txid
          description: The unique transaction identification given by the client side.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                Example 1:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:33:43.2953628+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Debt collection due date data.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-collection-api-duedate-txid
      summary: Consult a collection due date by TxId
      description: Endpoint to consult a collection due date through a certain TxID.
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCollectionDueDatePatchRequest'
            examples:
              example 1:
                value:
                  tags:
                    - Collection
                  calendar:
                    dueDate: '2021-12-16'
                    expirationAfterPayment: 10
                  status: 0
                  debtor:
                    cpf: '12345678901'
                    name: jose da silva
                    email: user@example.com
                    publicArea: avenida paulista
                    city: sao paulo
                    state: SP
                    PostalCode: '12345678'
                  receiver:
                    cnpj: '12345678909876'
                    name: Nome Comerciante
                    fantasyName: Nome Fantasia
                    publicArea: Rua Agua verde
                    city: Curitiba
                    state: PR
                    PostalCode: '88888333'
                  amount:
                    original: '100.00'
                    fine:
                      modality: FIXED_VALUE
                      amountPerc: '10.00'
                    interest:
                      modality: VALUE_WORKING_DAYS
                      amountPerc: '1.00'
                    abatement:
                      modality: FIXED_VALUE
                      amountPerc: '2.00'
                    discount:
                      modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                      discountDateFixed:
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                  key: '+552197993512412'
                  payerQuestion: string
                  additionalInformation:
                    - key: string
                      value: string
        required: true
      tags:
        - PixCollectionDueDate
      parameters:
        - examples:
            txid-due-date:
              value: 92ef3f6e8d5a4545a81415c80601a9d8
          name: txid
          description: The unique transaction identification given by the client side.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                pix-response-patch-cob-duedate:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:33:43.2953628+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Revised debt collection. The revision should be increased by 1.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: path-pix-collection-api-duedate-txid
      summary: Update a collection due date by TxId
      description: Endpoint to update a collection due date by Txid.
    parameters:
      - examples:
          txid-due-date:
            value: 92ef3f6e8d5a4545a81415c80601a9d8
        name: txid
        schema:
          type: string
        in: path
        required: true
  /pix/collection-due-date/{pactualId}:
    get:
      tags:
        - PixCollectionDueDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                Example 1:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:33:43.2953628+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Debt collection due date data.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-collection-api-duedate-pactualid
      summary: Consult a collection due date by PactualId
      description: Endpoint to consult a collection due date through a certain PactualId.
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCollectionDueDatePatchRequest'
            examples:
              example 1:
                value:
                  tags:
                    - Collection
                  calendar:
                    dueDate: '2021-12-16'
                    expirationAfterPayment: 10
                  loc:
                    pactualId: 21ee0ad7-2a34-4c67-a55d-514d6760c2e2
                  debtor:
                    cpf: '12345678901'
                    name: jose da silva
                    email: user@example.com
                    publicArea: avenida paulista
                    city: sao paulo
                    state: SP
                    postalCode: '12345678'
                  receiver:
                    cnpj: '12345678909876'
                    name: Nome Comerciante
                    fantasyName: Nome Fantasia
                    publicArea: Rua Agua verde
                    city: Curitiba
                    state: PR
                    postalCode: '88888333'
                  amount:
                    original: '100.00'
                    fine:
                      modality: FIXED_VALUE
                      amountPerc: '10.00'
                    interest:
                      modality: VALUE_WORKING_DAYS
                      amountPerc: '1.00'
                    abatement:
                      modality: FIXED_VALUE
                      amountPerc: '2.00'
                    discount:
                      modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                      discountDateFixed:
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                        - date: '2021-11-16'
                          amountPerc: '20.00'
                  status: ACTIVE
                  key: '+552197993512412'
                  payerQuestion: string
                  additionalInformation:
                    - key: string
                      value: string
        required: true
      tags:
        - PixCollectionDueDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                pix-response-patch-cob-duedate:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:33:43.2953628+00:00'
                      entity: PixCollectionDueDate
                      status: ACTIVE
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Revised debt collection. The revision should be increased by 1.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: 02-path-pix-collection-api-duedate-pactualid
      summary: Update collection due date by PactualId
      description: Endpoint to update a collection due date by PactualId.
    parameters:
      - examples:
          pactualid-due-date:
            value: 433a7726-411a-42ac-87b1-6dfff1a3a0f0
        name: pactualId
        description: The resource's unique identificator on BTG Pactual systems.
        schema:
          type: string
        in: path
        required: true
  /pix/collection-due-date/search:
    get:
      tags:
        - PixCollectionDueDate
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tags
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateSearchResponse'
              examples:
                PixCollectionDueDateSearchResponse:
                  value:
                    version: 1.6.0
                    status: 200
                    body:
                      totalFound: 4
                      totalReturned: 4
                      startingFrom: 0
                      items:
                        - pactualId: 73fca13d-9664-48da-ac63-6ba59d220f84
                          clientRequestId: '00000000000000000000000000000011'
                          createTimestamp: '2021-01-15T13:30:15.4145674+00:00'
                          lastUpdateTimestamp: '2021-01-15T13:30:15.4145674+00:00'
                          entity: PixCollectionDueDate
                          status: ACTIVE
                          body:
                            additionalInformation:
                              - value: string
                                key: string
                            debtor:
                              email: user@example.com
                              state: SP
                              postalCode: '12345678'
                              cpf: '12345678901'
                              publicArea: avenida paulista
                              city: sao paulo
                              name: jose da silva
                            payerQuestion: string
                            revision: 0
                            calendar:
                              creationTimestamp: '2021-01-15T13:30:15Z'
                              expirationAfterPayment: 10
                              dueDate: '2021-12-16'
                            amount:
                              interest:
                                amountPerc: 1
                                modality: VALUE_WORKING_DAYS
                              discount:
                                discountDateFixed:
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                              fine:
                                amountPerc: '10.00'
                                modality: FIXED_VALUE
                              abatement:
                                amountPerc: '2.00'
                                modality: FIXED_VALUE
                              original: '100.00'
                            txid: '00000000000000000000000000000011'
                            receiver:
                              fantasyName: Nome Fantasia
                              state: PR
                              postalCode: '88888333'
                              cnpj: '12345678909876'
                              publicArea: Rua Agua verde
                              city: Curitiba
                              name: Nome Comerciante
                            key: '+552197993512412'
                            loc:
                              status: CREATED
                              entity: QrCodeLocation
                              clientRequestId: 7ff3e5e1-3cd9-4748-8d00-000000000000
                              pactualId: 58f8f80d-e7ac-4967-9bf6-97095ea6caa1
                              createTimestamp: '2021-01-15T13:27:45.8012534+00:00'
                              body:
                                merchant:
                                  city: Sao Paulo
                                  name: Emerson
                                  postalCode: '12345678'
                                  merchantCategoryCode: 0
                                type: COBV
                                url: api.dev.developer.btgpactual.com/qr/v2/cobv/58f8f80de7ac49679bf697095ea6caa1
                                emv: 00020101021226980014br.gov.bcb.pix2576api.dev.developer.btgpactual.com/qr/v2/cobv/58f8f80de7ac49679bf697095ea6caa15204000053039865802BR5907Emerson6009Sao Paulo6108123456786236053258f8f80de7ac49679bf697095ea6caa16304CE09
                                id: 100
                              lastUpdateTimestamp: '2021-01-15T13:27:45.8012534+00:00'
                          tags: []
                        - pactualId: 8f98b94d-2d60-4a24-b319-35fea775b6e4
                          clientRequestId: '00000000000000000000000000000012'
                          createTimestamp: '2021-01-15T13:36:37.8640429+00:00'
                          lastUpdateTimestamp: '2021-01-15T13:36:37.8640429+00:00'
                          entity: PixCollectionDueDate
                          status: ACTIVE
                          body:
                            additionalInformation:
                              - value: string
                                key: string
                            debtor:
                              email: user@example.com
                              state: SP
                              postalCode: '12345678'
                              cpf: '12345678901'
                              publicArea: avenida paulista
                              city: sao paulo
                              name: jose da silva
                            payerQuestion: string
                            revision: 0
                            calendar:
                              creationTimestamp: '2021-01-15T13:36:37Z'
                              expirationAfterPayment: 10
                              dueDate: '2021-12-16'
                            amount:
                              interest:
                                amountPerc: '1.00'
                                modality: VALUE_WORKING_DAYS
                              discount:
                                discountDateFixed:
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                  - amountPerc: '20.00'
                                    date: '2021-11-16'
                                modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                              fine:
                                amountPerc: '10.00'
                                modality: FIXED_VALUE
                              abatement:
                                amountPerc: '2.00'
                                modality: FIXED_VALUE
                              original: '100.00'
                            txid: '00000000000000000000000000000012'
                            receiver:
                              fantasyName: Nome Fantasia
                              state: PR
                              postalCode: '88888333'
                              cnpj: '12345678909876'
                              publicArea: Rua Agua verde
                              city: Curitiba
                              name: Nome Comerciante
                            key: '+552197993512412'
                            loc:
                              status: CREATED
                              entity: QrCodeLocation
                              clientRequestId: 7ff3e5e1-3cd9-4748-8000-000000000000
                              pactualId: 78680035-8277-4e45-8b7b-d34904711f42
                              createTimestamp: '2021-01-15T13:33:37.2939398+00:00'
                              body:
                                merchant:
                                  city: Sao Paulo
                                  name: Emerson
                                  postalCode: '12345678'
                                  merchantCategoryCode: 0
                                type: COBV
                                url: api.dev.developer.btgpactual.com/qr/v2/cobv/7868003582774e458b7bd34904711f42
                                emv: 00020101021226980014br.gov.bcb.pix2576api.dev.developer.btgpactual.com/qr/v2/cobv/7868003582774e458b7bd34904711f425204000053039865802BR5907Emerson6009Sao Paulo610812345678623605327868003582774e458b7bd34904711f42630476B8
                                id: 100
                              lastUpdateTimestamp: '2021-01-15T13:33:37.2939398+00:00'
                              tags:
                                - string
                                - tag
                          tags: []
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-collection-duedate-search
      summary: Collection due date search
      description: Use to search your generated Collections.
  /pix/collection-due-date/{pactualId}/delete:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCollectionDueDeleteStatus'
            examples:
              example 1:
                value:
                  deleteStatus: DELETED_BY_USER
        required: true
      tags:
        - PixCollectionDueDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                pix-response-patch-cob-duedate:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:36:48.2742802+00:00'
                      entity: PixCollectionDueDate
                      status: DELETED_BY_USER
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Deleted debt collection.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: delete-path-pix-collection-api-duedate-pactualid
      summary: Delete a collection due by PactualId
      description: Endpoint to delete a collection due date by PactualId.
    parameters:
      - examples:
          pactualid-due-date-delete:
            value: 433a7726-411a-42ac-87b1-6dfff1a3a0f0
        name: pactualId
        description: The resource's unique identificator on BTG Pactual systems.
        schema:
          type: string
        in: path
        required: true
  /pix/collection-due-date/txid/{txid}/delete:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCollectionDueDeleteStatus'
            examples:
              example 1:
                value:
                  deleteStatus: DELETED_BY_USER
        required: true
      tags:
        - PixCollectionDueDate
      parameters:
        - examples:
            txid-due-date-delete:
              value: 92ef3f6e8d5a4545a81415c80601a9d8
          name: txid
          description: The unique transaction identification given by the client side.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCollectionDueDateResponseEnvelope'
              examples:
                pix-response-patch-cob-duedate:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      pactualId: 876f661b-f41a-49b3-b5b9-631d9de4f434
                      clientRequestId: '000000000000000000000000000000077'
                      createTimestamp: '2021-02-26T18:08:10.2869777+00:00'
                      lastUpdateTimestamp: '2021-02-26T23:36:48.2742802+00:00'
                      entity: PixCollectionDueDate
                      status: DELETED_BY_USER
                      body:
                        calendar:
                          creationTimestamp: '2021-02-26T23:33:39Z'
                          dueDate: '2021-12-16'
                          expirationAfterPayment: 10
                        txid: '000000000000000000000000000000077'
                        revision: 4
                        debtor:
                          cpf: '12345678901'
                          name: jose da silva
                          email: user@example.com
                          publicArea: avenida paulista
                          city: sao paulo
                          state: SP
                          postalCode: '12345678'
                        receiver:
                          cnpj: '12345678909876'
                          name: Nome Comerciante
                          fantasyName: Nome Fantasia
                          publicArea: Rua Agua verde
                          city: Curitiba
                          state: PR
                          postalCode: '88888333'
                        amount:
                          original: '100.00'
                          fine:
                            modality: FIXED_VALUE
                            amountPerc: '10.00'
                          interest:
                            modality: VALUE_WORKING_DAYS
                            amountPerc: '1.00'
                          abatement:
                            modality: FIXED_VALUE
                            amountPerc: '2.00'
                          discount:
                            modality: FIXED_VALUE_UNTIL_THE_DATES_INFORMED
                            discountDateFixed:
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                              - date: '2021-11-16'
                                amountPerc: '20.00'
                        key: '+552197993512412'
                        payerQuestion: string
                        additionalInformation:
                          - key: string
                            value: string
                      tags:
                        - Collection
          description: Deleted debt collection.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: delete-path-pix-collection-api-duedate-txid
      summary: Delete a collection due date by TxId
      description: Endpoint to delete a collection due date by Txid.
    parameters:
      - examples:
          txid-due-date-delete:
            value: 92ef3f6e8d5a4545a81415c80601a9d8
        name: txid
        description: The unique transaction identification given by the client side.
        schema:
          type: string
        in: path
        required: true
  /pix/collection/search:
    get:
      tags:
        - ImmediateCollection
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-03-01T00:00:00'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: ACTIVE
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tags
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobSearchResponse'
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-collection-search
      summary: Collection immediate search
      description: Use to search your generated immediate collections.
  /pix/collection/{pactualId}:
    get:
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-pix-collection-pactual-id
      summary: Consult an immediate collection by PactualId
      description: Endpoint to consult an immediate collection by PactualId.
    patch:
      requestBody:
        description: Request to update an immediate collection.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobUpdateRequest'
        required: true
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: patch-pix-collection-pactual-id
      summary: Update an immediate collection by PactualId
      description: Endpoint to update an immediate collection by PactualId.
    parameters:
      - examples:
          Example:
            value: 7f9c2b81-3c2c-409b-bd8b-a71d9b2b07c2
        name: pactualId
        description: The unique identifier of immediate collection.
        schema:
          type: string
        in: path
        required: true
  /pix/collection/{pactualId}/delete:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobDeleteRequest'
        required: true
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
              examples:
                Example:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: c7f59002-c70f-4aa6-9d68-5e3e396848cd
                      clientRequestId: 9b26edb7cf254db09f5449c94bf13zxc
                      createTimestamp: '2021-02-27T14:28:46.061863+00:00'
                      lastUpdateTimestamp: '2021-02-27T14:28:58.5235359+00:00'
                      entity: PixImmediateCollection
                      status: DELETED_BY_USER
                      body:
                        revision: 0
                        calendar:
                          expiration: 86400
                        debtor:
                          cpf: '11122233344'
                          name: Teste
                        amount:
                          original: '1.23'
                          changeType: 0
                        key: teste@teste.com
                        payerQuestion: Pergunta de teste?
                        additionalInformation:
                          - key: chave
                            value: valor
                      tags:
                        - tag_1
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: delete-pix-collection-pactual-id
      summary: Delete an immediate collection by PactualId
      description: Endpoint to delete an immediate collection by PactualId.
    parameters:
      - examples:
          Example:
            value: ad8611a0-46c1-4177-aff9-81a75db0888f
        name: pactualId
        description: The unique identifier of immediate collection.
        schema:
          type: string
        in: path
        required: true
  /pix/collection/txid/{txId}:
    get:
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-pix-collection-tx-id
      summary: Consult an immediate collection by TxId
      description: Endpoint to consult an immediate collection by TxId.
    patch:
      requestBody:
        description: Request to update an immediate collection.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobUpdateRequest'
        required: true
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: patch-pix-collection-tx-id
      summary: Update an immediate collection by TxId
      description: Endpoint to update an immediate collection by TxId.
    parameters:
      - examples:
          Example:
            value: 5a028e0a5fe1497c97b4c0743bcdd78f
        name: txId
        description: The unique transaction identification given by the client side.
        schema:
          type: string
        in: path
        required: true
  /pix/collection/txid/{txId}/delete:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobDeleteRequest'
        required: true
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponse'
              examples:
                Example:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: c7f59002-c70f-4aa6-9d68-5e3e396848cd
                      clientRequestId: 9b26edb7cf254db09f5449c94bf13zxc
                      createTimestamp: '2021-02-27T14:28:46.061863+00:00'
                      lastUpdateTimestamp: '2021-02-27T14:28:58.5235359+00:00'
                      entity: PixImmediateCollection
                      status: DELETED_BY_USER
                      body:
                        revision: 0
                        calendar:
                          expiration: 86400
                        debtor:
                          cpf: '11122233344'
                          name: Teste
                        amount:
                          original: '1.23'
                          changeType: 0
                        key: teste@teste.com
                        payerQuestion: Pergunta de teste?
                        additionalInformation:
                          - key: chave
                            value: valor
                      tags:
                        - tag_1
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: delete-pix-collection-tx-id
      summary: Delete an immediate collection by TxId
      description: Endpoin to delete an immediate collection by TxId.
    parameters:
      - examples:
          Example:
            value: 5a028e0a5fe1497c97b4c0743bcdd78f
        name: txId
        description: The unique transaction identification given by the client side.
        schema:
          type: string
        in: path
        required: true
  /pix/collection/{pactualId}/location:
    delete:
      tags:
        - ImmediateCollection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobBodyResponseWithoutLocation'
              examples:
                Example:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: f85e83de-16d2-44cf-ace6-78bddfdb12e5
                      clientRequestId: 90d0b9e1551447f695985409bf9b7fb5
                      createTimestamp: '2021-01-01T01:00:00.9985582+00:00'
                      lastUpdateTimestamp: '2021-01-01T01:00:00.9985582+00:00'
                      entity: PixImmediateCollection
                      status: ACTIVE
                      body:
                        revision: 0
                        calendar:
                          expiration: 86400
                        debtor:
                          cpf: '11122233344'
                          name: Teste
                        amount:
                          original: '1.22'
                          changeType: 0
                        key: teste@teste.com.br
                        payerQuestion: Pergunta de teste
                        additionalInformation:
                          - key: chave
                            value: valor
                      tags:
                        - tag_1
                        - tag_2
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
[...]
