openapi: 3.0.1
info:
  title: BTG Pactual Banking as a Service (PIX Merchant Clients)
  version: 2.0.0
  description: "Digital plataform developed by BTG Pactual engineers as an on demand banking service provider.\r\n\r\n[**Documentation Hub**](https://developer.btgpactual.com/portal/dochub)  \r\n    - [Commom Methods](https://developer.btgpactual.com/portal/doccm)  \r\n    - [Onboarding](https://developer.btgpactual.com/portal/docob)  \r\n    - [Transactions](https://developer.btgpactual.com/portal/doctr)  \r\n    - [PIX Commom Funcionalities](https://developer.btgpactual.com/portal/docpc)  \r\n    - [PIX Indirect Participant](https://developer.btgpactual.com/portal/docpi)  \r\n    - [PIX Merchant Clients](https://developer.btgpactual.com/portal/docpm)  \r\n\r\n|BaaS PIX Merchant Clients API| |\r\n|------------------------|-------------------------------|\r\n|Sandbox |https://api.sandbox.developer.btgpactual.com/pm|\r\n|Sandbox (with mTLS) |https://sandbox.developer.api.btgpactual.com/pm|\r\n|Production |https://api.developer.btgpactual.com/pm|\r\n|Production (with mTLS) |https://developer.api.btgpactual.com/pm|\r\n\r\n\r\n## Response Envelopes\r\n\r\nAll our responses follow the same pattern. They are sent respecting a default response envelope as shown bellow.\r\n```\r\n# Default Envelope\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 204\r\n}\r\n\r\n# Envelope with response body\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 201,\r\n    \"body\": {\r\n        \"exampleValue\": \"30306294\"\r\n    }\r\n}\r\n\r\n```\r\n\r\n## Error Messages\r\n\r\nAll errors returned from one of ours APIs will follow the same pattern as shown bellow. They will be always contained in an invelope as the example. \r\n\r\n\r\n```\r\n# Default Envelope\r\n{\r\n    \"status\": 404,\r\n    \"version\": \"1.0.0\"\r\n}\r\n\r\n# Envelope with optional error codes\r\n{\r\n    \"version\": \"1.0.0\",\r\n    \"status\": 400,\r\n    \"errors\": [\r\n        {\r\n            \"errorCode\": \"PCE001\",\r\n            \"message\": \"The field 'name' is mandatory.\"\r\n        }\r\n    ]\r\n}\r\n```\r\n"
  contact:
    name: BTG Pactual Team
    url: https://developer.btgpactual.com
    email: baas@btgpactual.com
servers:
  - url: https://api.sandbox.developer.btgpactual.com/pm
    description: BaaS API (Sandbox)
  - url: https://sandbox.developer.api.btgpactual.com/pm
    description: BaaS API (Sandbox with mTLS)
  - url: https://api.developer.btgpactual.com/pm
    description: BaaS API (Production)
  - url: https://developer.api.btgpactual.com/pm
    description: BaaS API (Production with mTLS)
paths:
  /v2.x/cobv/{pixUrlAccessToken}:
    get:
      servers:
        - url: https://{fdqnPSPRecebedor}/{pixEndpoint}/v1
          variables:
            fdqnPSPRecebedor:
              default: example.com
              description: Endpoint base so that paying users can access the Payload Json that represents the debt collection.
      tags:
        - PixJsonPayloadCobsV2.x
      responses:
        '200':
          content:
            application/jose:
              schema:
                $ref: '#/components/schemas/PixCobPayloadDueDate'
              examples:
                sample-cobv:
                  value:
                    calendario:
                      criacao: '2021-03-01T10:13:58.013Z'
                      apresentacao: '2021-03-01T10:15:01.015Z'
                      dataDeVencimento: '2021-02-19'
                      validadeAposVencimento: 30
                    txid: d4c38871c8354f0fbe91b3c9c7d5b929
                    revisao: 0
                    devedor:
                      nome: Fulano de Tal
                      cpf: '42761202686'
                    recebedor:
                      nome: Banco Central do Brasil
                      cnpj: '00038166000105'
                      logradouro: Setor Bancario Sul SBS Quadra 3 Bloco B Ed Sede
                      cidade: Brasilia
                      uf: DF
                      cep: '70074900'
                    status: ATIVA
                    chave: 4004901d-bd85-4769-8e52-cb4c42c506dc
                    valor:
                      original: '863.04'
                      multa: '5.00'
                      juros: '20.00'
                      final: '888.04'
                    infoAdicionais:
                      - nome: Multa por valor fixo
                        valor: '5.00'
                      - nome: Juros absolutos por dias corridos
                        valor: '2.00'
          description: |
            # Return Description
            The return of this endpoint is an object with a JWS structure, as specified in the security manual. Here is an example:
            ```jws
            eyJhbGciOiJSUzI1NiIsIng1dCI6IlJVUkZRamd6UXpNM1JFSkVSRGN6TkRCR09ERTJSalJCT0VVME5qY3pSRVl5UWpkQ09VTkNNQSIsImprdSI6Imh0dHA6Ly9waXgtamt1LWFwaS5kZXYuYmFhcy5jb250YWluZXIuYnRncGFjdHVhbC5uZXQvbGlzdCIsImtpZCI6ImFwaV9zYW5kYm94X2RldmVsb3Blcl9wcmkifQ.eyJjYWxlbmRhcmlvIjp7ImNyaWFjYW8iOiIyMDIxLTAyLTA1VDEzOjE0OjMxWiIsImFwcmVzZW50YWNhbyI6IjIwMjEtMDItMDlUMTM6NDY6MjVaIiwiZGF0YURlVmVuY2ltZW50byI6IjIwMjEtMTItMTYiLCJ2YWxpZGFkZUFwb3NWZW5jaW1lbnRvIjoxMH0sImRldmVkb3IiOnsiY3BmIjoiMTIzNDU2Nzg5MDEiLCJub21lIjoiam9zZSBkYSBzaWx2YSJ9LCJyZWNlYmVkb3IiOnsiY25waiI6IjEyMzQ1Njc4OTA5ODc2Iiwibm9tZSI6Ik5vbWUgQ29tZXJjaWFudGUiLCJub21lRmFudGFzaWEiOiJOb21lIEZhbnRhc2lhIiwibG9ncmFkb3VybyI6IlJ1YSBBZ3VhIHZlcmRlIiwiY2lkYWRlIjoiQ3VyaXRpYmEiLCJ1ZiI6IlBSIiwiY2VwIjoiODg4ODgzMzMifSwidHhpZCI6IjAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDQ1IiwicmV2aXNhbyI6MCwic3RhdHVzIjoiQVRJVkEiLCJ2YWxvciI6eyJvcmlnaW5hbCI6IjEwMC4wMCIsImFiYXRpbWVudG8iOiIyLjAwIiwiZGVzY29udG8iOiIyMC4wMCIsIm11bHRhIjoiMC4wMCIsImp1cm9zIjoiMC4wMCIsImZpbmFsIjoiNzguMDAifSwiY2hhdmUiOiIrNTUyMTk3OTkzNTEyNDEyIiwic29saWNpdGFjYW9QYWdhZG9yIjoic3RyaW5nIiwiaW5mb0FkaWNpb25haXMiOlt7Im5vbWUiOiJzdHJpbmciLCJ2YWxvciI6InN0cmluZyJ9XX0.PGPb8eLWMwftdMpVroJlt4f971yjUkvVn-cy2rQYkHoi6ELzkVmRfwDDdOUP6QF2QVnXHLhqocpu66zvwVIKIX5mqTCdZqoug2D447RtOiUu8LUhdNILXGumZ1b-4usxfaaRkF5TGCcbmcWybNXr0l7mN2zhQlIRzt6o2hD0m_qnphgutrNBhBY1PiHutsgoUcmMc8CJ41W47DPzm5yR9EFz53SOsYs6GCMVUE63chJBtu97_XPMO5hY3IRTUliZWD4L6lOcrxLryBeBWkucAD8ftOSwXkooy0J5E3K-TO-L5AogKvsIyLkOIvi2ZkU3QKNwWm5BQBtHKLC7uogMew
            ```
            This signed JWS object must be validated by the payer. More details about the security specification can be found in the __[Pix Security Manual](https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos)__.
            As can be seen in the example above, the JWS object has three fragments separated by the `.` (dot) character. They are: `header`, `payload` and `signature`.
            In terms of functionality, the fragment that interests the payer is the `payload`, which presents a structure as specified by the `schema` of the present endpoint, containing details concerning debt collection.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      deprecated: false
      security: []
      operationId: get-pix-api-payload-cobv
      summary: Retrieve the JSON payload that represents a due date collection
      description: |
        ## Endpoint (location) that serves a payload that represents a due date collection.
        When the debtor user reads a dynamic QR Code generated by the recipient, this URL will be accessed and its content consists of a JWS structure. The information about security in the access to urls can be found in the Pix Security Manual available at this __[link](https://www.bcb.gov.br/estabilidadefinanceira/comunicacaodados)__.
    parameters:
      - examples:
          pixUrlExample:
            value: api.developer.btgpactual.com%2Fv1%2Fp%2Fv2%2Fcobv%2Fc882d03215db4030a839daf68ea53b6e
        name: pixUrlAccessToken
        description: The Pix URL (location) that contains due date collection informations
        schema:
          type: string
        in: path
        required: true
      - name: codMun
        description: Code based on the __[IBGE](https://www.ibge.gov.br/explica/codigos-dos-municipios.php)__ Table of Municipalities Codes that presents the list of Brazilian municipalities associated with a code composed of 7 digits, the first two being related to the Federation Unit code.
        schema:
          title: City code
          pattern: /^\d{7}$/
          type: string
        in: query
      - name: DPP
        description: Desired payment date. This is a date, in `yyyy-mm-dd` format, according to ISO 8601.
        schema:
          format: date
          type: string
          example: '2021-04-01'
        in: query
  /v2.x/{pixUrlAccessToken}:
    get:
      servers:
        - url: https://{fdqnPSPRecebedor}/{pixEndpoint}/v1
          variables:
            fdqnPSPRecebedor:
              default: example.com
              description: Endpoint base so that paying users can access the Payload Json that represents the debt collection.
      tags:
        - PixJsonPayloadCobsV2.x
      responses:
        '200':
          content:
            application/jose:
              schema:
                $ref: '#/components/schemas/PixCobPayloadResponseV2x'
              examples:
                Response01:
                  value:
                    calendario:
                      criacao: '2020-09-15T19:39:54.013Z'
                      apresentacao: '2020-04-01T18:00:00Z'
                      expiracao: 3600
                    txid: fc9a4366ff3d4964b5dbc6c91a8722d3
                    revisao: 3
                    status: ATIVA
                    valor:
                      original: '500.00'
                    chave: 7407c9c8-f78b-11ea-adc1-0242ac120002
                    solicitacaoPagador: Informar cartao fidelidade
                    infoAdicionais:
                      - nome: quantidade
                        valor: '2'
          description: |
            # Return Description
            The return of this endpoint is an object with a JWS structure, as specified in the security manual. Here is an example:
            ```jws
            eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXUyJ9.eyJ0eElkIjoiNTJjNDMzNjEtY2FhMS00ZGRiLTkxNTItNzA4NDI2YTI1ZGIzIiwicmV2aXNhbyI6IjMiLCJjYWxlbmRhcmlvIjp7ImNyaWFjYW8iOiIyMDIwLTA5LTE1VDE5OjM5OjU0LjAxM1oiLCJhcHJlc2VudGFjYW8iOiIyMDIwLTA0LTAxVDE4OjAwOjAwWiIsImV4cGlyYWNhbyI6IjEyMDAifSwidmFsb3IiOnsib3JpZ2luYWwiOiI1MDAuMDAifSwiY2hhdmUiOiI3NDA3YzljOC1mNzhiLTExZWEtYWRjMS0wMjQyYWMxMjAwMDIiLCJzb2xpY2l0YWNhb1BhZ2Fkb3IiOiJJbmZvcm1hciBjYXJ0w6NvIGZpZGVsaWRhZGUiLCJpbmZvQWRpY2lvbmFpcyI6W3sibm9tZSI6InF1YW50aWRhZGUiLCJ2YWxvciI6IjIifV19.khlLEW4Q4W6zIYlacIaSHzwg_q9JrIkeinmvRDcUUD3120oXXew_xqSEAWsefY28g4MhUmK-RuaZgn1_rR22ZVM1pDbblw7Sk6dlHGxEc8PbMzMgEJPLdOZRumzMLx6YBYLAYsxT-HZp_vmBT713biN3jJf3V55z9RK6Xyo1CeWvemt81_O4kyGZ9lbp7p0VhmdJ9u6_EquEyP2n0uWy2ikbe7AFobkAdBRoF8gtp891WG5-gZmk4ZzATORNQOTrytQYMyprWV7o_prVjwT308RUo9Si-FRPTvYRGqyKo-voGoQVaZgCMUjc0jLr9WqYCRMyeCJZHTJmpaCFSNQnhw
            ```
            This signed JWS object must be validated by the payer. More details about the security specification can be found in the __[Pix Security Manual](https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos)__.
            As can be seen in the example above, the JWS object has three fragments separated by the `.` (dot) character. They are: `header`, `payload` and `signature`.
            In terms of functionality, the fragment that interests the payer is the `payload`, which presents a structure as specified by the `schema` of the present endpoint, containing details concerning debt collection.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      deprecated: false
      security: []
      operationId: get-pix-api-payload-cob
      summary: Retrieve the JSON payload that represents the immediate collection
      description: |
        ## Endpoint (location) that serves a payload that represents an immediate collection.
        When the debtor user reads a dynamic QR Code generated by the recipient, this URL will be accessed and its content consists of a JWS structure. The information about security in the access to urls can be found in the Pix Security Manual available at this __[link](https://www.bcb.gov.br/estabilidadefinanceira/comunicacaodados)__.
    parameters:
      - examples:
          pixUrlAcessToken:
            value: api.developer.btgpactual.com%2Fpc%2Fp%2Fv2%2Fcc1e3e5b9353492092be53997fcae416
        name: pixUrlAccessToken
        description: The Pix URL (location) that contains immediate collection informations
        schema:
          type: string
        in: path
        required: true
  /pix-api/v2.x/cobv:
    get:
      tags:
        - PixBacenCobDueDateV2.x
      parameters:
        - $ref: '#/components/parameters/inicio'
        - $ref: '#/components/parameters/fim'
        - name: cpf
          schema:
            allOf:
              - $ref: '#/components/schemas/CPF'
              - description: Filter by the CPF of the payer. It cannot be used at the same time as the CNPJ.
          in: query
        - name: cnpj
          schema:
            allOf:
              - $ref: '#/components/schemas/CNPJ'
              - description: Filter by the payer's CNPJ. It cannot be used at the same time as the CPF.
          in: query
        - name: locationPresente
          description: Collection with location Present.
          schema:
            type: boolean
          in: query
        - name: status
          schema:
            allOf:
              - $ref: '#/components/schemas/PixCobStatus'
              - description: Filter by debt collection status.
          in: query
        - name: loteCobVId
          description: Id of the collection lot with due.
          schema:
            type: string
          in: query
        - $ref: '#/components/parameters/paginaAtual'
        - $ref: '#/components/parameters/itensPorPagina'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenCobsDueDateConsultadas'
              examples:
                Example 1:
                  value:
                    parametros:
                      inicio: '2021-02-27T15:00:00'
                      fim: '2021-03-31T23:00:00'
                      paginacao:
                        paginaAtual: 0
                        itensPorPagina: 100
                        quantidadeDePaginas: 1
                        quantidadeTotalDeItens: 2
                    cobs:
                      - calendario:
                          criacao: '2021-02-27T19:31:24Z'
                          dataDeVencimento: '2021-12-16'
                          validadeAposVencimento: 10
                        txid: '000000000000000000000000000000093'
                        devedor:
                          cpf: '12345678901'
                          nome: jose da silva
                          email: user@example.com
                          logradouro: avenida paulista
                          cidade: sao paulo
                          uf: SP
                          cep: '12345678'
                        revisao: 5
                        recebedor:
                          cnpj: '12345678909876'
                          nome: Nome Comerciante
                          nomeFantasia: Nome Fantasia
                          logradouro: Rua Agua verde
                          cidade: Curitiba
                          uf: PR
                          cep: '88888333'
                        loc:
                          id: 100
                          location: api.dev.developer.btgpactual.com/qr/v2/cobv/2bd72fa20bd244cabbbc58861d96c61c
                          tipoCob: COBV
                          criacao: '2021-01-14T14:03:00.977Z'
                        status: ATIVA
                        valor:
                          original: '100.00'
                          multa:
                            modalidade: 1
                            valorPerc: '10.00'
                          juros:
                            modalidade: 5
                            valorPerc: '1.00'
                          abatimento:
                            modalidade: 1
                            valorPerc: '2.00'
                          desconto:
                            modalidade: 1
                            descontoDataFixa:
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                        chave: '+552197993512412'
                        solicitacaoPagador: string
                        infoAdicionais:
                          - nome: string
                            valor: string
                      - calendario:
                          criacao: '2021-02-27T17:35:30Z'
                          dataDeVencimento: '2021-12-25'
                          validadeAposVencimento: 10
                        txid: '000000000000000000000000000000095'
                        devedor:
                          cpf: '12345678901'
                          nome: jose da silva
                          email: user@example.com
                          logradouro: Rua Bela Cintra
                          cidade: Sao Paulo
                          uf: SP
                          cep: '12345678'
                        revisao: 0
                        recebedor:
                          cnpj: '12345678909876'
                          nome: Nome Comerciante
                          nomeFantasia: Nome Fantasia
                          logradouro: Rua Agua verde
                          cidade: Curitiba
                          uf: PR
                          cep: '88888333'
                        status: ATIVA
                        valor:
                          original: '100.00'
                          multa:
                            modalidade: 1
                            valorPerc: '10.00'
                          juros:
                            modalidade: 5
                            valorPerc: '1.00'
                          abatimento:
                            modalidade: 1
                            valorPerc: '2.00'
                          desconto:
                            modalidade: 4
                            descontoDataFixa:
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                        chave: '+552197993512412'
                        solicitacaoPagador: string
                        infoAdicionais:
                          - nome: string
                            valor: string
                Example 2:
                  value:
                    parametros:
                      inicio: '2021-02-27T15:00:00'
                      fim: '2021-03-31T23:00:00'
                      paginacao:
                        paginaAtual: 0
                        itensPorPagina: 100
                        quantidadeDePaginas: 1
                        quantidadeTotalDeItens: 9
                    cobs:
                      - calendario:
                          criacao: '2021-02-27T19:31:24Z'
                          dataDeVencimento: '2021-12-16'
                          validadeAposVencimento: 10
                        txid: '000000000000000000000000000000093'
                        devedor:
                          cpf: '12345678901'
                          nome: jose da silva
                          email: user@example.com
                          logradouro: avenida paulista
                          cidade: sao paulo
                          uf: SP
                          cep: '12345678'
                        revisao: 5
                        recebedor:
                          cnpj: '12345678909876'
                          nome: Nome Comerciante
                          nomeFantasia: Nome Fantasia
                          logradouro: Rua Agua verde
                          cidade: Curitiba
                          uf: PR
                          cep: '88888333'
                        loc:
                          id: 100
                          location: api.dev.developer.btgpactual.com/qr/v2/cobv/2bd72fa20bd244cabbbc58861d96c61c
                          tipoCob: COBV
                          criacao: '2021-01-14T14:03:00.977Z'
                        status: ATIVA
                        valor:
                          original: '100.00'
                          multa:
                            modalidade: 1
                            valorPerc: '10.00'
                          juros:
                            modalidade: 5
                            valorPerc: '1.00'
                          abatimento:
                            modalidade: 1
                            valorPerc: '2.00'
                          desconto:
                            modalidade: 1
                            descontoDataFixa:
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                              - data: '2021-11-16'
                                valorPerc: '20.00'
                        chave: '+552197993512412'
                        solicitacaoPagador: string
                        infoAdicionais:
                          - nome: string
                            valor: string
                        pix:
                          - endToEndId: E12345678202009091221kkkkkkkkkkk
                            txid: 655dfdb1-a451-4b8f-bb58-254b958913fb
                            valor: '110.00'
                            horario: '2020-09-09T20:15:00.358Z'
                            infoPagador: '0123456789'
                            devolucoes:
                              - id: 123ABC
                                rtrId: Dxxxxxxxx202009091221kkkkkkkkkkk
                                valor: '10.00'
                                horario:
                                  solicitacao: '2020-09-09T20:15:00.358Z'
                                status: EM_PROCESSAMENTO
                      - calendario:
                          criacao: '2021-02-27T17:35:30Z'
                          dataDeVencimento: '2021-12-25'
                          validadeAposVencimento: 10
                        txid: '000000000000000000000000000000095'
                        devedor:
                          cpf: '12345678901'
                          nome: jose da silva
                          email: user@example.com
                          logradouro: Rua Bela Cintra
                          cidade: Sao Paulo
                          uf: SP
                          cep: '12345678'
                        revisao: 0
                        recebedor:
                          cnpj: '12345678909876'
                          nome: Nome Comerciante
                          nomeFantasia: Nome Fantasia
                          logradouro: Rua Agua verde
                          cidade: Curitiba
                          uf: PR
                          cep: '88888333'
                        status: ATIVA
                        valor:
                          original: '100.00'
                          multa:
                            modalidade: 1
                            valorPerc: '10.00'
                          juros:
                            modalidade: 5
                            valorPerc: '1.00'
                          abatimento:
                            modalidade: 1
                            valorPerc: '2.00'
                          desconto:
                            modalidade: 4
                            descontoDataFixa:
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                              - data: '2021-10-16'
                                valorPerc: '20.00'
                        chave: '+552197993512412'
                        solicitacaoPagador: string
                        infoAdicionais:
                          - nome: string
                            valor: string
                        pix:
                          - endToEndId: E12345678202009091221kkkkkkkkkkk
                            txid: 655dfdb1-a451-4b8f-bb58-254b958913fb
                            valor: '110.00'
                            horario: '2020-09-09T20:15:00.358Z'
                            infoPagador: '0123456789'
                            devolucoes:
                              - id: 123ABC
                                rtrId: Dxxxxxxxx202009091221kkkkkkkkkkk
                                valor: '10.00'
                                horario:
                                  solicitacao: '2020-09-09T20:15:00.358Z'
                                status: EM_PROCESSAMENTO
          description: Collection list.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-bacen-pix-api-cobv
      summary: Query debt collection due date list V2.x
      description: Endpoint to query debt collections through parameters such as start, end, cpf, cnpj and status.
  /pix-api/v2.x/cobv/{txid}:
    get:
      tags:
        - PixBacenCobDueDateV2.x
      parameters:
        - name: Revisao
          description: Allows to recover previous revisions of a debt. In the absence of this parameter, the debt collection will always be returned as it was in its last revision.
          schema:
            $ref: '#/components/schemas/Revisao'
          in: query
          required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenCobDueDateReponseWithPix'
              examples:
                Example 1:
                  value:
                    calendario:
                      criacao: '2021-02-27T19:31:24Z'
                      dataDeVencimento: '2021-12-16'
                      validadeAposVencimento: 10
                    txid: '000000000000000000000000000000093'
                    devedor:
                      cpf: '12345678901'
                      nome: jose da silva
                      email: user@example.com
                      logradouro: avenida paulista
                      cidade: sao paulo
                      uf: SP
                      cep: '12345678'
                    revisao: 5
                    recebedor:
                      cnpj: '12345678909876'
                      nome: Nome Comerciante
                      nomeFantasia: Nome Fantasia
                      logradouro: Rua Agua verde
                      cidade: Curitiba
                      uf: PR
                      cep: '88888333'
                    loc:
                      id: 100
                      locationUrl: api.dev.developer.btgpactual.com/qr/v2/cobv/ce8afe6f2a4a414e8b03d769c609d132
                      locationType: COBV
                      criacao: '2021-01-12T18:08:31.849Z'
                    status: ATIVA
                    valor:
                      original: '100.00'
                      multa:
                        modalidade: 1
                        valorPerc: '10.00'
                      juros:
                        modalidade: 5
                        valorPerc: '1.00'
                      abatimento:
                        modalidade: 1
                        valorPerc: '2.00'
                      desconto:
                        modalidade: 1
                        descontoDataFixa:
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                    chave: '+552197993512412'
                    solicitacaoPagador: string
                    infoAdicionais:
                      - nome: string
                        valor: string
                Example 2:
                  value:
                    calendario:
                      criacao: '2021-02-27T19:31:24Z'
                      dataDeVencimento: '2021-12-16'
                      validadeAposVencimento: 10
                    txid: '000000000000000000000000000000093'
                    devedor:
                      cpf: '12345678901'
                      nome: jose da silva
                      email: user@example.com
                      logradouro: avenida paulista
                      cidade: sao paulo
                      uf: SP
                      cep: '12345678'
                    revisao: 5
                    recebedor:
                      cnpj: '12345678909876'
                      nome: Nome Comerciante
                      nomeFantasia: Nome Fantasia
                      logradouro: Rua Agua verde
                      cidade: Curitiba
                      uf: PR
                      cep: '88888333'
                    loc:
                      id: 100
                      locationUrl: api.dev.developer.btgpactual.com/qr/v2/cobv/ce8afe6f2a4a414e8b03d769c609d132
                      locationType: COBV
                      criacao: '2021-01-12T18:08:31.849Z'
                    status: ATIVA
                    valor:
                      original: '100.00'
                      multa:
                        modalidade: 1
                        valorPerc: '10.00'
                      juros:
                        modalidade: 5
                        valorPerc: '1.00'
                      abatimento:
                        modalidade: 1
                        valorPerc: '2.00'
                      desconto:
                        modalidade: 1
                        descontoDataFixa:
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                          - data: '2021-11-16'
                            valorPerc: '20.00'
                    chave: '+552197993512412'
                    solicitacaoPagador: string
                    infoAdicionais:
                      - nome: string
                        valor: string
                    pix:
                      - endToEndId: E12345678202009091221kkkkkkkkkkk
                        txid: 655dfdb1-a451-4b8f-bb58-254b958913fb
                        valor: '110.00'
                        horario: '2020-09-09T20:15:00.358Z'
                        infoPagador: '0123456789'
                        devolucoes:
                          - id: 123ABC
                            rtrId: Dxxxxxxxx202009091221kkkkkkkkkkk
                            valor: '10.00'
                            horario:
                              solicitacao: '2020-09-09T20:15:00.358Z'
                            status: EM_PROCESSAMENTO
          description: Debt collection due date data.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-bacen-cobv-txid
      summary: Consult debt collection due date V2.x
      description: Endpoint to consult a debt collection due date through a certain TxID.
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixBacenCobDueDateCreateRequest'
            examples:
              pix-request-cob-duedate:
                value:
                  calendario:
                    dataDeVencimento: '2021-12-16'
                    validadeAposVencimento: 0
                  loc:
                    id: 5999751217993605000
                  devedor:
                    cpf: '12345678901'
                    nome: jose da silva
                  valor:
                    original: '122.33'
                    multa:
                      modalidade: 1
                      valorPerc: '1.00'
                    juros:
                      modalidade: 8
                      valorPerc: '1.00'
                    abatimento:
                      modalidade: 1
                      valorPerc: '20.00'
                    desconto:
                      modalidade: 2
                      descontoDataFixa:
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                  chave: '+5521979935124'
                  solicitacaoPagador: string
                  infoAdicionais:
                    - nome: string
                      valor: string
        required: true
      tags:
        - PixBacenCobDueDateV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenCobDueDateReponse'
              examples:
                pix-response-cob-duedate-put:
                  value:
                    calendario:
                      criacao: '2021-02-27T18:46:28Z'
                      dataDeVencimento: '2021-12-16'
                      validadeAposVencimento: 0
                    txid: '00000000000000000000000000000091'
                    devedor:
                      cpf: '12345678901'
                      nome: jose da silva
                    revisao: 0
                    recebedor:
                      cnpj: '12345678909123'
                      nome: EMERSON MERCHANT COBV FISICA
                      nomeFantasia: MERCHANT FANTASIA
                      logradouro: Rua Bela Cintra cobv
                      cidade: Jundiai
                      uf: SP
                      cep: '87654321'
                    loc:
                      id: 5999751217993605000
                      location: api.d.developer.btgpactual.com/v1/p/v2/cobv/f83d4785e0fb43e78fde6d9cfa0dbb71
                      tipoCob: COBV
                      criacao: '2021-02-27T18:46:03.033Z'
                    status: ATIVA
                    valor:
                      original: '122.33'
                      multa:
                        modalidade: 1
                        valorPerc: '1.00'
                      juros:
                        modalidade: 8
                        valorPerc: '1.00'
                      abatimento:
                        modalidade: 1
                        valorPerc: '20.00'
                      desconto:
                        modalidade: 2
                        descontoDataFixa:
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                    chave: '+5521979935124'
                    solicitacaoPagador: string
                    infoAdicionais:
                      - nome: string
                        valor: string
          description: Debt collection due date created
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: put-pix-api-bacen-cobv-txid
      summary: Create debt collection due date V2.x
      description: Endpoint to create a debt collection due date.
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixBacenCobDueDatePatchRequest'
            examples:
              example 1:
                value:
                  calendario:
                    dataDeVencimento: '2021-12-16'
                    validadeAposVencimento: 0
                  loc:
                    id: 5999751217993605000
                  devedor:
                    cpf: '12345678901'
                    nome: jose da silva
                  valor:
                    original: '122.33'
                    multa:
                      modalidade: 1
                      valorPerc: '1.00'
                    juros:
                      modalidade: 8
                      valorPerc: '1.00'
                    abatimento:
                      modalidade: 1
                      valorPerc: '20.00'
                    desconto:
                      modalidade: 2
                      descontoDataFixa:
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                        - data: '2021-10-16'
                          valorPerc: '20.00'
                  chave: '+5521979935124'
                  solicitacaoPagador: string
                  infoAdicionais:
                    - nome: string
                      valor: string
              example 2:
                value:
                  status: REMOVIDA_PELO_USUARIO_RECEBEDOR
        required: true
      tags:
        - PixBacenCobDueDateV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenCobDueDateReponse'
              examples:
                pix-response-patch-cob-duedate:
                  value:
                    calendario:
                      criacao: '2021-02-27T18:46:28Z'
                      dataDeVencimento: '2021-12-16'
                      validadeAposVencimento: 0
                    txid: '00000000000000000000000000000091'
                    devedor:
                      cpf: '12345678901'
                      nome: jose da silva
                    revisao: 0
                    recebedor:
                      cnpj: '12345678909123'
                      nome: EMERSON MERCHANT COBV FISICA
                      nomeFantasia: MERCHANT FANTASIA
                      logradouro: Rua Bela Cintra cobv
                      cidade: Jundiai
                      uf: SP
                      cep: '87654321'
                    loc:
                      id: 5999751217993605000
                      location: api.d.developer.btgpactual.com/v1/p/v2/cobv/f83d4785e0fb43e78fde6d9cfa0dbb71
                      tipoCob: COBV
                      criacao: '2021-02-27T18:46:03.033Z'
                    status: ATIVA
                    valor:
                      original: '122.33'
                      multa:
                        modalidade: 1
                        valorPerc: '1.00'
                      juros:
                        modalidade: 8
                        valorPerc: '1.00'
                      abatimento:
                        modalidade: 1
                        valorPerc: '20.00'
                      desconto:
                        modalidade: 2
                        descontoDataFixa:
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                          - data: '2021-10-16'
                            valorPerc: '20.00'
                    chave: '+5521979935124'
                    solicitacaoPagador: string
                    infoAdicionais:
                      - nome: string
                        valor: string
          description: Revised debt collection. The revision should be increased by 1.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: path-pix-api-bacen-cobv-txid
      summary: Review debt collection due date V2.x
      description: Endpoint to updated a debt collection due date.
    parameters:
      - name: txid
        schema:
          $ref: '#/components/schemas/TxId'
        in: path
        required: true
  /pix-api/v2.x/cob/{txid}:
    get:
      tags:
        - PixCobV2.x
      parameters:
        - name: revisao
          description: Allows to recover previous revisions of a debt. In the absence of this parameter, the debt collection will always be returned as it was in its last revision.
          schema:
            $ref: '#/components/schemas/Revisao'
          in: query
          required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobCompletaV2X'
              examples:
                Exemplo1:
                  value:
                    calendario:
                      criacao: '2019-08-24T14:15:22Z'
                      expiracao: '3600'
                    status: ATIVA
                    txid: b44f5080b71947c3b1e1d8fd0211b3f6
                    revisao: 0
                    location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                    loc:
                      id: 789
                      location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                      tipoCob: COB
                      criacao: '2019-08-24T13:15:22Z'
                    devedor:
                      cpf: '12345678901'
                      nome: Teste
                    valor:
                      original: '1.23'
                      modalidadeAlteracao: 0
                    chave: teste@teste.com
                    solicitacaoPagador: Pergunta de teste
                    infoAdicionais:
                      - nome: chave
                        valor: valor
          description: Debt collection data.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-cob-txid-v2.x
      summary: Consult a debt collection V2.x
      description: Endpoint to consult a debt collection through a certain TxID.
    put:
      requestBody:
        $ref: '#/components/requestBodies/PixCobBodyV2X'
      tags:
        - PixCobV2.x
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobGeradaV2X'
              examples:
                Exemplo1:
                  value:
                    calendario:
                      criacao: '2019-08-24T14:15:22Z'
                      expiracao: '3600'
                    status: ATIVA
                    txid: b44f5080b71947c3b1e1d8fd0211b3f6
                    revisao: 0
                    location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                    loc:
                      id: 789
                      location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                      tipoCob: COB
                      criacao: '2019-08-24T13:15:22Z'
                    devedor:
                      cpf: '12345678901'
                      nome: Teste
                    valor:
                      original: '1.23'
                      modalidadeAlteracao: 0
                    chave: teste@teste.com
                    solicitacaoPagador: Pergunta de teste
                    infoAdicionais:
                      - nome: chave
                        valor: valor
          description: Debt collection created.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: put-pix-api-cob-txid-v2.x
      summary: Create debt collection V2.x
      description: Endpoint to create a debt passing a txid.
    patch:
      requestBody:
        $ref: '#/components/requestBodies/PixCobBodyRevisadaV2X'
      tags:
        - PixCobV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobGeradaV2X'
              examples:
                Exemplo1:
                  value:
                    calendario:
                      criacao: '2019-08-24T14:15:22Z'
                      expiracao: '3600'
                    status: ATIVA
                    txid: b44f5080b71947c3b1e1d8fd0211b3f6
                    revisao: 0
                    location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                    loc:
                      id: 789
                      location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                      tipoCob: COB
                      criacao: '2019-08-24T13:15:22Z'
                    devedor:
                      cpf: '12345678901'
                      nome: Teste
                    valor:
                      original: '1.23'
                      modalidadeAlteracao: 0
                    chave: teste@teste.com
                    solicitacaoPagador: Pergunta de teste
                    infoAdicionais:
                      - nome: chave
                        valor: valor
          description: Revised debt collection. The revision should be increased by 1.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: path-pix-api-cob-txid-v2.x
      summary: Review debt V2.x
      description: Endpoint to update an existent debt passing a txid.
    parameters:
      - name: txid
        schema:
          $ref: '#/components/schemas/TxId'
        in: path
        required: true
  /pix-api/v2.x/loc:
    get:
      tags:
        - PixLocV2.x
      parameters:
        - $ref: '#/components/parameters/inicio'
        - $ref: '#/components/parameters/fim'
        - name: txIdPresente
          description: Flag to return data with txId in response or not.
          schema:
            type: boolean
          in: query
        - name: tipoCob
          description: Type of locations to return in response.
          schema:
            enum:
              - cob
              - cobv
            type: string
          in: query
        - $ref: '#/components/parameters/paginaAtual'
        - $ref: '#/components/parameters/itensPorPagina'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixLocConsultadasV2X'
          description: OK
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
      operationId: get-pix-api-location-v2.x
      summary: Query location list V2.x
      description: Endpoint to consult registered locations.
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixLocSolicitadaV2X'
        required: true
      tags:
        - PixLocV2.x
      responses:
        '201':
          headers:
            location:
              schema:
                format: uri
                title: Location Identifier of location created.
                description: Payload location to be informed when creating the charge.
                type: string
                example: api.dev.developer.btgpactual.com/qr/v2/cabe4117ead3455dbfab4f7400cbc9c1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenLocWithoutTxid'
          description: OK
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
      operationId: post-pix-api-location-v2.x
      summary: Create location for a payload V2.x
      description: Endpoint to create location for a payload.
  /pix-api/v2.x/loc/{id}:
    get:
      tags:
        - PixLocV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenLoc'
          description: OK
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
      operationId: get-pix-api-loc-id-v2.x
      summary: Recover the payload location V2.x
      description: Recovers the payload location.
    parameters:
      - examples:
          Exemplo1:
            value: '1'
        name: id
        description: Identifier of the location to be informed when creating the charge.
        schema:
          type: number
        in: path
        required: true
  /pix-api/v2.x/loc/{id}/txid:
    delete:
      tags:
        - PixLocV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenLocWithoutTxid'
          description: OK
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
      operationId: delete-pix-api-loc-id-v2.x
      summary: Unlink a collection from a location V2.x
      description: Endpoint used to unlink a collection from a location. If executed successfully, the loc entity will no longer present a txid, it presented itself before the call. Additionally, the cob or cobv entity associated to the disconnected txid will also no longer present a location. This operation does not change the status of the cob or cobv in question.
    parameters:
      - examples:
          Exemplo1:
            value: '1'
        name: id
        description: Identifier for location.
        schema:
          type: number
        in: path
        required: true
  /pix-api/v2.x/pix:
    get:
      tags:
        - PixIncomingV2.x
      parameters:
        - $ref: '#/components/parameters/inicio'
        - $ref: '#/components/parameters/fim'
        - name: txId
          schema:
            $ref: '#/components/schemas/TxId'
          in: query
        - name: txIdPresente
          description: ''
          schema:
            type: boolean
          in: query
        - name: devolucaoPresente
          description: ''
          schema:
            type: boolean
          in: query
        - name: cpf
          schema:
            allOf:
              - $ref: '#/components/schemas/CPF'
              - description: Filter by the CPF of the payer. It cannot be used at the same time as the CNPJ.
          in: query
        - name: cnpj
          schema:
            allOf:
              - $ref: '#/components/schemas/CNPJ'
              - description: Filter by the payer's CNPJ. It cannot be used at the same time as the CPF.
          in: query
        - $ref: '#/components/parameters/paginaAtual'
        - $ref: '#/components/parameters/itensPorPagina'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixIncomingConsultadosV2X'
              examples:
                getCobs1:
                  $ref: '#/components/examples/getPix1V2X'
          description: List of Pix received according to the search criteria.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-pix-v2x
      summary: Query Pix received V2.X
      description: Endpoint to query received Pix V2.X.
  /pix-api/v2.x/pix/{e2eid}:
    get:
      tags:
        - PixIncomingV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobV2XGet'
              examples:
                retorno1:
                  summary: Exemplo 1
                  value:
                    endToEndId: E12345678202009091221abcdef12345
                    txid: cd1fe328c875481285a6f233ae41b662
                    valor: '100.00'
                    horario: '2020-09-10T13:03:33.902Z'
                    infoPagador: Reforma da casa
                    devolucoes:
                      - id: 000AAA111
                        rtrId: D12345678202009091000abcde123456
                        valor: '11.00'
                        horario:
                          solicitacao: '2020-09-10T13:03:33.902Z'
                        status: EM_PROCESSAMENTO
                retorno2:
                  summary: Exemplo 2
                  value:
                    endToEndId: E12345678202009091221ghijk78901234
                    txid: 5b933948f3224266b1050ac54319e775
                    valor: '200.00'
                    horario: '2020-09-10T13:03:33.902Z'
                    infoPagador: Revisão do carro
          description: Data of the Pix effected.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-pix-e2eid-v2x
      summary: Query Pix Incoming V2.X
      description: Endpoint to query a Pix by e2eid V.2X.
    parameters:
      - name: e2eid
        schema:
          $ref: '#/components/schemas/EndToEndId'
        in: path
        required: true
  /pix-api/v2.x/pix/{e2eid}/devolucao/{id}:
    get:
      tags:
        - PixIncomingV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobV2XDevolucao'
              examples:
                retorno1:
                  $ref: '#/components/examples/retorno7'
          description: Reversal Data.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-pix-e2eid-devolucao-id-v2x
      summary: Query Reversal V2.X
      description: Endpoint to view a reversal by an e2eId of the Pix and the reversal id V2.X.
    put:
      requestBody:
        description: Data for reversal order.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDevolucaoRequest'
              properties:
                valor:
                  allOf:
                    - $ref: '#/components/schemas/PixCobValor'
                    - description: Amount requested for reversal. The sum of the values of all the reversals may not exceed the total amount of the charge.
            example:
              valor: '7.89'
        required: true
      tags:
        - PixIncomingV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobV2XDevolucao'
              examples:
                retorno1:
                  $ref: '#/components/examples/retorno7'
          description: Reversal Data.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: put-pix-api-pix-e2eid-devolucao-id-v2x
      summary: Request Pix Refund V2.x
      description: Endpoint to request a reversal by an e2eId of the Pix and the reversal id V2.X.
    parameters:
      - name: e2eid
        schema:
          $ref: '#/components/schemas/EndToEndId'
        in: path
        required: true
      - name: id
        schema:
          $ref: '#/components/schemas/DevolucaoId'
        in: path
        required: true
  /pix-api/v2.x/cob:
    get:
      tags:
        - PixCobV2.x
      parameters:
        - $ref: '#/components/parameters/inicio'
        - $ref: '#/components/parameters/fim'
        - name: cpf
          schema:
            allOf:
              - $ref: '#/components/schemas/CPF'
              - description: Filter by the CPF of the payer. It cannot be used at the same time as the CNPJ.
          in: query
        - name: cnpj
          schema:
            allOf:
              - $ref: '#/components/schemas/CNPJ'
              - description: Filter by the payer's CNPJ. It cannot be used at the same time as the CPF.
          in: query
        - name: status
          schema:
            allOf:
              - $ref: '#/components/schemas/PixCobStatus'
              - description: Filter by debt collection status.
          in: query
        - $ref: '#/components/parameters/paginaAtual'
        - $ref: '#/components/parameters/itensPorPagina'
        - name: locationPresente
          description: Filter all collection by the existence of the location.
          schema:
            type: boolean
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobsConsultadasV2X'
              examples:
                Exemplo1:
                  value:
                    parametros:
                      inicio: '2020-04-01T00:00:00Z'
                      fim: '2020-04-02T10:00:00Z'
                      paginacao:
                        paginaAtual: 0
                        itensPorPagina: 100
                        quantidadeDePaginas: 1
                        quantidadeTotalDeItens: 2
                    cobs:
                      - status: ATIVA
                        calendario:
                          criacao: '2020-09-09T20:15:00.358Z'
                          expiracao: '3600'
                        location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
                        loc:
                          id: 789
                          location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
                          tipoCob: COB
                          criacao: '2020-09-09T19:15:00.358Z'
                        txid: 7978c0c97ea847e78e8849634473c1f1
                        revisao: 1
                        devedor:
                          cnpj: '12345678000195'
                          nome: Empresa de Serviços SA
                        valor:
                          original: '567.89'
                          modalidadeAlteracao: 0
                        chave: a1f4102e-a446-4a57-bcce-6fa48899c1d1
                        solicitacaoPagador: Informar cartão fidelidade
                      - status: CONCLUIDA
                        calendario:
                          criacao: '2020-09-09T20:15:00.358Z'
                          expiracao: '3600'
                        location: pix.example.com/qr/1dd7f893a58e417287028dc33e21a403
                        loc:
                          id: 790
                          location: pix.example.com/qr/1dd7f893a58e417287028dc33e21a403
                          tipoCob: COB
                          criacao: '2020-09-09T18:15:00.358Z'
                        txid: 655dfdb1a4514b8fbb58254b958913fb
                        revisao: 1
                        devedor:
                          cnpj: '12345678000195'
                          nome: Empresa de Serviços SA
                        valor:
                          original: '100.00'
                          modalidadeAlteracao: 1
                        chave: 40a0932d-1918-4eee-845d-35a2da1690dc
                        solicitacaoPagador: Informar cartão fidelidade
                        pix:
                          - endToEndId: E12345678202009091221kkkkkkkkkkk
                            txid: 655dfdb1a4514b8fbb58254b958913fb
                            valor: '110.00'
                            horario: '2020-09-09T20:15:00.358Z'
                            infoPagador: '0123456789'
                            devolucoes:
                              - id: 123ABC
                                rtrId: Dxxxxxxxx202009091221kkkkkkkkkkk
                                valor: '10.00'
                                horario:
                                  solicitacao: '2020-09-09T20:15:00.358Z'
                                status: EM_PROCESSAMENTO
                Exemplo2:
                  value:
                    parametros:
                      inicio: '2020-04-01T00:00:00Z'
                      fim: '2020-04-01T23:59:59Z'
                      paginacao:
                        paginaAtual: 0
                        itensPorPagina: 100
                        quantidadeDePaginas: 1
                        quantidadeTotalDeItens: 1
                    cobs:
                      - status: ATIVA
                        calendario:
                          criacao: '2020-09-09T20:15:00.358Z'
                          expiracao: '3600'
                        location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
                        loc:
                          id: 789
                          location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
                          tipoCob: COB
                          criacao: '2020-09-09T19:15:00.358Z'
                        txid: 7978c0c97ea847e78e8849634473c1f1
                        revisao: 1
                        devedor:
                          cnpj: '12345678000195'
                          nome: Empresa de Serviços SA
                        valor:
                          original: '567.89'
                          modalidadeAlteracao: 0
                        chave: a1f4102e-a446-4a57-bcce-6fa48899c1d1
                        solicitacaoPagador: Informar cartão fidelidade
          description: Collection list.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-cob-v2.x
      summary: Query debt collection list V2.x
      description: Endpoint to query debt collections through parameters such as start, end, cpf, cnpj, status and locationPresente.
    post:
      requestBody:
        $ref: '#/components/requestBodies/PixCobBodyV2X'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobSolicitadaV2X'
            examples:
              Example:
                value:
                  calendario:
                    expiracao: '3600'
                  loc:
                    id: 100
                  devedor:
                    cpf: '11122233344'
                    nome: Teste
                  valor:
                    original: '1.23'
                  chave: teste@teste.com
                  solicitacaoPagador: Pergunta de teste?
                  infoAdicionais:
                    - nome: chave
                      valor: valor
              Change Example:
                value:
                  calendario:
                    expiracao: '3600'
                  loc:
                    id: 100
                  devedor:
                    cpf: '11122233344'
                    nome: Teste
                  valor:
                    original: '11.23'
                    modalideAlteracao: 0
                    retirada:
                      valor: '10.00'
                      modalidadeAlteracao: 0
                      modalidadeAgente: AGPSS
                      prestadorDoServicoDeSaque: '12345678'
                  chave: teste@teste.com
                  solicitacaoPagador: Pergunta de teste?
                  infoAdicionais:
                    - nome: chave
                      valor: valor
      tags:
        - PixCobV2.x
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobGeradaV2X'
              examples:
                Exemplo1:
                  value:
                    calendario:
                      criacao: '2019-08-24T14:15:22Z'
                      expiracao: '3600'
                    status: ATIVA
                    txid: b44f5080b71947c3b1e1d8fd0211b3f6
                    revisao: 0
                    location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                    loc:
                      id: 789
                      location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                      tipoCob: COB
                      criacao: '2019-08-24T13:15:22Z'
                    devedor:
                      cpf: '12345678901'
                      nome: Teste
                    valor:
                      original: '1.23'
                      modalidadeAlteracao: 0
                    chave: teste@teste.com
                    solicitacaoPagador: Pergunta de teste
                    infoAdicionais:
                      - nome: chave
                        valor: valor
                Example Change:
                  value:
                    calendario:
                      criacao: '2021-10-09T14:15:22Z'
                      expiracao: '3600'
                    status: ATIVA
                    txid: c56f5080b71947c3b1e1d8fd0211b3f6
                    revisao: 0
                    location: pix.example.com/qr/2353c790eefb11eaadc10242ac120002
                    loc:
                      id: 654
                      location: pix.example.com/qr/2353c790eefb11eaadc10242ac120547
                      tipoCob: COB
                      criacao: '2021-10-08T13:15:22Z'
                    devedor:
                      cpf: '12345678901'
                      nome: Teste
                    valor:
                      original: '11.23'
                      modalidadeAlteracao: 0
                      retirada:
                        valor: '10.00'
                        modalidadeAlteracao: 0
                        modalidadeAgente: AGPSS
                        prestadorDoServicoDeSaque: '12345678'
                    chave: teste@teste.com
                    solicitacaoPagador: Pergunta de teste
                    infoAdicionais:
                      - nome: chave
                        valor: valor
          description: Debt collection created
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-api-cob
      summary: Create debt collection V2.x
      description: Endpoint to create a debt.
  /pix-api/v2.x/bulkcobv/{id}:
    get:
      tags:
        - PixBacenBulkCobDueDateV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenBulkCobvGet'
              examples:
                Example 1:
                  value:
                    id: 31
                    descricao: Lote teste de Carga 2021-06-29:19:18:37
                    criacao: '2021-06-24T18:51:14Z'
                    cobsv:
                      - txid: '10000000000000000000000000000112'
                        status: EM_PROCESSAMENTO
                      - txid: '10000000000000000000000000000111'
                        status: EM_PROCESSAMENTO
                Example 2:
                  value:
                    id: 31
                    descricao: Lote teste de Carga 2021-06-29:19:18:37
                    criacao: '2021-06-29T19:18:37Z'
                    cobsv:
                      - txid: '20210629191836000000001415252170'
                        status: CRIADA
                        criacao: '2021-06-29T20:14:13Z'
                      - txid: '20210629191836000000001753442581'
                        status: CRIADA
                        criacao: '2021-06-29T20:13:40Z'
                      - txid: '20210629191836000000000591373901'
                        status: CRIADA
                        criacao: '2021-06-29T20:13:48Z'
                Example 3:
                  value:
                    id: 30
                    descricao: Lote teste de Carga 2021-06-29:19:18:37
                    criacao: '2021-06-29T11:02:53Z'
                    cobsv:
                      - txid: '000000000000000000000000000000011'
                        status: NEGADA
                        problema:
                          type: https://pix.bcb.gov.br/api/v2/error/AcessoNegado
                          title: Acesso Negado
                          status: 403
                          detail: Requisição de participante autenticado que viola alguma regra de autorização.
                          correlationId: f79d5608-da44-49bb-b959-fa1f2de2fb1b
                          violations:
                            - reason: o location referenciado por cobv.loc.id já está sendo utilizado por outra cobrança.
                              property: cobv.loc.id
                      - txid: '000000000000000000000000000000021'
                        status: NEGADA
                        problema:
                          type: https://pix.bcb.gov.br/api/v2/error/AcessoNegado
                          title: Acesso Negado
                          status: 403
                          detail: Requisição de participante autenticado que viola alguma regra de autorização.
                          correlationId: b45b2102-864c-49a9-a308-c11bfe713b25
                          violations:
                            - reason: o location referenciado por cobv.loc.id já está sendo utilizado por outra cobrança.
                              property: cobv.loc.id
          description: Bulk collection due date data.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-api-bacen-bulk-cobv-id
      summary: Consult a specific Bulk of collection due date
      description: Endpoint to query a bulk of collection due date.
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixBacenBulkCobDueDatePUTRequest'
            examples:
              pix-request-bulk-cob-duedate:
                value:
                  descricao: Criação lote com vencimento
                  cobsv:
                    - txid: '000000000000000000000000000000011'
                      calendario:
                        dataDeVencimento: '2021-12-16'
                        validadeAposVencimento: 0
                      loc:
                        id: 8193397764286823000
                      devedor:
                        cpf: '12345678901'
                        nome: jose da silva soares
                      valor:
                        original: '122.50'
                        multa:
                          modalidade: 1
                          valorPerc: '1.00'
                        juros:
                          modalidade: 8
                          valorPerc: '1.00'
                        abatimento:
                          modalidade: 1
                          valorPerc: '20.00'
                        desconto:
                          modalidade: 2
                          descontoDataFixa:
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                      chave: agushikem@gmail.com
                      solicitacaoPagador: string
                      infoAdicionais:
                        - nome: Cob1
                          valor: Teste Cobv 1
                    - txid: '000000000000000000000000000000021'
                      calendario:
                        dataDeVencimento: '2021-12-16'
                        validadeAposVencimento: 0
                      loc:
                        id: 8193397764286823000
                      devedor:
                        cpf: '12345678901'
                        nome: jose da silva
                      valor:
                        original: '150.00'
                        multa:
                          modalidade: 1
                          valorPerc: '1.00'
                        juros:
                          modalidade: 8
                          valorPerc: '1.00'
                        abatimento:
                          modalidade: 1
                          valorPerc: '20.00'
                        desconto:
                          modalidade: 2
                          descontoDataFixa:
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                      chave: agushikem@gmail.com
                      solicitacaoPagador: string
                      infoAdicionais:
                        - nome: Teste
                          valor: Teste criaçao cobrança
        required: true
      tags:
        - PixBacenBulkCobDueDateV2.x
      responses:
        '202':
          description: Bulk collection with requested due date for creation.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: put-pix-api-bacen-bulk-cobv-id
      summary: Create/Change Bulk collection due date
      description: |-
        Endpoint used to create or change a bulk of collection due date.
        For the collection change use case, the array to be assigned in the request
        must be composed of the exact requests to create collections that
        contained in the array assigned in the originating request.

        You cannot use this endpoint to _change_ a bulk of collections due date
        adding or removing existing collection within the collection of charges
        created in the requisition originating from the batch.

        In other words, if you originally created a bulk, for example, with collections
        [`a`, `b` and `c`], you cannot _change_ this original set of collection than the
        bulk represents for [`a`, `b`, `c`, `d`], or for [`a`, `b`].
        On the other hand, you can change, _batch_ the collections [`a`, `b`, `c`],
        as originally contained in the original bulk requisition.

        A billing __creation__ request with status "IN_PROCESSING" or "DENIED"
        is associated with a charge does not _exist_ in fact, so it will not be
        listed in `GET /cobv` or `GET /cobv/{txid}`.
        A collection, once created via `PUT /cobv/{txid}`,
        cannot be associated with a bulk later.
        A collection, once created via `PUT /bulkcobv/{id}`,
        cannot be associated with a new bulk later.
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixBacenBulkCobDueDatePATCHRequest'
            examples:
              example 1:
                value:
                  descricao: Alteração lote com vencimento
                  cobsv:
                    - txid: '000000000000000000000000000000011'
                      valor:
                        original: '122.50'
                        multa:
                          modalidade: 1
                          valorPerc: '1.00'
                        juros:
                          modalidade: 8
                          valorPerc: '1.00'
                        abatimento:
                          modalidade: 1
                          valorPerc: '20.00'
                        desconto:
                          modalidade: 2
                          descontoDataFixa:
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                    - txid: '000000000000000000000000000000021'
                      calendario:
                        dataDeVencimento: '2021-12-16'
                        validadeAposVencimento: 0
                      valor:
                        original: '150.00'
                        multa:
                          modalidade: 1
                          valorPerc: '1.00'
                        juros:
                          modalidade: 8
                          valorPerc: '1.00'
                        abatimento:
                          modalidade: 1
                          valorPerc: '20.00'
                        desconto:
                          modalidade: 2
                          descontoDataFixa:
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
                            - data: '2021-10-16'
                              valorPerc: '20.00'
        required: true
      tags:
        - PixBacenBulkCobDueDateV2.x
      responses:
        '202':
          description: Bulk collection review request forwarded for processing.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '404':
          $ref: '#/components/responses/BacenNotFound'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: path-pix-api-bacen-bulk-cobv-id
      summary: Used to review specific collection within a due Bulk collection
      description: |-
        Endpoint used to review specific collections within a bulk of collections due date.
        The difference between this endpoint and the related PUT endpoint is that this endpoint supports an array
        `cobsv` with fewer requests to create or change collections than the array assigned in requisition originating from the batch.
        You cannot, however, use this endpoint to aggregate or remove requests from
        alteration or creation of collections as stated in the original requisition of the bulk.
    parameters:
      - examples:
          Exemplo:
            value: '1'
        name: id
        description: Bulk id
        schema:
          format: int64
          type: integer
        in: path
        required: true
  /pix-api/v2.x/bulkcobv:
    get:
      tags:
        - PixBacenBulkCobDueDateV2.x
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixBacenBulksDueDateConsultadas'
              examples:
                Example:
                  value:
                    parametros:
                      inicio: '2021-06-29T00:00:00'
                      fim: '2021-07-20T23:59:59'
                      paginacao:
                        paginaAtual: 3
                        itensPorPagina: 2
                        quantidadeDePaginas: 10
                        quantidadeTotalDeItens: 100
                    lotes:
                      - id: 29
                        descricao: Lote teste de Carga 2021-06-29:19:18:35
                        criacao: '2021-06-29T22:18:35Z'
                        cobsv:
                          - txid: '20210629191835000000000002827962'
                            status: CRIADA
                            criacao: '2021-06-29T23:14:14Z'
                          - txid: '20210629191835000000000031802900'
                            status: CRIADA
                            criacao: '2021-06-29T23:14:13Z'
                      - id: 30
                        descricao: Criação lote 05 atualizado
                        criacao: '2021-06-29T14:02:53Z'
                        cobsv:
                          - txid: '000000000000000000000000000000011'
                            status: NEGADA
                            problema:
                              type: https://pix.bcb.gov.br/api/v2/error/AcessoNegado
                              title: Acesso Negado
                              status: 403
                              detail: Requisição de participante autenticado que viola alguma regra de autorização.
                              correlationId: f79d5608-da44-49bb-b959-fa1f2de2fb1b
                              violations:
                                - reason: o location referenciado por cobv.loc.id já está sendo utilizado por outra cobrança.
                                  property: cobv.loc.id
                          - txid: '000000000000000000000000000000021'
                            status: NEGADA
                            problema:
                              type: https://pix.bcb.gov.br/api/v2/error/AcessoNegado
                              title: Acesso Negado
                              status: 403
                              detail: Requisição de participante autenticado que viola alguma regra de autorização.
                              correlationId: b45b2102-864c-49a9-a308-c11bfe713b25
                              violations:
                                - reason: o location referenciado por cobv.loc.id já está sendo utilizado por outra cobrança.
                                  property: cobv.loc.id
          description: Bulks Collection list.
        '400':
          $ref: '#/components/responses/BacenBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BacenForbidden'
        '500':
          $ref: '#/components/responses/BacenInternalServer'
        '503':
          $ref: '#/components/responses/BacenServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-bacen-pix-api-bulkcobv
      summary: Query Bulk collection due date list
      description: Endpoint to query bulk collections through parameters such as start and end.
    parameters:
      - $ref: '#/components/parameters/inicio'
      - $ref: '#/components/parameters/fim'
      - $ref: '#/components/parameters/paginaAtual'
      - $ref: '#/components/parameters/itensPorPagina'
  /pix/merchant/payment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixPaymentMerchantRequestPayload'
            examples:
              Example:
                value:
                  clientRequestId: 45244f4e-15ff-413d-808d-8837652ebdc6
                  amount: '10.01'
                  creditParty:
                    account: '1000'
                    name: Beltrano de Tal
                    taxId: '22222222222'
                    accountType: CACC
                    branch: '1'
                    bank: '30306294'
                  tags:
                    - abc
                    - def
                  remittanceInformation: Informação para ser apresentada
                  paymentType: IMMEDIATE
                  transactionType: CHANGE
                  vlcpAmount: '5.01'
                  vldnAmount: '5.00'
              Example with DICT key:
                value:
                  clientRequestId: 45244f4e-15ff-413d-808d-8837652ebdc6
                  amount: '10.01'
                  creditParty:
                    account: '1000'
                    name: Beltrano de Tal
                    taxId: '22222222222'
                    accountType: CACC
                    branch: '1'
                    bank: '30306294'
                    key: fulano@gmail.com
                  tags:
                    - abc
                    - def
                  paymentType: FRAUD
                  transactionType: WITHDRAWAL
                  vldnAmount: '10.01'
        required: true
      tags:
        - Merchant
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixPaymentResponse'
              examples:
                PixPaymentResponseFull:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: edd20ddc-534c-4d4a-87d0-8496ea298d14
                      clientRequestId: 45244f4e-15ff-413d-808d-7837652ebdc2
                      createTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      lastUpdateTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      entity: PixPayment
                      status: PROCESSING
                      body:
                        amount: 10.01
                        debitParty:
                          bank: '30306294'
                          branch: '10'
                          account: '10'
                          name: Debit example name
                          taxId: '11111111111'
                          personType: NATURAL_PERSON
                          accountType: CACC
                        creditParty:
                          bank: '30306294'
                          branch: '10'
                          account: '10'
                          name: Credit example name
                          taxId: '22222222222'
                          personType: NATURAL_PERSON
                          accountType: CACC
                        transactionIdentification: abcd0000000001
                        endToEndId: E3030629420200808185300887639654
                        remittanceInformation: Information...
                        paymentType: IMMEDIATE
                        transactionType: CHANGE
                        initiationType: MANUAL
                        urgency: HIGH
                        vlcpAmount: 5.01
                        vldnAmount: 5.01
                      tags:
                        - abc
                PixPaymentFullResponseDictKey:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: edd20ddc-534c-4d4a-87d0-8496ea298d14
                      clientRequestId: 45244f4e-15ff-413d-808d-7837652ebdc2
                      createTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      lastUpdateTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      entity: PixPayment
                      status: PROCESSING
                      body:
                        amount: 10.01
                        debitParty:
                          bank: '30306294'
                          branch: '10'
                          account: '10'
                          name: Debit example name
                          taxId: '11111111111'
                          personType: NATURAL_PERSON
                          accountType: CACC
                        creditParty:
                          key: beltrano@gmail.com
                          bank: '30306294'
                          branch: '10'
                          account: '10'
                          name: Credit example name
                          taxId: '22222222222'
                          personType: NATURAL_PERSON
                          accountType: CACC
                        endToEndId: E3030629420200808185300887639654
                        remittanceInformation: Information...
                        paymentType: IMMEDIATE
                        transactionType: CHANGE
                        initiationType: MANUAL
                        urgency: HIGH
                        vlcpAmount: 5.01
                        vldnAmount: 5.01
                      tags:
                        - abc
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-merchant-payment
      summary: Send a Pix Payment as a Transactional Customer
      description: |-
        This endpoint must be used by transactional clients that wish to request a Pix Payment. The amount will be debited from your account marked as default. 

        Rules based on the transactionType value:

        |TransactionType|Property|Rule|
        |----------|:-------------|------|
        |TRANSFER|'vlcpAmount' and 'vldnAmount'|These properties cannot be inserted.|
        |CHANGE|'vlcpAmount' and 'vldnAmount'|These properties are required.|
        |CHANGE|'amount'|This property must be the sum of the 'vlcpAmount' and 'vldnAmount' properties.|
        |WITHDRAWAL|'vldnAmount'|This property is required.|
        |WITHDRAWAL|'vlcpAmount'|This property cannot be inserted.|
        |WITHDRAWAL|'amount'|This property must be the same of 'vldnAmount' property.|
        |WITHDRAWAL and CHANGE|'withdrawalAgentMode' and 'withdrawalServiceProvider'|These properties are required.|

        Rules based on the initiationType value:

        |InitiationType|Property|Rule|
        |----------|:-------------|------|
        |MANUAL|'creditParty.key'|This property cannot be inserted.|
        |MANUAL or DICT|'transactionIdentification'|This property cannot be inserted.|
        |DICT, STATIC_QRCODE, DYNAMIC_QRCODE|'creditParty.key'|This property is required.|
        |STATIC_QRCODE|'transactionIdentification'|This property is required when 'transactionIdentification' (txId) is present on QRCODE.|
        |DYNAMIC_QRCODE|'transactionIdentification'|This property is required and length must be between 26 and 35 characters.|
        |PAYMENT_INITIATOR|'taxIdPaymentInitiator'|This property is required and needs to be a CNPJ.|
        |PAYMENT_INITIATOR|'creditParty.key'|This property is required if a query was previously made in DICT.|
        |PAYMENT_INITIATOR|'transactionIdentification'|This property is required, length must be up to 25 characters.|

        Rules based on the paymentType value:

        |PaymentType|Property|Rule|
        |----------|:-------------|------|
        |SCHEDULED|'urgency'|This property will have NORMAL value. Otherwise, this property will have the HIGH value.|
  /pix/merchant/payment/confirm/{pactualId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixPaymentMerchantConfirmRequest'
      tags:
        - Merchant
      parameters:
        - examples:
            PactualIdExample:
              value: 375c4e63-fa7e-45f3-9719-f58d5d6f75da
          name: pactualId
          description: The initiated transaction's pactualId.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixPaymentResponse'
              examples:
                PixPaymentResponseFullDictKey:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: edd20ddc-534c-4d4a-87d0-8496ea298d14
                      clientRequestId: 45244f4e-15ff-413d-808d-7837652ebdc2
                      createTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      lastUpdateTimestamp: '2020-08-08T20:17:01.3780252+00:00'
                      entity: PixPayment
                      status: PROCESSING
[...]
