openapi: 3.0.1
info:
  title: BTG Pactual Banking as a Service (PIX Commom)
  version: 2.0.0
  description: "Digital plataform developed by BTG Pactual engineers as an on demand banking service provider.\r\n\r\n[**Documentation Hub**](https://developer.btgpactual.com/portal/dochub)  \r\n    - [Commom Methods](https://developer.btgpactual.com/portal/doccm)  \r\n    - [Onboarding](https://developer.btgpactual.com/portal/docob)  \r\n    - [Transactions](https://developer.btgpactual.com/portal/doctr)  \r\n    - [PIX Common Functionalities](https://developer.btgpactual.com/portal/docpc)  \r\n    - [PIX Indirect Participant](https://developer.btgpactual.com/portal/docpi)  \r\n    - [PIX Merchant Clients](https://developer.btgpactual.com/portal/docpm)  \r\n\r\n|BaaS PIX Commom API| |\r\n|------------------------|-------------------------------|\r\n|Sandbox |https://api.sandbox.developer.btgpactual.com/pc|\r\n|Sandbox (with mTLS) |https://sandbox.developer.api.btgpactual.com/pc|\r\n|Production |https://api.developer.btgpactual.com/pc|\r\n|Production (with mTLS) |https://developer.api.btgpactual.com/pc|\r\n\r\n\r\n## Response Envelopes\r\n\r\nAll our responses follow the same pattern. They are sent respecting a default response envelope as shown bellow.\r\n```\r\n# Default Envelope\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 204\r\n}\r\n\r\n# Envelope with response body\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 201,\r\n    \"body\": {\r\n        \"exampleValue\": \"30306294\"\r\n    }\r\n}\r\n\r\n```\r\n\r\n## Error Messages\r\n\r\nAll errors returned from one of ours APIs will follow the same pattern as shown bellow. They will be always contained in an invelope as the example. \r\n\r\n\r\n```\r\n# Default Envelope\r\n{\r\n    \"status\": 404,\r\n    \"version\": \"1.0.0\"\r\n}\r\n\r\n# Envelope with optional error codes\r\n{\r\n    \"version\": \"1.0.0\",\r\n    \"status\": 400,\r\n    \"errors\": [\r\n        {\r\n            \"errorCode\": \"PCE001\",\r\n            \"message\": \"The field 'name' is mandatory.\"\r\n        }\r\n    ]\r\n}\r\n```\r\n"
  contact:
    name: BTG Pactual Team
    url: https://developer.btgpactual.com
    email: baas@btgpactual.com
servers:
  - url: https://api.sandbox.developer.btgpactual.com/pc
    description: BaaS API (Sandbox)
  - url: https://sandbox.developer.api.btgpactual.com/pc
    description: BaaS API (Sandbox with mTLS)
  - url: https://api.developer.btgpactual.com/pc
    description: BaaS API (Production)
  - url: https://developer.api.btgpactual.com/pc
    description: BaaS API (Production with mTLS)
paths:
  /pix/location/search:
    get:
      tags:
        - Common-Location
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixLocationIndirectSearchResponse'
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-location-search
      summary: Location search
      description: Use to search your generated Locations.
  /pix/location/{pactualId}:
    get:
      tags:
        - Common-Location
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixLocationIndirectResponse'
              examples:
                COB:
                  value:
                    version: 1.0.1
                    status: 201
                    body:
                      pactualId: b7e12bde-6bed-47d6-99fe-a34b01623c83
                      clientRequestId: E4819D7931294EEBB1979A0DC36C945C
                      createTimestamp: '2021-02-26T18:11:38.1935183+00:00'
                      lastUpdateTimestamp: '2021-02-26T18:11:38.1935183+00:00'
                      entity: QrCodeLocation
                      status: CREATED
                      body:
                        merchant:
                          postalCode: '20000100'
                          city: Rio de Janeiro
                          name: BTG Pactual
                          merchantCategoryCode: '0100'
                        url: api-h.developer.btgpactual.com/v1/p/v2/b7e12bde6bed47d699fea34b01623c83
                        emv: 00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/b7e12bde6bed47d699fea34b01623c835204010053039865802BR5911BTG Pactual6014Rio de Janeiro61082000010062360532b7e12bde6bed47d699fea34b01623c8363045D32
                        type: COB
                        id: '253233607522920343'
                      tags: []
                COBV:
                  value:
                    version: 1.0.1
                    status: 201
                    body:
                      pactualId: 1b74809e-904d-41db-b517-7c1b548e0193
                      clientRequestId: E7186DC1636A4F648890598F364163E1
                      createTimestamp: '2021-02-26T18:00:48.1262064+00:00'
                      lastUpdateTimestamp: '2021-02-26T18:00:48.1262064+00:00'
                      entity: QrCodeLocation
                      status: CREATED
                      body:
                        merchant:
                          postalCode: '20000100'
                          city: Rio de Janeiro
                          name: BTG Pactual
                          merchantCategoryCode: '0100'
                        url: api-h.developer.btgpactual.com/v1/p/v2/cobv/1b74809e904d41dbb5177c1b548e0193
                        emv: 00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/1b74809e904d41dbb5177c1b548e01935204010053039865802BR5911BTG Pactual6014Rio de Janeiro610820000100623605321b74809e904d41dbb5177c1b548e01936304EB3E
                        type: COBV
                        id: '2087282875443130805'
                      tags: []
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-pix-api-lococation-id
      summary: Get the payload location
      description: Recovers the payload location.
    parameters:
      - examples:
          sample1:
            value: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        name: pactualId
        description: Identifier of the location to be informed when creating the collection.
        schema:
          type: string
        in: path
        required: true
  /pix/location:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixLocationIndirectRequest'
            examples:
              COB:
                value:
                  clientRequestId: E7186DC1636A4F648890598F364163E1
                  merchant:
                    city: Rio de Janeiro
                    name: BTG Pactual
                    postalCode: '20000100'
                    merchantCategoryCode: '0100'
                  type: COB
              COBV:
                value:
                  clientRequestId: E7186DC1636A4F648890598F364163E2
                  merchant:
                    city: Rio de Janeiro
                    name: BTG Pactual
                    postalCode: '20000100'
                    merchantCategoryCode: '0100'
                  type: COBV
        required: true
      tags:
        - Common-Location
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixLocationIndirectEnvelopeResponse'
              examples:
                COBV:
                  value:
                    version: 1.0.1
                    status: 201
                    body:
                      pactualId: 1b74809e-904d-41db-b517-7c1b548e0193
                      clientRequestId: E7186DC1636A4F648890598F364163E1
                      createTimestamp: '2021-02-26T18:00:48.1262064+00:00'
                      lastUpdateTimestamp: '2021-02-26T18:00:48.1262064+00:00'
                      entity: QrCodeLocation
                      status: CREATED
                      body:
                        merchant:
                          postalCode: '20000100'
                          city: Rio de Janeiro
                          name: BTG Pactual
                          merchantCategoryCode: '0100'
                        url: api-h.developer.btgpactual.com/v1/p/v2/cobv/1b74809e904d41dbb5177c1b548e0193
                        emv: 00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/1b74809e904d41dbb5177c1b548e01935204010053039865802BR5911BTG Pactual6014Rio de Janeiro610820000100623605321b74809e904d41dbb5177c1b548e01936304EB3E
                        type: COBV
                        id: '2087282875443130805'
                      tags: []
                COB:
                  value:
                    version: 1.0.1
                    status: 201
                    body:
                      pactualId: b7e12bde-6bed-47d6-99fe-a34b01623c83
                      clientRequestId: E4819D7931294EEBB1979A0DC36C945C
                      createTimestamp: '2021-02-26T18:11:38.1935183+00:00'
                      lastUpdateTimestamp: '2021-02-26T18:11:38.1935183+00:00'
                      entity: QrCodeLocation
                      status: CREATED
                      body:
                        merchant:
                          postalCode: '20000100'
                          city: Rio de Janeiro
                          name: BTG Pactual
                          merchantCategoryCode: '0100'
                        url: api-h.developer.btgpactual.com/v1/p/v2/b7e12bde6bed47d699fea34b01623c83
                        emv: 00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/b7e12bde6bed47d699fea34b01623c835204010053039865802BR5911BTG Pactual6014Rio de Janeiro61082000010062360532b7e12bde6bed47d699fea34b01623c8363045D32
                        type: COB
                        id: '253233607522920343'
                      tags: []
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: post-pix-api-location
      summary: Create a location
      description: Endpoint to create a location for a payload.
  /pix/location/{pactualId}/base64:
    get:
      tags:
        - Common-Location
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
        - examples:
            pixelsPerModule:
              value: '20'
          name: pixelsPerModule
          description: |-
            The number of pixels to use per QRCode module.
            Default: 20
          schema:
            type: integer
          in: query
          required: false
        - name: imageType
          description: 'The image type: Gif, Jpeg or Png. Default: Png'
          schema:
            enum:
              - Gif
              - Jpeg
              - Png
            type: string
          in: query
          required: false
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-location-pactualId-base64
      summary: Get image base64
      description: This endpoint returns the dynamic BR code image base64 contents.
  /pix/location/{pactualId}/emv:
    get:
      tags:
        - Common-Location
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
              examples:
                EMVQRCPS:
                  value: 00020101021226980014br.gov.bcb.pix2576api.sandbox.developer.btgpactual.com/v1/p/d/7fdf644e57a048ce8383f65115535c68520400105303986540510.255802BR5914Ecommerce S.A.6014Rio de Janeiro623605327fdf644e57a048ce8383f65115535c686304C2CA
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-location-pactualId-emv
      summary: Get EMV (Pix Copia e Cola)
      description: This endpoint returns the Location's emv.
  /pix/location/{pactualId}/svg:
    get:
      tags:
        - Common-Location
      parameters:
        - examples:
            Guid:
              value: 4a801b0d-5b5f-4fa0-96ca-cf1a7cfad73d
          name: pactualId
          description: The resource's unique identificator on BTG Pactual systems.
          schema:
            type: string
          in: path
          required: true
        - examples:
            pixelsPerModule:
              value: '20'
          name: pixelsPerModule
          description: |-
            The number of pixels to use per QRCode module.
            Default: 20
          schema:
            type: integer
          in: query
          required: false
      responses:
        '200':
          content:
            image/svg+xml:
              schema:
                type: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-location-pactualId-svg
      summary: Get svg image
      description: This endpoint returns the Location svg image.
  /pix/participants:
    get:
      tags:
        - Common-List-Arrangement-Participants
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixParticipantsTodayGetListResponse'
              examples:
                PixParticipantsTodayListReponse:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      items:
                        - ispb: '19875244'
                          name: COOPERATIVA DE ECONOMIA E CRÉDITO MÚTUO DAS EMPRESAS, EMPREGADOS E PRESTADORES DE SERVIÇO DAS METALÚRGICAS, SIDERÚRGICAS E INDUSTRIAIS – SICOOB COPESITA
                          shortName: CECM EMPR EMP PREST SERV METAL SIDER E IND SICOOB COPESITA
                          modality: PDCT
                          type: IDRT
                          startOperationDatetime: '2020-11-03T09:30:00+00:00'
                          date: '2021-09-30'
          description: A List of PIX Participants of the Day.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-participants-today
      summary: Participants Today
      description: Get the list of Pix participants on BCB.
  /pix/withdrawal-service-point:
    description: ''
    get:
      tags:
        - Common-Withdrawal-Service-Point
      parameters:
        - name: limit
          description: 'Total number of service point records per page. This field, like ''page'', is optional. The ''links'' structure of the response payload indicates when paging was required. Attention: this parameter may not be available by the information provider, if it considers the paging unnecessary.'
          schema:
            type: string
          in: query
        - name: page
          description: 'Number of the page being requested. Ex: for ''page = 2 & limit = 25'', request will return from 26th record to 50th. Attention: this parameter cannot be made available by the information provider, if it considers the paging unnecessary.'
          schema:
            type: string
          in: query
        - name: ispbTransmitter
          description: ispb of the withdrawal or change agent
          schema:
            type: string
          in: query
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePointResponse'
          description: Returns a JSON with the list of service points per withdrawal agent or participant that directly provides the withdrawal service.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: pix-service-point
      summary: List of service points for pix withdrawal and pix change
      description: List of information regarding the service points of the withdrawal agents or the participant who directly provide the withdrawal service.
  /pix/rco-report:
    description: ''
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDownloadRequest'
      tags:
        - Common-RCO-Report
      responses:
        '200':
          $ref: '#/components/responses/SuccessCreateResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-rco-report
      summary: RCO monthly report
      description: |-
        Endpoint to request a RCO monthly report

        The RCO file will be made available at the 5th business day
  /pix/location/id/{id}:
    delete:
      tags:
        - Common-Location
      responses:
        '204':
          description: A NoContent Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: A BadRequest Response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: A NotFound Response
        '410':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: A Gone Response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: A InternalServerError Response
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: delete-pix-api-lococation-id
      summary: Delete location
      description: Delete the payload location.
    parameters:
      - examples:
          locationId:
            value: '5686900365620469958'
        name: id
        description: Location Id
        schema:
          type: string
        in: path
        required: true
  /pix/withdrawal-service-point/is-transmitter-withdrawal/{ispb}:
    description: ''
    get:
      tags:
        - Common-Withdrawal-Service-Point
      parameters:
        - name: ispb
          description: ISPB to verify if is a transmitter withdrawal
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePointIsTransmistterResponse'
          description: Returns a JSON with the list of service points per withdrawal agent or participant that directly provides the withdrawal service.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: pix-service-point-is-transmitter-withdrawal
      summary: Verify if ISPB is transmitter withdrawal
      description: ''
    parameters:
      - name: ispb
        schema:
          type: string
        in: path
        required: true
  /pix/customer/{merchantCustomerId}:
    get:
      tags:
        - Customer-Management
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictHubMerchantCustomerCreateResponse'
              examples:
                GetMerchantCustomer:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      merchantCustomerId: string
                      name: string
                      taxId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      status: string
                      additionalData: string
          description: The Dict Hub Merchant Customer informations.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-get-id
      summary: Get customer informations
      description: Get a merchant customer information
    delete:
      tags:
        - Customer-Management
      responses:
        '204':
          description: NoContent Response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: ''
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-delete-id
      summary: Delete Dict merchant customer
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictHubMerchantCustomerUpdateRequest'
        required: true
      tags:
        - Customer-Management
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictHubMerchantCustomerCreateResponse'
          description: The merchant customer informations.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The merchant customer informations.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The merchant customer informations.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The merchant customer informations.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The merchant customer informations.
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-update-id
      summary: Update Dict merchant customer
    parameters:
      - name: merchantCustomerId
        description: The unique id that identify the merchant customer
        schema:
          type: string
        in: path
        required: true
  /pix/customer:
    get:
      tags:
        - Customer-Management
      parameters:
        - name: limit
          description: |+

          schema:
            type: integer
          in: query
        - name: page
          description: ''
          schema:
            type: integer
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictHubMerchantCustomerListResponse'
              examples:
                List Merchant customer:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      - merchantCustomerId: string
                        name: string
                        taxId: string
                        createTimestamp: string
                        lastUpdateTimestamp: string
                        status: string
                        additionalData: string
          description: List of Dict Hub Merchant Customer informations.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-list
      summary: List  Dict merchant customer
      description: Get a list of customer informations
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictHubMerchantCustomerCreateRequest'
            examples:
              CreatePixDICTClaimRequest:
                value:
                  merchantCustomerId: string
                  name: string
                  taxId: string
                  additionalData:
                    - key: asd
                      value: xyz
        required: true
      tags:
        - Customer-Management
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictHubMerchantCustomerCreateResponse'
              examples:
                PixDICTClaimResponse:
                  value:
                    version: 1.0.0
                    status: 201
                    body:
                      merchantCustomerId: string
                      name: string
                      taxId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      status: string
                      additionalData:
                        - string
                        - string
          description: The successful response with the created Dict Hub Merchant Customer.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-create
      summary: Create a new merchant customer entry
      description: Endpoint that create a new merchant customer
  /pix/camt/{transactionId}:
    get:
      tags:
        - Pix-Camt
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCamtEnvelopeResponse'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: get-transaction-camt
      summary: Consult a transaction in CAMT
      description: Get a transaction in CAMT at BACEN.
    parameters:
      - examples:
          ExampleTransactionId:
            value: E12345678202201010334DITK15LL6QS
          ExampleReturnIdentification:
            value: D87654321202201010334DITK15LL6QS
        name: transactionId
        description: The transaction identification. It can be a EndToEndId or a ReturnIdentification (RtrId).
        schema:
          type: string
        in: path
        required: true
  /pix/customer/tax-id/{taxId}:
    get:
      tags:
        - Customer-Management
      parameters:
        - name: limit
          description: |+

          schema:
            type: integer
          in: query
        - name: page
          description: ''
          schema:
            type: integer
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictHubMerchantCustomerListResponse'
              examples:
                List Merchant customer:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      - merchantCustomerId: string
                        name: string
                        taxId: string
                        createTimestamp: string
                        lastUpdateTimestamp: string
                        status: string
                        additionalData: string
          description: List of Dict Hub Merchant Customer informations.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-customer-list-taxId
      summary: List  Dict merchant customer filter by taxId
      description: Get a list of customer informations filter by taxId
    parameters:
      - name: taxId
        description: The merchant customer TaxId
        schema:
          type: string
        in: path
        required: true
  /v2/pix/infraction-report:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixInfractionReportRequestV2'
            examples:
              PixInfractionReportRequest:
                value:
                  reportDetails: Transaction made through fake QR Code on billet
                  transactionId: E9999901012341234123412345678900
                  reason: REFUND_REQUEST
                  situationType: SCAM
                  contactInformation:
                    email: emaildecontato@test.com
                    phone: '+5512345678901'
        required: true
      tags:
        - Dict-Bacen-Infraction Report V2
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixInfractionReportResponseV2'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 201
                    version: 1.0.0
                    body:
                      transactionId: E9999901012341234123412345678900
                      reason: REFUND_REQUEST
                      situationType: SCAM
                      reportDetails: Transaction appears to be fraudulent
                      id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                      status: OPEN
                      reporterParticipant: '99999010'
                      counterpartyParticipant: '99999011'
                      creationTime: '2020-01-17T10:00:00.000Z'
                      lastModified: '2020-01-17T10:00:00.000Z'
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                      contactInformation:
                        email: emaildecontato@test.com
                        phone: '+5512345678901'
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-infraction-report-v2
      summary: Create a new Pix Infraction Report
      description: "Creates an infraction report.\r\n\r\nWhen the purpose of the infraction report is to request a refund,\r\nThe PSP of the payer of the original transaction must create the notification.\r\nTo cancel a refund, the PSP of the recipient of the original transaction must be created."
  /v2/pix/infraction-report/{infractionReportId}:
    get:
      tags:
        - Dict-Bacen-Infraction Report V2
      parameters:
        - examples:
            InfractionReportIdentifier:
              value: 91d65e98-97c0-4b0f-b577-73625da1f9fc
          name: infractionReportId
          description: Infraction Report Identifier.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixInfractionReportWithAnalysisResponseV2'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      transactionId: E9999901012341234123412345678900
                      reason: REFUND_REQUEST
                      situationType: SCAM
                      reportDetails: Transaction appears to be fraudulent
                      id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                      status: CLOSED
                      reporterParticipant: '99999010'
                      counterpartyParticipant: '99999011'
                      creationTime: '2020-01-17T10:00:00.000Z'
                      lastModified: '2020-01-17T10:00:00.000Z'
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                      analysisDetails: Amount blocked to refund.
                      analysisResult: AGREED
                      fraudMarkerId: 6c7c5a1d-7392-4f43-805d-9f46bc79ae16
                      contactInformation:
                        email: emaildecontato@test.com
                        phone: '+5512345678901'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-infraction-report-v2
      summary: Consult Infraction Report
      description: Get details of an infraction report.
  /v2/pix/infraction-report/{infractionReportId}/acknowledge:
    post:
      tags:
        - Dict-Bacen-Infraction Report V2
      parameters:
        - examples:
            InfractionReportIdentifier:
              value: 91d65e98-97c0-4b0f-b577-73625da1f9fc
          name: infractionReportId
          description: Infraction Report Identifier.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixInfractionReportResponseV2'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      transactionId: E9999901012341234123412345678900
                      reason: REFUND_REQUEST
                      situationType: SCAM
                      reportDetails: Transaction appears to be fraudulent
                      id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                      status: ACKNOWLEDGED
                      reporterParticipant: '99999010'
                      counterpartyParticipant: '99999011'
                      creationTime: '2020-01-17T10:00:00.000Z'
                      lastModified: '2020-01-17T10:00:00.000Z'
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                      contactInformation:
                        email: emaildecontato@test.com
                        phone: '+5512345678901'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-infraction-report-aknowledge-v2
      summary: Receive Infraction Report
      description: "Notifies receipt of notification by the counterparty participant.\r\n\r\n   ### Idempotence\r\n   The operation is idempotent. If the notification has already been received and is still\r\n   status `ACKNOWLEDGED`, a response equivalent to the first request will be returned."
  /v2/pix/infraction-report/{infractionReportId}/cancel:
    post:
      tags:
        - Dict-Bacen-Infraction Report V2
      parameters:
        - examples:
            InfractionReportIdentifier:
              value: 91d65e98-97c0-4b0f-b577-73625da1f9fc
          name: infractionReportId
          description: Infraction Report Identifier.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixInfractionReportResponseV2'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      transactionId: E9999901012341234123412345678900
                      reason: REFUND_REQUEST
                      situationType: SCAM
                      reportDetails: Transaction appears to be fraudulent
                      id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                      status: CANCELLED
                      reporterParticipant: '99999010'
                      counterpartyParticipant: '99999011'
                      creationTime: '2020-01-17T10:00:00.000Z'
                      lastModified: '2020-01-17T10:00:00.000Z'
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                      contactInformation:
                        email: emaildecontato@test.com
                        phone: '+5512345678901'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-infraction-report-cancel-v2
      summary: Cancel Infraction Report
      description: "Cancels the infraction report. It can only be performed by the participant who created the notification.\r\n\r\nCanceling a closed infraction report with agreement will also cancel the\r\nassociated fraud marker.\r\n\r\n### Idempotence\r\nThe operation is idempotent. If the notification has already been canceled with the same parameters,\r\na response equivalent to the first request will be returned."
  /v2/pix/infraction-report/{infractionReportId}/close:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixInfractionCloseReportRequestV2'
            examples:
              PixInfractionCloseReportRequest:
                value:
                  analysisDetails: Amount blocked to refund.
                  analysisResult: AGREED
                  fraudType: SCAMMER_ACCOUNT
      tags:
        - Dict-Bacen-Infraction Report V2
      parameters:
        - examples:
            InfractionReportIdentifier:
              value: 91d65e98-97c0-4b0f-b577-73625da1f9fc
          name: infractionReportId
          description: Infraction Report Identifier.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixInfractionReportWithAnalysisResponseV2'
              examples:
                PixInfractionReportWithAnalysisResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      transactionId: E9999901012341234123412345678900
                      reason: REFUND_REQUEST
                      situationType: SCAM
                      reportDetails: Transaction appears to be fraudulent
                      id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                      status: CLOSED
                      reporterParticipant: '99999010'
                      counterpartyParticipant: '99999011'
                      creationTime: '2020-01-17T10:00:00.000Z'
                      lastModified: '2020-01-17T10:00:00.000Z'
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                      analysisDetails: Amount blocked to refund.
                      analysisResult: AGREED
                      fraudMarkerId: 6c7c5a1d-7392-4f43-805d-9f46bc79ae16
                      contactInformation:
                        email: emaildecontato@test.com
                        phone: '+5512345678901'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-infraction-report-close-v2
      summary: Close Infraction Report
      description: "Closes the infraction report.\r\n\r\nThe infraction report must be closed by the counterparty participant. To close, the status must be `ACKNOWLEDGED`.\r\n\r\nIf the closure is with the `AGREED` analysis result, a [fraud mark](#operation/post-pix-anti-fraud) will be automatically generated.\r\nThe marking id will appear in the `FraudMarkerId` field of the response. In these cases, the participant must inform the <b>'FraudType'</b> field.\r\nValid values are `APPLICATION_FRAUD`, `MULE_ACCOUNT`, `SCAMMER_ACCOUNT` and `OTHER`.\r\n\r\n<b><span style=\"font-family:'Courier New';color:red\">ATTENTION:</span></b> the `UNKNOWN` type is not valid for API v2. It is only used as\r\ndescriptive value in infraction notifications created in API v1, when the type of fraud was not part of the data in the notification.\r\n\r\nThe generated fraud mark can be [canceled](#operation/post-pix-anti-fraud-cancel) by the counterparty participant, responsible for closing\r\nof the infraction report.\r\n\r\n### Idempotence\r\nThe operation is idempotent. If the notification has already been closed with the same parameters,\r\na response equivalent to the first request will be returned."
  /v2/pix/anti-fraud/{fraudMarkerId}:
    get:
      tags:
        - Dict-Bacen-Anti-Fraud
      parameters:
        - name: fraudMarkerId
          description: The Fraud Marker id.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudMarkerApiResponse'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: some text
                      fraudMarker:
                        taxIdNumber: '01234567890'
                        fraudType: MULE_ACCOUNT
                        key: abc@pix.br
                        id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                        status: REGISTERED
                        creationTime: '2020-01-17T10:00:00.000Z'
                        lastModified: '2020-01-17T10:00:00.000Z'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: get-pix-fraud-marker
      summary: Consult Fraud Marker
      description: Get details of a fraud marker.
    parameters:
      - name: fraudMarkerId
        description: The Fraud Marker id.
        schema:
          type: string
        in: path
        required: true
  /v2/pix/anti-fraud/{fraudMarkerId}/cancel:
    post:
      tags:
        - Dict-Bacen-Anti-Fraud
      parameters:
        - name: fraudMarkerId
          description: The Fraud Marker id.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudMarkerApiResponse'
              examples:
                PixInfractionReportResponse:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      responseTime: '2020-01-17T10:00:00.000Z'
                      correlationId: some text
                      fraudMarker:
                        taxIdNumber: '01234567890'
                        fraudType: MULE_ACCOUNT
                        key: abc@pix.br
                        id: 91d65e98-97c0-4b0f-b577-73625da1f9fc
                        status: REGISTERED
                        creationTime: '2020-01-17T10:00:00.000Z'
                        lastModified: '2020-01-17T10:00:00.000Z'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: post-pix-anti-fraud-cancel
      summary: Cancel Fraud Marker
      description: "Cancels a fraud marker.\r\n\r\nIt can be performed by the participant who created the fraud marker.\r\n\r\nA fraud marker created as result of [closing](#operation/dict-hub-infraction-report-close-v2) a infraction report can be canceled by the counterparty participant, who closed the infraction report.\r\n\r\n### Idempotence\r\nThe operation is idempotent. If the registration has already been canceled with the same parameters,\r\na response equivalent to the first request will be returned."
  /v2/pix/dict/cid/{cid}:
    get:
      tags:
        - Dict-Bacen-CID V2
      parameters:
        - examples:
            PixDICTEntryCid:
              value: 018ec079178890dc0a93ad0cafed421cf49beeaa70ffe4caecff1c507bcf3015
          name: cid
          description: Content identifier
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTCidEntryByCidResponse'
              examples:
                PixDICTCidEntryByCidReponse:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      cid: 018ec079178890dc0a93ad0cafed421cf49beeaa70ffe4caecff1c507bcf3015
                      entry:
                        key: teste@testando.com.br
                        keyType: EMAIL
                        account:
                          participant: '18189547'
                          branch: '1'
                          accountNumber: '1234'
                          accountType: CACC
                          openingDate: '2020-08-06T20:00:00Z'
                        owner:
                          type: NATURAL_PERSON
                          taxIdNumber: '84974332031'
                          name: Teste Testando
                        creationDate: '2020-08-24T15:26:28.430Z'
                        keyOwnershipDate: '2020-08-24T15:26:28.427Z'
                      requestId: 8bfde840-bef5-42b7-bef2-350475ffb9e1
                      correlationId: 132cca0f6a816dd5be409256b3662343
                      responseTime: '2020-12-04T17:57:29.681Z'
                PixDIctEntryByLegalPersonCidResponse:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      cid: 018ec079178890dc0a93ad0cafed421cf49beeaa70ffe4caecff1c507bcf3015
                      entry:
                        key: '66486782000129'
                        keyType: CNPJ
                        account:
                          participant: '18189547'
                          branch: '1'
                          accountNumber: '1234'
                          accountType: CACC
                          openingDate: '2020-08-06T20:00:00Z'
                        owner:
                          type: LEGAL_PERSON
                          taxIdNumber: '84974332031'
                          name: NOVA GERACAO USADOS SA
                          tradeName: GERACAO USADOS
                        creationDate: '2020-08-24T15:26:28.430Z'
                        keyOwnershipDate: '2020-08-24T15:26:28.427Z'
                      requestId: 8bfde840-bef5-42b7-bef2-350475ffb9e1
                      correlationId: 132cca0f6a816dd5be409256b3662343
                      responseTime: '2020-12-04T17:57:29.681Z'
          description: The DICT entry information by cid.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-cids-entries-bycid-v2
      summary: Get DICT entry by cid
      description: Retrieve the DICT entry information using the cid
  /v2/pix/dict/cid/events/{keyType}:
    get:
      tags:
        - Dict-Bacen-CID V2
      parameters:
        - examples:
            CidSetEventListKeyType:
              value: '"EMAIL"'
          name: keyType
          description: Key Type
          schema:
            enum:
              - CPF
              - CNPJ
              - EMAIL
              - PHONE
              - EVP
            type: string
          in: path
          required: true
        - examples:
            CidSetEventListEndTime:
              value: '"2018-02-10T09:30Z"'
          name: endTime
          description: Filters events with date-time less than or equal to EndTime
          schema:
            format: date-time
            type: string
          in: query
        - examples:
            CidSetEventListLimit:
              value: '20'
          name: limit
          description: Limit number of events to return
          schema:
            type: integer
          in: query
        - examples:
            CidSetEventListStartTime:
              value: '"2018-02-10T09:30Z"'
          name: startTime
          description: Filters events with date-time greater than or equal to StartTime
          schema:
            format: date-time
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTCidSetEventsListResponse'
              examples:
                PixDICTCidSetEventListReponse:
                  value:
                    version: 0.1.0
                    status: 200
                    body:
                      participant: '30306294'
                      keyType: EMAIL
                      startTime: '2020-07-09T16:31:18.543Z'
                      endTime: '2020-07-17T21:41:39.697Z'
                      syncVerifierStart: fc09de75be1c672a1444d2aa8efcbff77d2f262620307b4e12cb2438e63d107d
                      syncVerifierEnd: 7df3aca153f0b496f4b8d24d4c4183d1effaefea3892e4875fc30d86d6573dfe
                      cidSetEvents:
                        - type: ADDED
                          cid: fc09de75be1c672a1444d2aa8efcbff77d2f262620307b4e12cb2438e63d107d
                          timestamp: '2020-07-09T16:31:18.543Z'
                        - type: REMOVED
                          cid: f11195be03f4cf04f9a4ce9db96b4bb5bbc7516c2d7a6d8b9ed0933aa5c0bbdd
                          timestamp: '2020-07-14T14:48:28.557Z'
                        - type: ADDED
                          cid: b5ead0187e88699c44f2733cfd5da0d5b35bc5f357fba70591d7f6d730760c05
                          timestamp: '2020-07-14T14:50:11.920Z'
                        - type: REMOVED
                          cid: b5ead0187e88699c44f2733cfd5da0d5b35bc5f357fba70591d7f6d730760c05
                          timestamp: '2020-07-14T14:55:48.537Z'
                      correlationId: a0f8e23f38ef55987e06980f5c1952ee
                      responseTime: '2020-12-04T17:56:28.669Z'
          description: The DICT CID Events information.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-cids-set-events-v2
      summary: List CID Events
      description: Lists CID events for a participant key type, sorted in ascending order by Timestamp.
  /v2/pix/dict/cid/file:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDICTCidsFilesRequest'
            examples:
              CreatePixDICTCidsFilesfRequest:
                value:
                  keyType: CPF
        required: true
      tags:
        - Dict-Bacen-CID V2
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTCidsFilesResponse'
              examples:
                PixDICTCidsFilesResponse:
                  value:
                    version: 0.1.0
                    status: 201
                    body:
                      creationTime: ''
                      url: ''
                      bytes: ''
                      sha256: ''
                      id: '6512'
                      status: PROCESSING
                      participant: '30306294'
                      keyType: CPF
                      requestTime: '2020-08-20T18:23:51.526Z'
                      correlationId: a0f8e23f38ef55987e06980f5c1952ee
                      responseTime: '2020-12-04T17:56:28.669Z'
          description: The successful response with the created DICT CID file.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-cids-files-v2
      summary: Create a new CID file
      description: |-
        Creates a file containing all CIDs for a given participant's key type. The file format is one CID per line ('\ n' as EOL), in no defined order.

        Generation of the file is done asynchronously.
  /v2/pix/dict/claim:
    get:
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            ClaimIsDonor:
              value: 'true'
          name: isDonor
          description: Restricts claims where the participant is a donor
          schema:
            type: boolean
          in: query
        - examples:
            ClaimIsClaimer:
              value: 'true'
          name: isClaimer
          description: Restricts claims where the participant is a claimant
          schema:
            type: boolean
          in: query
        - examples:
            ClaimListStatus:
              value: '"WAITING_RESOLUTION"'
          name: status
          description: Claim status
          schema:
            enum:
              - OPEN
              - WAITING_RESOLUTION
              - CONFIRMED
              - CANCELLED
              - COMPLETED
            type: string
          in: query
        - examples:
            ClaimListType:
              value: '"OWNERSHIP"'
          name: type
          description: Claim type
          schema:
            enum:
              - OWNERSHIP
              - PORTABILITY
            type: string
          in: query
        - examples:
            ClaimModifiedAfter:
              value: '"2018-02-10T09:30.000Z"'
          name: modifiedAfter
          description: Filters claims with modified date-time greater than or equal to modifiedAfter
          schema:
            format: date-time
            type: string
          in: query
        - examples:
            ClaimModifiedBefore:
              value: '"2018-02-10T09:30.000Z"'
          name: modifiedBefore
          description: Filters claims with modified date-time less than or equal to modifiedBefore
          schema:
            format: date-time
            type: string
          in: query
        - examples:
            ClaimLimit:
              value: '20'
          name: limit
          description: "Default: 20\r\nLimit number of claims to return"
          schema:
            type: integer
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetListResponse'
              examples:
                PixDICTClaimListReponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      items:
                        - type: OWNERSHIP
                          key: '+5561988887777'
                          keyType: PHONE
                          claimerAccount:
                            participant: '30306294'
                            branch: '0001'
                            accountNumber: '0007654321'
                            accountType: CACC
                            openingDate: '2020-08-06T03:00:00Z'
                          claimer:
                            type: NATURAL_PERSON
                            taxIdNumber: '11122233300'
                            name: Joao Silva
                          donorParticipant: '99999010'
                          id: 6d15a14c-209e-4d4a-bfd1-11a9440d12fa
                          status: CANCELLED
                          completionPeriodEnd: '2020-08-20T12:49:00Z'
                          resolutionPeriodEnd: '2020-08-13T12:49:00Z'
                          lastModified: '2020-08-06T18:53:39.303Z'
                          confirmReason: DEFAULT_OPERATION
                          cancelReason: FRAUD
                          cancelledBy: DONOR
                        - type: OWNERSHIP
                          key: testepf_60896018377@mail.com
                          keyType: EMAIL
                          claimerAccount:
                            participant: '60701190'
                            branch: '3542'
                            accountNumber: '0020610'
                            accountType: CACC
                            openingDate: ''
                          claimer:
                            type: NATURAL_PERSON
                            taxIdNumber: '16817532353'
                            name: Itaú reivindicadora
                          donorParticipant: '30306294'
                          id: ded11014-c19b-47d7-9018-bbb540d6541e
                          status: CANCELLED
                          completionPeriodEnd: '2020-08-20T18:56:00Z'
                          resolutionPeriodEnd: '2020-08-13T18:56:00Z'
                          lastModified: '2020-08-06T20:02:08.720Z'
                          confirmReason: DEFAULT_OPERATION
                          cancelReason: FRAUD
                          cancelledBy: DONOR
                      hasMoreElements: true
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The DICT claims informations.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-list-v2
      summary: List claims
      description: "Gets a list of claims, sorted in ascending order by the `LastModified` field, according to the filters passed.\r\n\r\nComments:\r\n\r\n- Updating information from claims to listings is asynchronous to adding and updating records, so there may be a 5 second delay before added or changed data appears in the query."
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDICTClaimCreateRequest'
            examples:
              CreatePixDICTClaimRequest:
                value:
                  type: OWNERSHIP
                  key: '+5561988887777'
                  branch: '0001'
                  accountNumber: '2227654330'
                  accountType: CACC
                  taxId: '23452233301'
                  name: Antonio Jose Raimundo
        required: true
      tags:
        - Dict-Bacen-Claim V2
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetResponse'
              examples:
                PixDICTClaimResponse:
                  value:
                    version: 1.0.0
                    status: 201
                    body:
                      type: OWNERSHIP
                      key: '+5561988887777'
                      keyType: PHONE
                      claimerAccount:
                        participant: '30306294'
                        branch: '0001'
                        accountNumber: '2227654330'
                        accountType: CACC
                        openingDate: '2020-08-17T13:48:36Z'
                      claimer:
                        type: NATURAL_PERSON
                        taxIdNumber: '23452233301'
                        name: Antonio Jose Raimundo
                      donorParticipant: '30306294'
                      id: cc91b1b0-8465-44b1-a760-15dd3717ea9b
                      status: OPEN
                      completionPeriodEnd: '2020-08-31T13:48:55.970Z'
                      resolutionPeriodEnd: '2020-08-24T13:48:55.970Z'
                      lastModified: '2020-08-17T13:48:55.970Z'
                      confirmReason: DEFAULT_OPERATION
                      cancelReason: FRAUD
                      cancelledBy: DONOR
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The successful response with the created DICT claim.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-v2
      summary: Create a new DICT claim
      description: "This operation is performed by the claiming participant at the request of the end user.\r\nThe current bond remains unchanged until confirmed by the donor PSP.\r\n\r\nNot every type of key can be claimed or ported. The table below defines the possibilities:\r\n\r\n   | compatible? | OWNERSHIP | PORTABILITY |\r\n   |---------------|:----------:|:------------:|\r\n   | CPF | | ✓ |\r\n   | CNPJ | | ✓ |\r\n   | PHONE | ✓ | ✓ |\r\n   | EMAIL | ✓ | ✓ |\r\n   | EVP | | |"
  /v2/pix/dict/claim/{claimId}:
    get:
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            PixDICTClaimId:
              value: 6d71284d-f588-49f6-bb53-be9668413e37
          name: claimId
          description: The DICT claimId
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetResponse'
              examples:
                PixDICTClaimReponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      type: OWNERSHIP
                      key: geronimo_silva@gmail.com
                      keyType: EMAIL
                      claimerAccount:
                        participant: '30306294'
                        branch: '0001'
                        accountNumber: '2117654330'
                        accountType: CACC
                        openingDate: '2020-08-10T17:20:56Z'
                      claimer:
                        type: NATURAL_PERSON
                        taxIdNumber: '22122233301'
                        name: Geronimo Gomes Silva
                      donorParticipant: '30306294'
                      id: 6d71284d-f588-49f6-bb53-be9668413e37
                      status: COMPLETED
                      completionPeriodEnd: '2020-08-10T17:24:00Z'
                      resolutionPeriodEnd: '2020-08-10T17:24:00Z'
                      lastModified: '2020-08-11T17:11:33.291Z'
                      confirmReason: DEFAULT_OPERATION
                      cancelReason: FRAUD
                      cancelledBy: DONOR
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The DICT claim information.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-get-v2
      summary: Get claim
      description: Gets details of a claim.
  /v2/pix/dict/claim/{claimId}/acknowledge:
    post:
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            ClaimIdAcknowledge:
              value: cc91b1b0-8465-44b1-a760-15dd3717ea9b
          name: claimId
          description: claimId returned when creating a claim.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetResponse'
              examples:
                PixDICTClaimAcknowledgeResponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      type: OWNERSHIP
                      key: '+5561988887777'
                      keyType: PHONE
                      claimerAccount:
                        participant: '30306294'
                        branch: '0001'
                        accountNumber: '2227654330'
                        accountType: CACC
                        openingDate: '2020-08-17T13:48:36Z'
                      claimer:
                        type: NATURAL_PERSON
                        taxIdNumber: '23452233301'
                        name: Antonio Jose Raimundo
                      donorParticipant: '30306294'
                      id: cc91b1b0-8465-44b1-a760-15dd3717ea9b
                      status: WAITING_RESOLUTION
                      completionPeriodEnd: '2020-08-31T13:48:55.970Z'
                      resolutionPeriodEnd: '2020-08-24T13:48:55.970Z'
                      lastModified: '2020-08-17T13:48:55.970Z'
                      confirmReason: DEFAULT_OPERATION
                      cancelReason: FRAUD
                      cancelledBy: DONOR
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The successful response with the acknowledged DICT claim.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-acknowledge-v2
      summary: Acknowledge a claim
      description: Notifies receipt by the donor participant of the claim with `OPEN` status.
  /v2/pix/dict/claim/{claimId}/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDICTClaimCancelRequest'
            examples:
              ClaimCancelRequest:
                value:
                  reason: USER_REQUESTED
        required: true
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            ClaimIdCancel:
              value: cc91b1b0-8465-44b1-a760-15dd3717ea9b
          name: claimId
          description: claimId returned when creating a claim.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetResponse'
              examples:
                PixDICTClaimCancelResponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      type: OWNERSHIP
                      key: '+5561988887777'
                      keyType: PHONE
                      claimerAccount:
                        participant: '30306294'
                        branch: '0001'
                        accountNumber: '2227654330'
                        accountType: CACC
                        openingDate: '2020-08-17T13:48:36Z'
                      claimer:
                        type: NATURAL_PERSON
                        taxIdNumber: '23452233301'
                        name: Antonio Jose Raimundo
                      donorParticipant: '30306294'
                      id: cc91b1b0-8465-44b1-a760-15dd3717ea9b
                      status: CANCELLED
                      completionPeriodEnd: '2020-08-31T13:48:55.970Z'
                      resolutionPeriodEnd: '2020-08-24T13:48:55.970Z'
                      lastModified: '2020-08-17T13:48:55.970Z'
                      confirmReason: DEFAULT_OPERATION
                      cancelReason: FRAUD
                      cancelledBy: DONOR
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The successful response with the canceled DICT claim.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-cancel-v2
      summary: Cancel a claim
      description: "Cancels a portability or ownership claim.\r\n\r\n### Portability\r\n\r\nStatus must be `WAITING_RESOLUTION`. <small>_See exception below_</small>\r\n\r\nIf the cancellation reason is `DEFAULT_OPERATION`, the period defined by the `ResolutionPeriodEnd` field must have passed.\r\n\r\nThe table below defines, depending on the reason, who can cancel a portability.\r\n\r\n<table>\r\n   <thead>\r\n     <tr>\r\n       <th>Reason</th>\r\n       <th style=\"text-align: center\">Donor</th>\r\n       <th style=\"text-align: center\">Claimer</th>\r\n     </tr>\r\n   </thead>\r\n   <tbody style=\"text-align: center\">\r\n     <tr>\r\n       <td style=\"text-align: left\">USER_REQUESTED</td>\r\n       <td>✓</td>\r\n       <td>✓</td>\r\n     </tr>\r\n     <tr>\r\n       <td style=\"text-align: left\">ACCOUNT_CLOSURE</td>\r\n       <td></td>\r\n       <td>✓</td>\r\n     </tr>\r\n     <tr>\r\n       <td style=\"text-align: left\">DEFAULT_OPERATION</td>\r\n       <td>✓</td>\r\n       <td></td>\r\n     </tr>\r\n     <tr>\r\n       <td style=\"text-align: left\">FRAUD</td>\r\n       <td>✓</td>\r\n       <td>✓</td>\r\n     </tr>\r\n   </tbody>\r\n</table>\r\n\r\n_Exception_: If the reason is `FRAUD`, the claimer may additionally cancel portability with status `CONFIRMED`.\r\n\r\n</br>\r\n\r\n### Possession claim\r\n\r\nStatus must be `WAITING_RESOLUTION` or `CONFIRMED`.\r\n\r\nIf cancellation reason is `DEFAULT_OPERATION`, user key possession validation period\r\nclaimer must have passed.\r\n\r\nThe claimer is the person who can cancel a possession claim. <small>_See exception below_</small>\r\n\r\n_Exception_: If the reason is `FRAUD`, the donor may additionally cancel possession claim.\r\n\r\n<br/>\r\n\r\n### Idempotence\r\n   The operation is idempotent. If the claim has already been canceled with the same parameters,\r\na response equivalent to the first request will be returned."
  /v2/pix/dict/claim/{claimId}/complete/{requestId}:
    post:
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            ClaimIdComplete:
              value: cc91b1b0-8465-44b1-a760-15dd3717ea9b
          name: claimId
          description: claimId returned when creating a claim.
          schema:
            type: string
          in: path
          required: true
        - examples:
            RequestId:
              value: a946d533-7f22-42a5-9a9b-e87cd55c0f4d
          name: requestId
          description: Idempotency key. UUID v4.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimCompleteResponse'
              examples:
                PixDICTClaimCompleteResponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      claim:
                        type: OWNERSHIP
                        key: '+5561988887777'
                        keyType: PHONE
                        claimerAccount:
                          participant: '30306294'
                          branch: '0001'
                          accountNumber: '2227654330'
                          accountType: CACC
                          openingDate: '2020-08-17T13:48:36Z'
                        claimer:
                          type: NATURAL_PERSON
                          taxIdNumber: '23452233301'
                          name: Antonio Jose Raimundo
                        donorParticipant: '30306294'
                        id: cc91b1b0-8465-44b1-a760-15dd3717ea9b
                        status: COMPLETED
                        completionPeriodEnd: '2020-08-31T13:48:55.970Z'
                        resolutionPeriodEnd: '2020-08-24T13:48:55.970Z'
                        lastModified: '2020-08-17T13:48:55.970Z'
                        correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                        responseTime: '2020-12-04T16:34:07.944Z'
                      entryCreationDate: '2020-01-10T10:00:00Z'
                      keyOwnershipDate: '2019-11-18T03:00:00Z'
          description: The successful response with the completed DICT claim.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-complete-v2
      summary: Complete a claim
      description: "Completes claim by claimer. As a result, the link between the key and the claiming party is created.\r\n\r\nFor ownership claim, status must be `CONFIRMED` and deadline defined by field `CompletionPeriodEnd`\r\nmust have passed.\r\n\r\nFor portability, status must be `CONFIRMED`."
  /v2/pix/dict/claim/{claimId}/confirm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDICTClaimConfirmRequest'
            examples:
              CreatePixDICTClaimConfirmRequest:
                value:
                  reason: USER_REQUESTED
        required: true
      tags:
        - Dict-Bacen-Claim V2
      parameters:
        - examples:
            ClaimIdConfirm:
              value: cc91b1b0-8465-44b1-a760-15dd3717ea9b
          name: claimId
          description: claimId returned when creating a claim.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTClaimGetResponse'
              examples:
                PixDICTClaimConfirmResponse:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      type: OWNERSHIP
                      key: '+5561988887777'
                      keyType: PHONE
                      claimerAccount:
                        participant: '30306294'
                        branch: '0001'
                        accountNumber: '2227654330'
                        accountType: CACC
                        openingDate: '2020-08-17T13:48:36Z'
                      claimer:
                        type: NATURAL_PERSON
                        taxIdNumber: '23452233301'
                        name: Antonio Jose Raimundo
                      donorParticipant: '30306294'
                      id: cc91b1b0-8465-44b1-a760-15dd3717ea9b
                      status: CONFIRMED
                      completionPeriodEnd: '2020-08-31T13:48:55.970Z'
                      resolutionPeriodEnd: '2020-08-24T13:48:55.970Z'
                      lastModified: '2020-08-17T13:48:55.970Z'
                      confirmReason: DEFAULT_OPERATION
                      cancelReason: FRAUD
                      cancelledBy: DONOR
                      correlationId: 1ff67d7021fdb4e34ea9a8093da219a7
                      responseTime: '2020-12-04T16:34:07.944Z'
          description: The successful response with the confirmed DICT claim.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-claim-confirm-v2
      summary: Confirm a DICT claim
      description: "Confirms the claim operation. As a consequence, the link between the key and the donor participant is removed.\r\n\r\nStatus must be in `WAITING_RESOLUTION`.\r\n\r\nFor ownership claims, if the reason is `DEFAULT_OPERATION`, the resolution period (`ResolutionPeriodEnd`)\r\n   must have passed. If the reason given is `USER_REQUESTED`, the closing period (`CompletionPeriodEnd`)\r\n   will be advanced to allow for immediate termination by the claimant.\r\n\r\nThe table below defines, depending on the reason and type, who can confirm.\r\n\r\n<table>\r\n   <thead>\r\n     <tr>\r\n       <th></th>\r\n       <th colspan=\"2\">OWNERSHIP</th>\r\n       <th colspan=\"2\">PORTABILITY</th>\r\n     </tr>\r\n     <tr>\r\n       <th>Reason</th>\r\n       <th>Donor</th>\r\n       <th>Claimant</th>\r\n       <th>Donor</th>\r\n       <th>Claimant</th>\r\n     </tr>\r\n   </thead>\r\n   <tbody>\r\n     <tr>\r\n       <td>USER_REQUESTED</td>\r\n       <td>✓</td>\r\n       <td></td>\r\n       <td>✓</td>\r\n       <td></td>\r\n     </tr>\r\n     <tr>\r\n       <td>ACCOUNT_CLOSURE</td>\r\n       <td></td>\r\n       <td></td>\r\n       <td>✓</td>\r\n       <td></td>\r\n     </tr>\r\n     <tr>\r\n       <td>DEFAULT_OPERATION</td>\r\n       <td>✓</td>\r\n       <td></td>\r\n       <td></td>\r\n       <td></td>\r\n     </tr>\r\n   </tbody>\r\n</table>"
  /v2/pix/dict/entry:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixDICTCreateRequest'
            examples:
              CreatePixDictNaturalPerson:
                value:
                  key: email@gmail.com
                  reason: USER_REQUESTED
                  branch: '10'
                  accountNumber: '5543'
                  accountType: CACC
                  taxId: '11122233304'
                  name: JOAO SILVA A
                  openingDate: '2020-08-13T13:49:03Z'
                  requestId: 25824979-1006-49d7-b778-e3d3c663605f
              CreatePixDictLegalPerson:
                value:
                  reason: USER_REQUESTED
                  key: '66486782000129'
                  branch: '0011'
                  accountNumber: '98765432'
                  accountType: 1
                  taxId: '66486782000129'
                  name: NOVA GERECAO USADOS SA
                  tradeName: GERACAO USADOS
                  openingDate: '2020-10-08T00:00:00Z'
                  requestId: c9d0fc25-8c03-46c6-96d7-c68b0ea1bee8
        required: true
      tags:
        - Dict-Bacen-Entry V2
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTEntryResponse'
              examples:
                NaturalPersonEntryResponse:
                  value:
                    version: 1.0.0
                    status: 201
                    body:
                      requestId: ae77ee6a-763c-469d-8651-e8e0aec28f91
                      key: email@gmail.com
                      keyType: EMAIL
                      account:
                        participant: '30306294'
                        branch: '10'
                        accountNumber: '5543'
                        accountType: CACC
                        openingDate: '2020-08-13T13:49:03Z'
                      owner:
                        type: NATURAL_PERSON
                        taxIdNumber: '11122233304'
                        name: JOAO SILVA A
                      creationDate: '2020-08-19T21:41:37.160Z'
                      keyOwnershipDate: '2020-08-19T21:39:30.279Z'
                      correlationId: 7aa6df632ca9f4602c1cb0fbcfc73d61
                      responseTime: '2020-12-04T12:44:40.816Z'
                LegalPersonEntryResponseTradeName:
                  value:
                    version: 1.3.8-admin.1+1
                    status: 201
                    body:
                      requestId: c9d0fc25-8c03-46c6-96d7-c68b0ea1bee8
                      key: '66486782000129'
                      keyType: CNPJ
                      account:
                        participant: '18189547'
                        branch: '0011'
                        accountNumber: '98765432'
                        accountType: CACC
                        openingDate: '2020-10-08T00:00:00Z'
                      owner:
                        type: LEGAL_PERSON
                        taxIdNumber: '66486782000129'
                        name: NOVA GERECAO USADOS SA
                        tradeName: GERACAO USADOS
                      creationDate: '2021-03-25T14:26:00.964Z'
                      keyOwnershipDate: '2021-03-25T14:26:00.959Z'
                      correlationId: 1f416a2c01fcdbb72a55e179e8d6c703
                      responseTime: '2021-03-25T14:26:01.021Z'
          description: The successful response with the created DICT entry.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '429':
          description: Too many requests. Try wait and call again later.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          description: Received a timeout of an internal api. Check if the resource is created using the search api or by receiving a webhook notification.
      security:
        - BaaSAuthorizer: []
      operationId: pix-dict-v2
      summary: Create a new entry
      description: Creates a new transactional account key link.
  /v2/pix/dict/entry/{key}:
    get:
      tags:
        - Dict-Bacen-Entry V2
      parameters:
        - examples:
            Email:
              value: fulano@gmail.com
            CPF:
              value: '12345678900'
            Phone:
              value: 5510998765432
            CNPJ:
              value: '66486782000129'
          name: key
          description: The DICT key.
          schema:
            type: string
          in: path
          required: true
        - name: PI-PayerId
          description: Identifier of the payer that originated the request. Used for rate limitation.
          schema:
            pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
            type: string
          in: header
          required: true
        - name: PI-EndToEndId
          description: End-to-end payment identifier associated with this request. Must be passed on the payment request.
          schema:
            pattern: ^\w{32}$
            type: string
          in: header
          required: true
        - name: includeStatistics
          description: Include anti fraud data in the response.
          schema:
            type: boolean
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixDICTEntryGetResponseV2'
              examples:
                entry-natural-person:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      key: '11122233300'
                      keyType: CPF
                      account:
                        participant: '12345678'
                        branch: '0001'
                        accountNumber: '0007654321'
                        accountType: CACC
                        openingDate: '2010-01-10T03:00:00Z'
                      owner:
                        type: NATURAL_PERSON
                        taxIdNumber: '11122233300'
                        name: João Silva
                      creationDate: '2018-01-17'
                      keyOwnershipDate: '2018-01-17'
                      openClaimCreationDate: some text
                      responseTime: '2020-01-10T10:00:00Z'
                      correlationId: a9f13566e19f5ca51329479a5bae60c5
                entry-include-statistics:
                  value:
                    status: 200
                    version: 1.0.0
                    body:
                      key: '11122233300'
                      keyType: CPF
                      account:
                        participant: '12345678'
[...]
