openapi: 3.0.1
info:
  title: BTG Pactual Banking as a Service (Transactions)
  version: 2.0.0
  description: "Digital plataform developed by BTG Pactual engineers as an on demand banking service provider.\r\n\r\n[**Documentation Hub**](https://developer.btgpactual.com/dochub)  \r\n    - [Commom Methods](https://developer.btgpactual.com/doccm)  \r\n    - [Onboarding](https://developer.btgpactual.com/docob)  \r\n    - [Transactions](https://developer.btgpactual.com/doctr)  \r\n    - [Openfinance](https://developer.btgpactual.com/docbk)  \r\n    - [PIX Commom Funcionalities](https://developer.btgpactual.com/docpc)  \r\n    - [PIX Indirect Participant](https://developer.btgpactual.com/docpi)  \r\n    - [PIX Merchant Clients](https://developer.btgpactual.com/docpm)  \r\n\r\n|BaaS Transactions API| |\r\n|------------------------|-------------------------------|\r\n|Sandbox |https://api.sandbox.developer.btgpactual.com/tr|\r\n|Sandbox (with mTLS) |https://sandbox.developer.api.btgpactual.com/tr|\r\n|Production |https://api.developer.btgpactual.com/tr|\r\n|Production (with mTLS) |https://developer.api.btgpactual.com/tr|\r\n\r\n\r\n## Response Envelopes\r\n\r\nAll our responses follow the same pattern. They are sent respecting a default response envelope as shown bellow.\r\n```\r\n# Default Envelope\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 204\r\n}\r\n\r\n# Envelope with response body\r\n{\r\n    \"version\": \"0.1.0\",\r\n    \"status\": 201,\r\n    \"body\": {\r\n        \"exampleValue\": \"30306294\"\r\n    }\r\n}\r\n\r\n```\r\n\r\n## Error Messages\r\n\r\nAll errors returned from one of ours APIs will follow the same pattern as shown bellow. They will be always contained in an invelope as the example. \r\n\r\n\r\n```\r\n# Default Envelope\r\n{\r\n    \"status\": 404,\r\n    \"version\": \"1.0.0\"\r\n}\r\n\r\n# Envelope with optional error codes\r\n{\r\n    \"version\": \"1.0.0\",\r\n    \"status\": 400,\r\n    \"errors\": [\r\n        {\r\n            \"errorCode\": \"PCE001\",\r\n            \"message\": \"The field 'name' is mandatory.\"\r\n        }\r\n    ]\r\n}\r\n```\r\n"
  contact:
    name: BTG Pactual Team
    url: https://developer.btgpactual.com
    email: baas@btgpactual.com
servers:
  - url: https://api.sandbox.developer.btgpactual.com/tr
    description: BaaS API (Sandbox)
  - url: https://sandbox.developer.api.btgpactual.com/tr
    description: BaaS API (Sandbox with mTLS)
  - url: https://api.developer.btgpactual.com/tr
    description: BaaS API (Production)
  - url: https://developer.api.btgpactual.com/tr
    description: BaaS API (Production with mTLS)
paths:
  /depositary-bank/assignees:
    get:
      tags:
        - Depositary Bank
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssigneesResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-assignees-get
      summary: Get all Assignees
      description: This method is called to get all assignees.
  /depositary-bank/payment-networks:
    get:
      tags:
        - Depositary Bank
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentNetworkResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-payment-networks-get
      summary: Get Payment Networks
      description: This method is called to get payment networks.
  /depositary-bank/assignee/{assigneeAccountId}:
    get:
      tags:
        - Depositary Bank
      parameters:
        - name: assigneeAccountId
          description: Id of the Assignee
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssigneeResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-assignee-get
      summary: Get a Assignee
      description: This method is called to get an assignee.
  /depositary-bank/card-issuer/search:
    get:
      tags:
        - Depositary Bank
      parameters:
        - name: paymentNetwork
          schema:
            description: The Payment Network of the value to be reserved
            enum:
              - VISA
              - MASTERCARD
              - ELO
              - HIPERCARD
            type: string
          in: query
        - name: taxId
          schema:
            description: Tax ID (CNPJ) of the card issuer
            type: string
          in: query
        - name: cardIssuerId
          schema:
            description: ID of the card issuer
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardIssuersResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-card-issuer-get
      summary: Get Card Issuers
      description: This method is called to get card issuers.
  /depositary-bank/credit-reservation:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditReservationRequest'
        required: true
      tags:
        - Depositary Bank
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditReservationResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-credit-reservation-post
      summary: Post credit reservation operation
      description: This method is called to post a credit reservation operation.
  /depositary-bank/credit-reservations/{dateFrom}/{dateTo}:
    get:
      tags:
        - Depositary Bank
      parameters:
        - name: paymentNetwork
          schema:
            description: The Payment Network of the value to be reserved
            enum:
              - VISA
              - MASTERCARD
              - ELO
              - HIPERCARD
            type: string
          in: query
        - name: dateFrom
          schema:
            description: 'The start date of the search. Format: yyyy-MM-dd'
            type: string
            example: '2024-01-15'
          in: path
          required: true
        - name: dateTo
          schema:
            description: 'The end date of the search. Format: yyyy-MM-dd'
            type: string
            example: '2024-06-15'
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditReservationsResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-credit-reservations-get
      summary: Get credit reservation operations
      description: This method is called to get credit reservation operations in a period, from dateFrom to dateTo.
  /depositary-bank/credit-reservation/{pactualId}:
    get:
      tags:
        - Depositary Bank
      parameters:
        - name: pactualId
          description: Id of the Operation
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditReservationResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-credit-reservation-get
      summary: Get credit reservation operation
      description: This method is called to get a credit reservation operation by its pactualId.
  /depositary-bank/credit-reservation/balance/{dateTo}:
    get:
      tags:
        - Depositary Bank
      parameters:
        - name: paymentNetwork
          schema:
            description: The Payment Network of the value to be reserved
            enum:
              - VISA
              - MASTERCARD
              - ELO
              - HIPERCARD
            type: string
          in: query
        - example: '2024-06-15'
          name: dateTo
          description: 'The end limit date of the search. It has to be a future date, and can''t be higher than one year from now. Format: yyyy-MM-dd'
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredReservBalanceResponse'
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: depositary-bank-credit-reservations-balance-get
      summary: Get credit reservation balance
      description: 'This method is called to get credit reservation balances of a period, from today until the dateTo parameter. '
  /payment/payment-slip/account/{accountId}:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipRequest'
        required: true
      tags:
        - Payment Slips
      parameters:
        - name: accountId
          description: 'The Account Id (Uuid) of Beneficiary. For example: {54c4ed21-5f1f-4942-a3f8-b96537566cb5}'
          schema:
            type: string
          in: path
          required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-slip-account
      summary: Generate a payment slip for specific account
      description: This method is called when sending single instances of payment slip to be processed by our infrastructure.
  /payment/payment-slip/bulk:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PaymentSlipRequest'
      tags:
        - Payment Slips
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      pactualBatchId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      items:
                        - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                          pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-slip-bulk
      summary: Generate multiple payment slips for default account (bulk)
      description: |-
        This method is called to send multiple instances of payment slip to be procesed by our infratructure.
        The maximum number of payment slips that can be created in the same request is 25.
  /payment/payment-slip/account/{accountId}/bulk:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PaymentSlipRequest'
      tags:
        - Payment Slips
      parameters:
        - name: accountId
          description: 'The Account Id (Uuid) of Beneficiary. For example: {54c4ed21-5f1f-4942-a3f8-b96537566cb5}'
          schema:
            type: string
          in: path
          required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      pactualBatchId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      items:
                        - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                          pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-slip-account-bulk
      summary: Generate multiple payment slips for specific account (bulk)
      description: |-
        This method is called to send multiple instances of payment slip to be procesed by our infratructure.
        The maximum number of payment slips that can be created in the same request is 25.
  /payment/payment-slip/bulk/{pactualBulkId}:
    get:
      tags:
        - Payment Slips
      parameters:
        - name: pactualBulkId
          description: Unique resource Identifier (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipBulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 100
                    body:
                      pactualBulkId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      items:
                        - pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                          clientRequestId: string
                          createTimestamp: string
                          lastUpdateTimestamp: string
                          entity: string
                          status: string
                          errorCode: string
                          errorDescription: string
                          tags:
                            - Warsupply
                            - Invoice_1234
                          body:
                            amount: 400000
                            dueDate: '2019-07-20'
                            customer:
                              name: Alex
                              taxId: '61718265298'
                              street: Av. Faria Lima, 0001
                              number: 13A
                              numberComplement: Sala 101 3 andar
                              neighborhood: Itaim Bibi
                              city: string
                              stateCode: string
                              zipCode: 12345678
                            fine:
                              date: '2019-07-20'
                              value: 1.1
                            interest:
                              date: '2019-07-20'
                              value: 1.1
                            discounts:
                              discount1:
                                date: '2020-07-01T00:00:00.000Z'
                                value: 15
                                type: '2'
                              discount2:
                                date: '2020-07-10T00:00:00.000Z'
                                value: 10
                                type: '2'
                              discount3:
                                date: '2020-07-15T00:00:00.000Z'
                                value: 5
                                type: '2'
                            guarantorDrawer:
                              documentType: 1
                              documentNumber: 26671395934
                              name: Tereza Silvana
                            ourNumber: string
                            ourNumberDigit: string
                            overdueDate: '2019-07-20'
                            description: string
                            issueDate: '2019-07-20'
                            barCode: '20898000000000001000001010000000003700451520'
                            digitableLine: '20890001091000000000937004515203800000000000100'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-slip-bulk-pactualBatchId
      summary: Get payment slips by bulk Id
      description: This method is called to get a payment slip bulk by passing the bulks pactulBulkId as a parameter.
  /payment/payment-slip/sync/account/{accountId}:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipRequest'
        required: true
      tags:
        - Payment Slips
      parameters:
        - name: accountId
          description: 'The Account Id (Uuid) of Beneficiary. For example: {54c4ed21-5f1f-4942-a3f8-b96537566cb5}'
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipGetResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 100
                    body:
                      pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      clientRequestId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      entity: string
                      status: string
                      errorCode: string
                      errorDescription: string
                      tags:
                        - Warsupply
                        - Invoice_1234
                      body:
                        amount: 400000
                        dueDate: '2019-07-20T00:00:00.000Z'
                        customer:
                          name: Alex
                          taxId: '12345678910'
                          street: Av. Faria Lima, 0001
                          number: 13A
                          numberComplement: Sala 101 3 andar
                          neighborhood: Itaim Bibi
                          city: string
                          stateCode: string
                          zipCode: 12345678
                        fine:
                          date: '2019-07-20T00:00:00.000Z'
                          value: 1.1
                        interest:
                          date: '2019-07-20T00:00:00.000Z'
                          value: 1.1
                        discounts:
                          discount1:
                            date: '2020-07-01T00:00:00.000Z'
                            value: 15
                            type: '2'
                          discount2:
                            date: '2020-07-10T00:00:00.000Z'
                            value: 10
                            type: '2'
                          discount3:
                            date: '2020-07-15T00:00:00.000Z'
                            value: 5
                            type: '2'
                        overdueDate: '2019-07-20T00:00:00.000Z'
                        description: string
                        issueDate: '2019-07-20T00:00:00.000Z'
                        barCode: '20898000000000001000001010000000003700451520'
                        digitableLine: '20890001091000000000937004515203800000000000100'
                        ourNumber: string
                        ourNumberDigit: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-slip-sync-account
      summary: Generate a payment slip for specific account (Sync)
      description: Synchronous API for processing payment slips to an specific account.
  /payment/payment-slip/utilities/{digitableLine}:
    get:
      tags:
        - Bills
      parameters:
        - name: digitableLine
          description: Identification digitable line of the slip.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipUtilitiesResponse'
              examples:
                Example:
                  value:
                    version: 1.2.5
                    status: 200
                    body:
                      type: utilities
                      assignor: LIGHT
                      segment: ENERGY BILL
                      state: RJ
                      amount: 38716
                      digitableLine: '836500000000001600531077589007190012100361364381'
                      settlementDate: '2022-06-21'
                      startTime: '07:00'
                      endTime: '22:00'
                      dueDate: '2022-06-21'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-slip-utilities-digitableline
      summary: Get the information of a submitted Utilities Payment
      description: Use this endpoint in order to require the information of a submitted Utilities Payment by passing the payments digitable line.
  /payment/payment-slip/search:
    get:
      tags:
        - Payment Slips
      parameters:
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipSearchResponseBody'
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-slip-search
      summary: Payment slip search (max 10,000 hits)
      description: Use to search your generated payment slips. (you cannot page through more than 10,000 hits. To page through more hits, use the /financial-transaction/search/to-scroll.)
  /payment/payment-slip/search/to-scroll:
    get:
      tags:
        - Payment Slips
      parameters:
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipSearchResponseBody'
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-slip-search-to-scroll
      summary: Payment slip search (only more then 10,000 hits)
      description: |-
        Use to search payment slip transactions. (use this operation to page through more than 10,000 hits. For less, use the /payment/payment-slip/search)

        After the search request, use scroll (/payment/payment-slip/search/scroll) to request the next batch of results. The time between each request must be less than 2 minutes.
  /payment/payment-slip/search/scroll:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScrollRequest'
      tags:
        - Payment Slips
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipSearchResponseBody'
          description: The search response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: payment-slip-search-scroll
      summary: Next batch of results (Payment slip search)
      description: |-
        Retrieves the next batch of results of Payment slip search (/payment/payment-slip/search/to-scroll).

        The time between each request must be less than 2 minutes.

        The results that are returned from a scroll request reflect the state of the data at the time that the initial search request. Subsequent changes will only affect later search requests.        
  /payment/payment-slip/{pactualId}:
    get:
      tags:
        - Payment Slips
      parameters:
        - name: pactualId
          description: Unique resource Identifier (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSlipGetResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      clientRequestId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      entity: string
                      status: string
                      errorCode: string
                      errorDescription: string
                      tags:
                        - Warsupply
                        - Invoice_1234
                      body:
                        amount: 400000
                        dueDate: '2019-07-20T00:00:00.000Z'
                        customer:
                          name: Alex
                          taxId: '12345678910'
                          street: Av. Faria Lima, 0001
                          number: 13A
                          numberComplement: Sala 101 3 andar
                          neighborhood: Itaim Bibi
                          city: string
                          stateCode: string
                          zipCode: 12345678
                        fine:
                          date: '2019-07-20T00:00:00.000Z'
                          value: 1.1
                        interest:
                          date: '2019-07-20T00:00:00.000Z'
                          value: 1.1
                        discounts:
                          discount1:
                            date: '2020-07-01T00:00:00.000Z'
                            value: 15
                            type: '2'
                          discount2:
                            date: '2020-07-10T00:00:00.000Z'
                            value: 10
                            type: '2'
                          discount3:
                            date: '2020-07-15T00:00:00.000Z'
                            value: 5
                            type: '2'
                        guarantorDrawer:
                          documentType: 1
                          documentNumber: 26671395934
                          name: Tereza Silvana
                        overdueDate: '2019-07-20T00:00:00.000Z'
                        description: string
                        issueDate: '2019-07-20T00:00:00.000Z'
                        barCode: '20898000000000001000001010000000003700451520'
                        digitableLine: '20890001091000000000937004515203800000000000100'
                        movementId: string
                        amountPaid: 400000
                        movementDate: '2019-07-14T00:00:00Z'
                        ourNumber: string
                        ourNumberDigit: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Internal Server Error
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-slip-pactualId
      summary: Get a payment slip
      description: This method is called to get the information regarding a single payment slip by passing it's pactualId.
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipUpdateRequestBody'
            examples:
              Example:
                value:
                  description: string
                  amount: 0
                  dueDate: string
                  overdueDate: string
                  interest:
                    date: string
                    value: 0
                    code: AMOUNT_CALENDAR_DAYS
                  fine:
                    date: string
                    value: 0
                    code: FIXED_VALUE
                  clientRequestId: string
                  tags:
                    - string
        required: true
      tags:
        - Payment Slips
      parameters:
        - name: pactualId
          description: Unique resource Identifier (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: payment-slip-update
      summary: Payment Slip Update
      description: Use this method to update an already issued payment slip by passing it's pactualId.
  /payment/payment-slip/pay:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPaymentSlipRequest'
        required: true
      tags:
        - Bills
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-slip-bar-code
      summary: Pay a Bill transaction
      description: |-
        Use this endpoint in order to submit a Bill payment to our API from your own application.

        All Consumer bills with a digitable line are accepted Utilities such as water, light, telephone etc... It is also possible to pay Payment-Slips through this method.

        The amount passed is optional, however, if none is passed, the value recovered with the digitable line is the one that is going to be used in the transaction.
  /payment/payment-slip/pay/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPaymentSlipRequest'
        required: true
      tags:
        - Bills
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-slip-bar-code-account
      summary: Pay a Bill transaction with a specific account
      description: |-
        Use this endpoint in order to submit a Bill payment to our API from your own application using a specific account. The chosen debit account is the one impacted with the bill payment.

        All Consumer bills with a digitable line are accepted Utilities such as water, light, telephone etc... It is also possible to pay Payment-Slips through this method.

        The amount passed is optional, however, if none is passed, the value recovered with the digitable line is the one that is going to be used in the transaction.
    parameters:
      - examples:
          AccountId:
            value: 54c4ed21-5f1f-4942-a3f8-b96537566cb5
        name: accountId
        description: The Account Id (Uuid) of Beneficiary.
        schema:
          type: string
        in: path
        required: true
  /payment/payment-slip/pay/sub-account:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPaymentSlipSubAccountRequest'
        required: true
      tags:
        - Bills
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-payment-slip-pay-sub-account
      summary: Pay a Bill transaction with a sub-account
      description: |-
        Use this endpoint to send a bill payment debited from a sub-account. (This feature is used for specific cases and requires pre-configuration in baas)

        All Consumer bills with a digitable line are accepted Utilities such as water, light, telephone etc... It is also possible to pay Payment-Slips through this method.

        The amount passed is optional, however, if none is passed, the value recovered with the digitable line is the one that is going to be used in the transaction.
  /payment/payment-slip/pay/barcode:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipPayBarcodeRequestBody'
        required: true
      tags:
        - Bills
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      clientRequestId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca4
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: paymentslip-pay-barcode
      summary: Pay a Bill with Barcode
      description: Pay a bill by passing the transaction barcode value in the requisition body.
  /payment/payment-slip/pay/barcode/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipPayBarcodeRequestBody'
        required: true
      tags:
        - Bills
      parameters:
        - examples:
            AccountId:
              value: 54c4ed21-5f1f-4942-a3f8-b96537566cb5
          name: accountId
          description: The Account Id (Uuid) of Beneficiary.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      clientRequestId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca4
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: paymentslip-pay-barcode-specific-account
      summary: Pay a Bill with Barcode for a specific account
      description: Pay a bill by passing the transaction barcode value in the requisition body with a specific account.
  /payment/payment-slip/pay/barcode/sub-account:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPaymentSlipBarSubAccountRequest'
        required: true
      tags:
        - Bills
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      clientRequestId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-xxxx-xxxx-a2b3-eba424f6dca4
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: paymentslip-pay-barcode-sub-account
      summary: Pay a Bill with Barcode for a sub-account
      description: Use this endpoint to send a bill payment by barcode debited from a sub-account. (This feature is used for specific cases and requires pre-configuration in baas)
  /payment/payment-slip/cancel/{pactualId}:
    delete:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSlipCancelRequestBody'
            examples:
              Example:
                value:
                  reasonDescription: string
                  reason: ERROR_ISSUED
                  clientRequestId: string
                  tags:
                    - string
        required: true
      tags:
        - Payment Slips
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: 1.0.0
                    status: 200
                    body:
                      pactualId: 3fa85f64-xxx-xxxx-xxxx-2c963f66afa6
                      status: string
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-slip-cancel-pactualid
      summary: Cancel an issued payment Slip using the PactualId
      description: Use this method to cancel a an issued Payment Slip by passing the pactualId value in the request and the reason in the request body.
    parameters:
      - name: pactualId
        description: Unique resource Identifier (Uuid) generated by api.
        schema:
          type: string
        in: path
        required: true
  /payment/payment-slip/scheduler/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePaymentSlipPayRequestBody'
            examples:
              Example:
                value:
                  clientRequestId: daf17267-f26d-43e5-baef-074bb67c95c8
                  tags:
                    - string
                  amount: 1000
                  digitableLine: XXX93130225083141459905006305204870010000002XXX
                  payer:
                    name: string
                    taxId: string
        required: true
      tags:
        - Bills
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-scheduler-payment-slip-account
      summary: Schedule the Payment of a Bill transaction with a specific account
      description: 'Use this endpoint in order to schedule a payment of a submitted Bill payment to our API from your own application using a specific account. '
    parameters:
      - examples:
          AccountId:
            value: 54c4ed21-5f1f-4942-a3f8-b96537566cb5
        name: accountId
        description: The Account Id (Uuid) of Beneficiary.
        schema:
          type: string
        in: path
        required: true
  /payment/payment-slip/scheduler/barcode/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneOfSchedulePaymentSlipPayBarcodeRequestBody'
            examples:
              Example:
                value:
                  clientRequestId: daf17267-f26d-43e5-baef-074bb67c95c8
                  tags:
                    - string
                  amount: 1000
                  barcode: XXX931302250831414599050063005006305204870010000002XXX
                  payer:
                    name: string
                    taxId: string
        required: true
      tags:
        - Bills
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-scheduler-payment-slip-account-barcode
      summary: Schedule the Payment of a Bill transaction with a specific account and barcode value
      description: 'Use this endpoint in order to schedule a payment of a submitted Bill payment to our API from your own application using a specific account and it''s barcode value. '
    parameters:
      - examples:
          AccountId:
            value: 54c4ed21-5f1f-4942-a3f8-b96537566cb5
        name: accountId
        description: The Account Id (Uuid) of Beneficiary.
        schema:
          type: string
        in: path
        required: true
  /payment/payment-slip/scheduler/cancel/{pactualId}:
    delete:
      tags:
        - Bills
      parameters:
        - examples:
            Guid:
              value: '"6d294b8e-7c1a-44e1-9300-304e731e867c"'
          name: pactualId
          description: Unique resource Identifier (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                DeleteExample:
                  value:
                    version: 1.0.0
                    status: 200
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: delete-scheduler-payment-slip
      summary: Cancel schedule the Payment of a Bill transaction
      description: Use this endpoint in order to cancel schedule a payment of a submitted Bill payment to our API from your own application.
    parameters:
      - name: pactualId
        schema:
          type: string
        in: path
        required: true
  /payment/payment-slip/scheduler/pactualId/{pactualId}:
    get:
      tags:
        - Bills
      parameters:
        - examples:
            Guid:
              value: '"f7b6db6a-f202-4de0-abeb-c6d2fe3f0334"'
          name: pactualId
          description: Unique resource Identifier (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulerResponseBody'
              examples:
                response:
                  value:
                    version: 1.8.0
                    status: 200
                    body:
                      accountId: a75f68fa-85b0-4cb3-822e-d253844f57b7
                      scheduleDate: '2022-03-29'
                      scheduleDateTime: '2022-03-29T10:00:00+00:00'
                      pactualId: b0da44eb-8b06-46d5-8a21-5a4c834bfa03
                      clientRequestId: a75f68fa-85b0-4cb3-822e-d253844f57b7
                      createTimestamp: '2022-03-28T20:03:05.3795102+00:00'
                      lastUpdateTimestamp: '2022-03-28T20:03:05.3795708+00:00'
                      entity: FinancialScheduler
                      status: PENDING
                      body:
                        amount: 80006
                        digitableLine: '03399201595100028823681904501020389370000080006'
                        financialType: PaymentSlip
                      tags:
                        - test
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-scheduler-payment-slip
      summary: Get schedule the Payment of a Bill transaction
      description: Use this endpoint in order to get schedule a payment of a submitted Bill payment to our API from your own application.
  /payment/payment-slip/bank-slip/client-request-id/{clientRequestId}:
    get:
      tags:
        - Bills
      parameters:
        - examples:
            cid:
              value: ee9e1720-c9d4-441b-b1de-e0c07504454e
          name: clientRequestId
          description: The unique transaction identification given by the client side.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankSliClientRequestIdResponse'
              examples:
                Example:
                  value:
                    version: 1.6.1
                    status: 200
                    body:
                      status: CONFIRMED
                      pactualId: xxxxxxxx-4034-4d1a-9f06-e29a8e805491
                      amount: 12389
                      digitableLine: xxxxxxxx247086023000500000000000287670000012389
                      authentication: xxxxxxxx1b8846abbd3064ca7b180b6b
                      consumer: BAAS
                      issuer: BANK ABC
                      receiverBankCode: 208
                      dueDate: '20211008'
                      fine: 0
                      discount: 0
                      interest: 0
                      paymentDate: '20211207'
                      beneficiary:
                        name: BANK ABC
                        taxId: XXXXXX90000104
                      accountInformation:
                        accountType: CC
                        personType: F
                        taxId: XXXX3440704
                        account: 32161
                        cge: 0
                        branch: 20
                        bank: 208
                        name: John Doe
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-payment-slip-bank-slip-client-request-id
      summary: Get a Bill transaction using the Client Request Id
      description: Use this endpoint access the information of a valid bill payment by passing the payments Client Request Id.
  /topup/providers:
    get:
      tags:
        - Top Up
      parameters:
        - name: category
          description: "PHONE, GAMES, TV, TRANSPORT, DIGITAL_CONTENT\r\n\r\n> The Enum string values are NOT case sensitive. "
          schema:
            enum:
              - PHONE
              - GAMES
              - TV
              - TRANSPORT
              - DIGITAL_CONTENT
            type: string
          in: query
          required: false
        - name: stateCode
          description: ''
          schema:
            type: integer
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupProvidersResponse'
              examples:
                Example:
                  value:
                    version: 1.0.3
                    status: 200
                    body:
                      providers:
                        - name: Bilhete unico
                          providerId: 2142
                          category: TRANSPORT
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-topup-providers
      summary: Get Top Up Providers
      description: |-
        Retrieves the providers filtered by category and state code.

        > If the category query parameter is not sent, all available topup providers from all categories are returned.
  /topup/products/{providerId}:
    get:
      tags:
        - Top Up
      parameters:
        - name: stateCode
          description: ''
          schema:
            type: integer
          in: query
        - name: providerId
          schema:
            type: string
          in: path
          required: true
        - name: clientIdentification
          description: ''
          schema:
            format: int32
            type: integer
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupProvidersResponse'
              examples:
                Example:
                  value:
                    version: 1.0.3
                    status: 200
                    body:
                      products:
                        - maxValue: 3500
                          minValue: 3500
                          productName: ''
                          quotaValue: 3500
                        - maxValue: 5000
                          minValue: 5000
                          productName: ''
                          quotaValue: 5000
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-topup-providers-products
      summary: Get Top Up Providers Products
      description: |-
        Retrieves the providers filtered by category and state code.

        > The clientIdentification query parameter is required if the provider belongs to 4 = TRANSPORT category. If the clientIdentification is not sent or is invalid, it will return a 404 error saying that the provider was not found (transport providers only).
  /topup/pay/phone:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpPhonePayRequest'
        required: true
      tags:
        - Top Up
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-phone
      summary: Phone Top Up
      description: Sends a request to make a Phone top up.
  /topup/pay/signature:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpSignaturePayRequest'
        required: true
      tags:
        - Top Up
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-signature
      summary: Signature Top Up
      description: 'Sends a request to make a signature topup. Use this endpoint to make top up signatures to provider with the following options: 2 = Games, 3 = TV and 5 = Digital Content categories.'
  /topup/pay/phone/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpPhonePayRequest'
        required: true
      tags:
        - Top Up
      parameters:
        - name: accountId
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-phone-specific-account
      summary: Phone Top Up to a Specific Account
      description: Sends a request to make a Phone Topup to a specific accountId, the account must belong to the same ClientId on the Bearer Token used on the request, otherwise there will be a validation error.
  /topup/pay/signature/{accountId}:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpSignaturePayRequest'
        required: true
      tags:
        - Top Up
      parameters:
        - name: accountId
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-signature-specific-account
      summary: Signature Top Up to a Specific Account
      description: 'Sends a request to make a signature topup to a specific account. Use this endpoint to make top up signatures to provider with the following options: 2 = Games, 3 = TV and 5 = Digital Content categories.'
  /topup/pay/phone/sub-account:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpPhonePaySubAccountRequest'
        required: true
      tags:
        - Top Up
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-phone-sub-account
      summary: Phone Top Up with sub-account
      description: Sends a request to make a Phone top up debited from a sub-account. (This feature is used for specific cases and requires pre-configuration in baas).
  /topup/pay/signature/sub-account:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpSignaturePaySubAccountRequest'
        required: true
      tags:
        - Top Up
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-topup-signature-sub-account
      summary: Signature Top Up with sub-account
      description: 'Sends a request to make a signature topup debited from a sub-account. (This feature is used for specific cases and requires pre-configuration in baas). Use this endpoint to make top up signatures to provider with the following options: 2 = Games, 3 = TV and 5 = Digital Content categories.'
  /topup/{pactualId}:
    get:
      tags:
        - Top Up
      parameters:
        - name: pactualId
          description: ''
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupResponse'
              examples:
                Example:
                  value:
                    version: 1.0.3
                    status: 200
                    body:
                      pactualId: ce0063ae-d12a-49e7-87dd-ba4b21235c09
                      clientRequestId: 1a700b8c-f376-4b60-9416-07beeecb2c81
                      createTimestamp: '2020-09-14T18:20:11.2837151+00:00'
                      lastUpdateTimestamp: '2020-09-14T18:20:31.6359848+00:00'
                      entity: Topup
                      status: CONFIRMED
                      errorCode: ''
                      errorDescription: ''
                      body:
                        origin: BAAS
                        topupDetail:
                          code: 0
                          qtyTopup: 0
                          provider:
                            name: Claro
                            providerId: 1187
                            category: PHONE
                          topupPhone:
                            stateCode: 11
                            countryCode: 55
                            number: 332655638
                          amount: 1500
                        accountInformation:
                          accountId: 1319434a1-6da7-4748-9d09-6849f4b372c6
                          clientId: 1a722b8c-f377-4b60-9416-07beeecb2c81
                          account: 37466109
                          branch: 30
                          bank: 208
                          taxId: 946138660188
                          name: PARTNERS LTDA
                          personType: J
                          accountType: CC
                          status: CREATED
                          bankBranchAccount: '208_30_37480109'
                          createTimestamp: '2020-09-01T18:50:56.9472357+00:00'
                          lastUpdateTimestamp: '2020-09-01T18:50:56.9472465+00:00'
                          beneficiaryTreatyCode: 7324397876994911
                          beneficiaryMarketTreatyCode: '01'
                          defaultAccount: true
                          markups:
                            - SLC0001
                            - aliasbank
                      tags: []
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbiden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-topup
      summary: Get Top Up
      description: Retrieves the top up associated with the given pactualId.
  /transfer/external:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
            examples:
              Example:
                value:
                  clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                  branchFrom: 20
                  accountFrom: 340475
                  bankTo: 237
                  branchTo: 1
                  accountTo: 288761
                  taxIdTo: '43985916000150'
                  nameTo: ABC Fund
                  amount: 50000
                  accountTypeTo: CC
        required: true
      tags:
        - External Transfers
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: '1.0'
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-external
      summary: Process a transfer to external account
      description: This method is called to send individual instances of external payments to be processed by our infrastructure.
  /transfer/external/{pactualId}:
    get:
      tags:
        - External Transfers
      parameters:
        - examples:
            PID:
              value: 0378dce3-36e9-4dd7-9581-d40212a0909b
          name: pactualId
          description: Unique resource identificator (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTransferResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 200
                    body:
                      pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      clientRequestId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      entity: string
                      status: string
                      errorCode: string
                      errorDescription: string
                      body:
                        movementId: string
                        amount: 0
                        debitParty:
                          bank: 0
                          branch: 0
                          account: 0
                          name: string
                          taxId: string
                          personType: 0
                          accountType: 0
                        creditParty:
                          bank: 0
                          branch: 0
                          account: 0
                          name: string
                          taxId: string
                          personType: 0
                          accountType: 0
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-transfer-external-pactualId
      summary: Get a external transfer
      description: This method is called to get a single external payment instance by passing the pactualId of the target payment as a parameter.
  /transfer/external/bulk:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PaymentRequest'
            examples:
              Example:
                value:
                  - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                    branchFrom: 20
                    accountFrom: 340475
                    bankTo: 237
                    branchTo: 1
                    accountTo: 288761
                    taxIdTo: '43985916000150'
                    nameTo: ABC Fund
                    amount: 50000
                    accountTypeTo: CC
        required: true
      tags:
        - External Transfers
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      pactualBatchId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      items:
                        - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                          pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-external-bulk
      summary: Process multiple transfers to external accounts (Bulk)
      description: |-
        This method is called when sending multiple instances of external payment to be processed by our infrastructure.
        The maximum number of payment slips that can be created in the same request is 25.
  /transfer/external/bulk/{pactualBulkId}:
    get:
      tags:
        - External Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialMovementGetBulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 100
                    body:
                      pactualBatchId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      items:
                        - pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                          clientRequestId: string
                          createTimestamp: string
                          lastUpdateTimestamp: string
                          entity: string
                          status: string
                          errorCode: string
                          errorDescription: string
                          body:
                            movementId: string
                            amount: 0
                            debitParty:
                              bank: 0
                              branch: 0
                              account: 0
                              name: string
                              taxId: string
                              personType: 0
                              accountType: 0
                            creditParty:
                              bank: 0
                              branch: 0
                              account: 0
                              name: string
                              taxId: string
                              personType: 0
                              accountType: 0
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-transfer-externa-bulkl-pactualBatchId
      summary: Get many external transfers by bulk Id
      description: This method is called to get a bulk of external transfers by passing the pactualBulkId of the needed transfer bulk.
    parameters:
      - examples:
          PID:
            value: 0378dce3-36e9-4dd7-9581-d40212a0909b
        name: pactualBulkId
        description: Unique resource identificator (Uuid) generated by api.
        schema:
          type: string
        in: path
        required: true
  /transfer/external/alias:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
            examples:
              Example:
                value:
                  clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                  branchFrom: 20
                  accountFrom: 340475
                  bankTo: 237
                  branchTo: 1
                  accountTo: 288761
                  taxIdTo: '43985916000150'
                  nameTo: ABC Fund
                  amount: 50000
                  accountTypeTo: CC
        required: true
      tags:
        - External Transfers
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: '1.0'
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-external-alias
      summary: Process a transfer to external account verified by a third party
      description: This method is called in case the validation of an instance of external payment needs to be done by a third party infrastructure. This process is called as "Alias Bank".
  /transfer/external/destination-validate:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
            examples:
              Example:
                value:
                  clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                  branchFrom: 20
                  accountFrom: 340475
                  bankTo: 237
                  branchTo: 1
                  accountTo: 288761
                  taxIdTo: '43985916000150'
                  nameTo: ABC Fund
                  amount: 50000
                  accountTypeTo: CC
        required: true
      tags:
        - External Transfers
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: '1.0'
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: Accepted
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-external-validate
      summary: Process a external transfer to validated destination account
      description: This method is called to send external transfers to validate the destination account.
  /transfer/external/search:
    get:
      tags:
        - External Transfers
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          $ref: '#/components/responses/SuccessTransferSearchResponse'
      security:
        - BaaSAuthorizer: []
      operationId: external-transfer-search
      summary: External transfer search (max 10,000 hits)
      description: 'Use to search your generated external transfers. (you cannot page through more than 10,000 hits. To page through more hits, use the /transfer/external/search/to-scroll.)    '
  /transfer/external/search/to-scroll:
    get:
      tags:
        - External Transfers
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
          description: 'The field to use to filter the items by date time. The value must be "createTimestamp" or "lastUpdateTimestamp". Default: createTimestamp.'
          schema:
            type: string
          in: query
      responses:
        '200':
          $ref: '#/components/responses/SuccessTransferSearchResponse'
      security:
        - BaaSAuthorizer: []
      operationId: external-transfer-search-to-scroll
      summary: External transfer search (only more then 10,000 hits)
      description: |-
        Use to search your generated external transfers. (use this operation to page through more than 10,000 hits. For less, use the /transfer/external/search)

        After the search request, use scroll (/transfer/external/search/scroll) to request the next batch of results. The time between each request must be less than 2 minutes.    
  /transfer/external/search/scroll:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScrollRequest'
      tags:
        - External Transfers
      responses:
        '200':
          $ref: '#/components/responses/SuccessTransferSearchResponse'
      security:
        - BaaSAuthorizer: []
      operationId: external-transfer-search-scroll
      summary: Next batch of results (External transfer search)
      description: |-
        Retrieves the next batch of results of External transfer search (/transfer/external/search/to-scroll).

        The time between each request must be less than 2 minutes.

        The results that are returned from a scroll request reflect the state of the data at the time that the initial search request. Subsequent changes will only affect later search requests.          
  /transfer/internal:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            examples:
              Example:
                value:
                  clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                  branchFrom: 20
                  accountFrom: 340475
                  branchTo: 1
                  accountTo: 288761
                  amount: 50000
      tags:
        - Internal Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-internal
      summary: Process a transfer to internal account
      description: This method is called to send a single instance of internal tranfer to be processed by our infrastructure.
  /transfer/internal/{pactualId}:
    get:
      tags:
        - Internal Transfers
      parameters:
        - name: pactualId
          description: Unique resource identificator (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTransferResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 100
                    body:
                      pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      clientRequestId: string
                      createTimestamp: string
                      lastUpdateTimestamp: string
                      entity: string
                      status: string
                      errorCode: string
                      errorDescription: string
                      body:
                        movementId: string
                        amount: 0
                        debitParty:
                          bank: 0
                          branch: 0
                          account: 0
                          name: string
                          taxId: string
                          personType: 0
                          accountType: 0
                        creditParty:
                          bank: 0
                          branch: 0
                          account: 0
                          name: string
                          taxId: string
                          personType: 0
                          accountType: 0
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-transfer-internal-pactualId
      summary: Get a internal transfer
      description: This method is called to get an instance of internal transfer by passing the transfers pactualId.
  /transfer/internal/bulk:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TransferRequest'
            examples:
              Example:
                value:
                  - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                    branchFrom: 20
                    accountFrom: 340475
                    branchTo: 1
                    accountTo: 288761
                    amount: 50000
      tags:
        - Internal Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      pactualBatchId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      items:
                        - clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                          pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfers-internal-bulk
      summary: Process many transfers to internal accounts (Bulk)
      description: |-
        This method is called to send multiple instances of internal transfer to be processed by our infrastructure.
        The maximum number of transfer slips that can be created in the same request is 25.
  /transfer/internal/bulk/{pactualBulkId}:
    get:
      tags:
        - Internal Transfers
      parameters:
        - examples:
            PID:
              value: 0378dce3-36e9-4dd7-9581-d40212a0909b
          name: pactualBulkId
          description: Unique resource identificator (Uuid) generated by api.
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialMovementGetBulkResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 100
                    body:
                      pactualBatchId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      items:
                        - pactualId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                          clientRequestId: string
                          createTimestamp: string
                          lastUpdateTimestamp: string
                          entity: string
                          status: string
                          errorCode: string
                          errorDescription: string
                          body:
                            movementId: string
                            amount: 0
                            debitParty:
                              bank: 0
                              branch: 0
                              account: 0
                              name: string
                              taxId: string
                              personType: 0
                              accountType: 0
                            creditParty:
                              bank: 0
                              branch: 0
                              account: 0
                              name: string
                              taxId: string
                              personType: 0
                              accountType: 0
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: get-transfer-internal-bulk-pactualBatchId
      summary: Get multiple internal transfers with the  bulk Id
      description: This method is called to get an internal tranfer bulk by passing the trasfers pactualBulkId as a request parameter.
  /transfer/internal/destination-validate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            examples:
              Example:
                value:
                  clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
                  branchFrom: 20
                  accountFrom: 340475
                  branchTo: 1
                  accountTo: 288761
                  amount: 50000
      tags:
        - Internal Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
              examples:
                Example:
                  value:
                    version: string
                    status: 202
                    body:
                      clientRequestId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca5
                      pactualId: bb6fb4eb-f0f7-46d7-a2b3-eba424f6dca4
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BaaSAuthorizer: []
      operationId: post-transfer-internal-validate
      summary: Process a internal transfer to validated destination account
      description: This method is called to send internal transfers to validate the destination account.
  /transfer/internal/search:
    get:
      tags:
        - Internal Transfers
      parameters:
        - examples:
            sortBy:
              value: lastUpdateTimestamp
          name: sortBy
          description: 'The field to use to sort the items. Default: createTimestamp.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateFrom
          description: 'Filter resources created from this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            date:
              value: '2020-02-01T00:00:00.000Z'
            dateAndTime:
              value: '2020-02-01T10:00:00.000Z'
          name: dateTo
          description: 'Filter resources created up to this date. Acceptable formats: yyyy-MM-dd or yyyy-MM-ddTHHH:mm-ss. All date and times are save in UTC.'
          schema:
            type: string
          in: query
        - examples:
            limit:
              value: '20'
          name: limit
          description: 'The number of total returned items. Default: 10. Max: 100.'
          schema:
            type: integer
          in: query
        - examples:
            start:
              value: '0'
          name: start
          description: 'The position of first returned item. Default: 0.'
          schema:
            type: integer
          in: query
        - examples:
            status:
              value: CONFIRMED
          name: status
          description: Status to filter. Can be repeated.
          schema:
            type: string
          in: query
        - name: tag
          description: Tag to filter. Can be repeated.
          schema:
            type: string
          in: query
        - examples:
            dateTimeField:
              value: createTimestamp
          name: dateTimeField
[...]
